{% extends "layout.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}

{% block pageTitle %}
Confirm incident (witness request) - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="01detailserror">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Confirm </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <form class="form" action="route_wit" method="post">
          <fieldset class="govuk-fieldset" aria-describedby="policeQuestion">
            <p>We believe you recently saw and / or overheard this incident between one of your colleagues and a customer. </p>
            <p>We have the following information about the incident. <br>(Reference number: <span aria-hidden='true'>INC-</span><span aria-hidden='false'>123-456-789</span>)</p>
            {{ govukSummaryList({
              rows: [
                {
                  key: {
                    text: "Customer"
                  },
                  value: {
                    text: "Robert De Silva"
                  }
                },
                {
                  key: {
                    text: "Reporter"
                  },
                  value: {
                    text: "Whitney Earl"
                  }
                },

                {
                  key: {
                    text: "Date and approximate time"
                  },
                  value: {
                    text: "22 April 2022 at 10:30am"
                  }
                },

                {
                  key: {
                    text: "Location"
                  },
                  value: {
                    text: "On the phone"
                  }
                }
              ]
            }) }}
            <br>
            <h2 class="govuk-heading-m">Did you see and / or hear this incident?</h2>
            {% set correctionsHtml %}
            {{ govukCharacterCount({
              name: "with-hint",
              id: "with-hint",
              maxlength: 3000,
              label: {
                text: "Please supply corrections",
                classes: "govuk-label--s"
              }
            }) }}
            {% endset -%}
            {{ govukRadios({
              idPrefix: "didyouwitness",
              name: "didyouwitness",
              hint: {
                text: "If you witnessed this incident, you must give us your account of it. "
              },
              items: [
                {
                  value: "yes",
                  text: "Yes, definitely",
                  hint: {
                    text: "To the best of my knowledge, the details above are correct. "
                  }
                },
                {
                  value: "yes",
                  text: "Yes, I did, but some of the details do not seem quite right",
                  hint: {
                    text: "I saw and / or heard this incident, but the details are not correct"
                  },
                  checked: true,
                  conditional: {
                    html: correctionsHtml
                  }
                },
                {
                  value: "no",
                  text: "No, I did not see or hear this incident"
                }
              ]
            }) }}
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue",
                href: "02comments-simple"
              }) }}
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <hr>
NOT PART OF DESIGN: Demo only<br>
There are x versions of this page<br>
<a href="01details_simple">1. Simple</a><br>
<a href="01details">2. Complex</a><br>
<a href="01details_onbehalf">3. On behalf of</a><br>
<hr>
{% endblock %}
