{% extends "layout.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}
{% block pageTitle %}
    Tell us what you saw or heard - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="03commentserror">feedback</a> will help us to improve it.'
      })
    }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
      {% set html %}
      <p class="govuk-notification-banner__heading">Keep to the facts and be as specific as possible.</p>
      <p class="govuk-notification-banner__heading">Do not include the names of any DWP staff in your answers.</p>
      {% endset %}
      {{ govukNotificationBanner({
        html: html
      }) }}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="description">
          {% include "templates/v6/govuk-caption-m.njk" %}
          {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
          {{ govukCharacterCount({
            id: "description",
            name: "Description",
            rows: "12",
            maxlength: 3000,
            label: {
              text: "Tell us what you saw and / or heard",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              html: "<p class='govuk-hint'>When making this witness report for a colleague, write &quot;my colleague saw&quot; or &quot;he / she / they saw&quot;, as applicable. </p>
                  <p class='govuk-hint'>Do not use your colleague's name.</p>"
            }
          }) }}
          <h2 class="govuk-heading-s">Confirm you have considered and added to the report <br>(where relevant):</h2>
          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          {{ govukCheckboxes({
            idPrefix: "checklist",
            name: "checklist",
            items: [
              {
                value: "words",
                text: "The exact words everyone used (including offensive language)"
              },
              {
                value: "start",
                text: "How the incident started"
              },
              {
                value: "issues",
                text: "All issues with the customer's behaviour"
              },
              {
                value: "end",
                text: "How the interaction with the customer ended"
              },
              {
                value: "feel",
                text: "How you felt about what happened"
              }
            ]
          }) }}
          {% from "govuk/components/button/macro.njk" import govukButton %}
          <div class="govuk-button-group">
            {{ govukButton({
          text: "Continue",
          href: "03check"
          }) }}
          </div>
        </fieldset>
      </div>
    </div>
  </div>
      <hr>
NOT PART OF DESIGN: Demo only<br>
There are 2 versions of this page<br>
<a href="02comments-simple">1. Simple</a><br>
<a href="02comments">2. On behalf of</a><br>
<hr>
{% endblock %}
