<style>
  .rule_white {
    margin: 0px;
    border-top: 1px solid #1d70b8b9;
    border-bottom: 0px;
  }
  p.report {
margin-bottom: 0px;
  }

</style>
<hr class="rule_white">
<div class="nav">
  <div class="govuk-grid-column-two-thirds">
    <p class="report">INC-123-456-789: In-person</p>
  </div>
  <!-- Strictly speaking shouldnt be "govuk-table__header--numeric" -->
  <div class="govuk-grid-column-one-third govuk-table__header--numeric">
    <!-- <strong class="govuk-tag govuk-tag--blue">
      In progress
    </strong> -->
  </div>
</div>