<hr>
NOT PART OF DESIGN: Demo only<br>
There are x versions of this page<br>
<a href="11a_upload">11a. Upload</a><br>
<a href="11b_uploading">11b. Uploading</a><br>
<a href="11c_upload_working">11c. Uploading - processing</a><br>
<a href="11d_uploaded1">11d. Uploaded 1 file</a><br>
<a href="11e_uploaded3">11e. Uploaded 3 files</a><br>
<a href="11f_upload_deleted">11f. Upload deleted</a><br>
<a href="11g_upload_error">11g. Upload error - file types</a><br>
<a href="11h_upload_error">11h. Upload error - size limit</a><br>
<a href="11i_upload_error">11i. Upload error - virus scan service failure</a><br>
<hr> 