  <style>
    .myDiv {
      border: 3px outset black;
      background-color: white;
      text-align: left;
      border-style: dashed;
      padding: 80px 30px 30px 15px;
      margin-bottom: 30px;
      width: fit-content;
    }
    .fullwidth {
      padding: 0 15px !important
    }
    input[type='file'] {
      display: none;
    }
    .mylabel {
      background-color: white;
      box-shadow: none;
      border-left: 0
    }
    .govuk-notification-banner__heading {
      max-width: none
    }
    .filter-green {
      filter: invert(28%) sepia(56%) saturate(1218%) hue-rotate(115deg) brightness(98%) contrast(103%);
      position: relative;
      top: 5px;
    }
    .nobottommnargin {
      margin-bottom: 0
    }
    input[type='file'] {
      display: none;
    }
    .mylabel {
      background-color: white;
      box-shadow: none;
      border-left: 0
    }
  </style>