
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-form-group">
  <a href="safeguarding.html" class="govuk-back-link">Back</a>
  <br></br>
  <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Your name
                </h1>
              </legend>
  <label class="govuk-label" for="full-name">
    First name
  </label>
  <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name">
  <div class="govuk-form-group">
          </div>

          <label class="govuk-label" for="full-name">
            Last name
          </label>
          <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name">
          <div class="govuk-form-group">
                  </div>
  <br></br>
    <a href="01yourmanager.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Continue
      </a>

</div>


{% endblock %}
