{% extends "layout_incident_landing.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}
{% block pageTitle %}
Witnesses - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
{% include "templates/v6/govuk-caption-m-simple.njk" %}
      <h1 class="govuk-heading-xl" id="pagetitle">Witnesses</h1>

<section aria-label="Incident witnesses" role="region">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-hint">This list shows everyone who has been named as a witness to this incident. We have emailed each of them, asking them to complete a witness report.</p>

      <p class="govuk-hint">They must all submit a witness report before you can complete your review.</p>

      {{ govukTable({
        caption: pagetitle,
        firstCellIsHeader: true,
        head: [
          {
            text: "Witness name"
          },
          {
            text: "Witness report"
          },
          {
            text: "Action"
          }
        ],
        rows: [
          [
            {
              text: "Sarah Sencha"
            },
            {
              html: "<span class='govuk-visually-hidden'>Witness report: </span>Complete"
            },
            {
              html: "<a href='07witness_report_simple'>View witness report <span class='govuk-visually-hidden'>Sarah Sencha witness report</span></a>"
            }
          ],
          [
            {
              text: "Isla Yellow"
            },
            {
              html: "<span class='govuk-visually-hidden'>Witness report: </span>Complete"
            },
            {
              html: "<a href='07witness_report'>View witness report <span class='govuk-visually-hidden'>Isla Yellow witness report</span></a>"
            }
          ],
          [
            {
              text: "Ted Lady"
            },
            {
              html: "<span class='govuk-visually-hidden'>Status: </span>Requested from: Ted Lady"
            },
            {
              html: "<a href='04add_witness_change'>Change<span class='govuk-visually-hidden'> Ted Lady witness report</span></a> <span aria-hidden='true'>|</span> <a href='08deletewitness'>Remove <span class='govuk-visually-hidden'> Ted Lady witness report</span></a>"
            }
          ],
          [
            {
              text: "Sartaq Assam"
            },
            {
              html: "<span class='govuk-visually-hidden'>Status: </span>Requested from: Whitney Earl"
            },
            {
              html: "<a href='04add_witness_change'>Change<span class='govuk-visually-hidden'> Sartaq Assam witness report</span></a> <span aria-hidden='true'>|</span> <a href='08deletewitness'>Remove <span class='govuk-visually-hidden'> Sartaq Assam witness report</span></a>"
            }
          ]
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Add another witness",
          classes: "govuk-button--secondary",
          href: "04add_witness"
        }) }}
        {{ govukButton({
          text: "Continue",
          href: "09police"
        }) }}
      </div>
    </fieldset>
  </div>
</section>
<hr>
NOT PART OF DESIGN: Demo only<br>
There are 3 versions of this page<br>
<a href="03witnessdisplay-1nowitnesses">1. No Witnesses indicated by reporter, no witness requests made</a><br>
<a href="03witnessdisplay-2yeswitnesses">2. Witnesses indicated by reporter, no witness requests made</a><br>
<a href="03witnessdisplay-3list">3. Witness requests made</a><br>
<hr>

{% endblock %}
