{% extends "layout.html" %}
{% block pageTitle %}
  Witnesses - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <section aria-label="Incident witnesses" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "templates/v6/govuk-caption-m-simple.njk" %}
        <h1 class="govuk-heading-xl">Witnesses</h1>
        <p class="govuk-body">There are currently no witnesses listed in this report.</p>
        <p class="govuk-body">Talk to the original reporter to find out if anyone witnessed this incident. If yes, select 'Add a witness' to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>add their details</li>
          <li>send each of them an email, explaining how to complete a witness report</li>
        </ul>
        <p class="govuk-body govuk-!-font-weight-bold">Every witness must complete a witness report before you can submit your review of this incident.</p>
      </div>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Add a witness",
            href: "04add_witness"
          }) }}
          {{ govukButton({
            classes: "govuk-button--secondary",
            text: "Continue",
            href: "09police"
          }) }}
        </div>
      </fieldset>
    </div>
  </section>
<hr>
NOT PART OF DESIGN: Demo only<br>
There are 3 versions of this page<br>
<a href="03witnessdisplay-1nowitnesses">1. No Witnesses indicated by reporter, no witness requests made</a><br>
<a href="03witnessdisplay-2yeswitnesses">2. Witnesses indicated by reporter, no witness requests made</a><br>
<a href="03witnessdisplay-3list">3. Witness requests made</a><br>
<hr>

{% endblock %}
