{% extends "layout.html" %}
{% block pageTitle %}
Witnesses - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
{% include "templates/v6/govuk-caption-m-simple.njk" %}
<section aria-label="Incident witnesses" role="region">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Witnesses</h1>
      <p class="govuk-body ">There are currently no witnesses to this incident.</p>
    </div>
  </div>

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Request a witness report",
          href: "04add_witness"
        }) }}
        {{ govukButton({
          text: "Upload a witness report file",
          classes: "govuk-button--secondary",
          href: "04add_witness"
        }) }}
        {{ govukButton({
          text: "Make a witness report for colleague",
          classes: "govuk-button--secondary",
          href: "04add_witness"
        }) }}
      </div>
    </fieldset>

  <fieldset class="govuk-fieldset">
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        classes: "govuk-button--secondary",
        href: "09police"
      }) }}
    </div>
  </fieldset>
</div>
</section>
<hr>
NOT PART OF DESIGN: Demo only<br>
<a href="03witnessdisplay-1nowitnesses">1. No Witnesses indicated by reporter, no witness requests made</a><br>
<a href="03witnessdisplay-2yeswitnesses">2. Witnesses indicated by reporter, no witness requests made</a><br>
<a href="03witnessdisplay-3list">3. Witness requests made</a><br>
<hr>
<a href="03witnessdisplayextra">4. Experimental: Buttons</a><br>
<a href="03witnessdisplayextraradio">5. Experimental: Radio</a><br>
{% endblock %}
