{% extends "layout_incident_landing.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}
{% block pageTitle %}
Witnesses - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
{% include "templates/v6/govuk-caption-m-simple.njk" %}
<section aria-label="Incident witnesses" role="region">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Witnesses</h1>

      {{ govukWarningText({
        text: "There were witnesses to the incident",
        iconFallbackText: "Warning"
      }) }}
      <p class="govuk-body ">The original reporter has indicated that one or more of their colleagues witnessed this incident. However, there are currently no witnesses listed in this report.
      </p>
      <p>Talk to the reporter to find out who witnessed this incident, then select 'Add a witness' to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>add their details</li>
        <li>send each of them an email, explaining how to complete a witness report</li>
      </ul><br>
      <p class="govuk-body govuk-!-font-weight-bold">Every witness must complete a witness report before you can submit your review of this incident.</p>
  </div>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Add a witness",
          classes: "govuk-button--secondary",
          href: "04add_witness"
        }) }}
        {{ govukButton({
          text: "Continue",
          href: "09police"
        }) }}
      </div>
    </fieldset>
  </div>
</section>
<hr>
NOT PART OF DESIGN: Demo only<br>
There are 3 versions of this page<br>
<a href="03witnessdisplay-1nowitnesses">1. No Witnesses indicated by reporter, no witness requests made</a><br>
<a href="03witnessdisplay-2yeswitnesses">2. Witnesses indicated by reporter, no witness requests made</a><br>
<a href="03witnessdisplay-3list">3. Witness requests made</a><br>
<hr>

{% endblock %}
