{% extends "layout.html" %}
{% block pageTitle %}
  Error: Who witnessed the incident? - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="04add_witnesserror2">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Tell us who witnessed this incident",
            href: "#witness"
          }
        ]
      }) }}
      {% include "templates/v6/govuk-caption-m-simple.njk" %}
      <form class="form" action="route_colleague" method="post">
        {% set meHTML %}
          {{ govukInput({
            label: {
              text: "Their full name"
            },
            id: "witness-full-name",
            name: "witness-full-name",
            autocomplete: "name"
          }) }}
        {% endset %}
        {% set noaccessHTML %}
          {{ govukInput({
            label: {
              text: "Their full name"
            },
            id: "witness-full-name",
            name: "witness-full-name",
            autocomplete: "name"
          }) }}
        {% endset %}
        {% set accessHTML %}
          {{ govukInput({
          label: {
            text: "Their email address"
          },
          id: "colleague-email",
          name: "witness-email",
          autocomplete: "email"
          }) }}
        {% endset %}
        {{ govukRadios({
          idPrefix: "witness",
          name: "witness",
          fieldset: {
            legend: {
              text: "Who witnessed the incident?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select one option."
          },
          items: [
            {
              value: "access",
              text: "Someone else who can access the service",
              conditional: {
              html: accessHTML
              }
            },
            {
              value: "noaccess",
              text: "Someone without access to the service",
              conditional: {
              html: noaccessHTML
              }
            },
            {
              value: "me",
              text: "I did"
            }
          ],
          errorMessage: {
            text: "Tell us who witnessed this incident"
          }
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        </div>
      </form>
    </div>
  </div>
<hr>
NOT PART OF DESIGN: Demo only<br>
<a href="04add_witness">1. Add witnesses </a><br>
<a href="04add_witness_change">2. Change witnesses </a><br>
<a href="04add_witnesserror_tellus">1. Error: Tell us who</a><br>
<a href="04add_witnesserror2_email">2. Error: Tell us email</a><br>
<a href="04add_witnesserror3_access">3. Error: Cannot access</a><br>
<a href="04add_witnesserror4_emailformat">4. Error: Not valid email address</a><br>
<a href="04add_witnesserror5_fullname">5. Error: Tell us name</a><br>
<hr>
{% endblock %}
