{% extends "layout_incident_landing.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}
{% block pageTitle %}
  Witness report - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
{% include "templates/v6/govuk-caption-m.njk" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Isla Yellow witness report
      </h1> 
      <div class="govuk-!-padding-bottom-9">
        <h2 class="govuk-heading-m" id="h2-overview">Original report details</h2>
            {{ govukSummaryList({
              rows: [
                {
                  key: {
                    html: "Incident occurred",
                    classes: "govuk-!-width-one-half"
                  },
                  value: {
                    text: "7 June 2022 at 11:09am",
                    classes: "govuk-!-width-one-half"
                  }
                },
                {
                  key: {
                    text: "Interaction type"
                  },
                  value: {
                    html: "In-person"
                  }
                },
                {
                  key: {
                    text: "Incident location"
                  },
                  value: {
                    html: "Car park"
                  }
                },
                {
                  key: {
                    html: "Incident reporter"
                  },
                  value: {
                    html: "<span class='govuk-visually-hidden'>Original reporter: </span><span class='govuk-body-s' style='color:#505a5f'>Whitney Earl on behalf of </span>Mike&nbsp;Black"                }
                }
              ]
            }) }}
      </div>
      <div class="govuk-!-padding-bottom-9">
        <h2 class="govuk-heading-m">Witness report</h2>
        <p class="govuk-body">I saw the customer stand up abruptly. He then lent over the desk and shouted at my colleague. I approached, asked the customer to calm down. He  turned toward me and called me a "power-hungry dictator". I told him that was inappropriate and asked him to leave. I escorted him out with no further problems.
        </p>
      </div>
      <div class="govuk-!-padding-bottom-9">
        
        <h2 class="govuk-heading-m">Witness contact details</h2>
        {{ govukSummaryList({
          rows: [
            {
        key: {
          text: "Name",
          classes: "govuk-!-width-one-half"
        },
        value: {
                    html: "<span class='govuk-visually-hidden'>Original reporter: </span><span class='govuk-body-s' style='color:#505a5f'>Sarah Sencha on behalf of </span>Isla&nbsp;Yellow",
          classes: "govuk-!-width-one-half"
        }
            },
            {
        key: {
          text: "Email address"
        },
        value: {
          text: "sarah@dwp.gov.uk"
        }
            },
            {
        key: {
          html: "Witness report reference",
          classes: "govuk-!-width-one-half"
        },
        value: {
          html: "<span aria-hidden='true'>WIT-</span>123-456-789",
          classes: "govuk-!-width-one-half"
        }
            }
          ]
        }) }}
      </div>
    </div>
  </div>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="witnessQuestion">
      <div class="govuk-button-group">
        {{ govukButton({
  text: "Return to witnesses",
        href: "03witnessdisplay-3list"
}) }}

      </div>
    </fieldset>
  </div>

<hr>
NOT PART OF DESIGN: Demo only<br>
There are 2 versions of this page<br>
<a href="07witness_report_simple">1. simple</a><br>
<a href="07witness_report">2. Complex</a><br>
<hr>
{% endblock %}
