{% extends "layout_incident_landing.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}

{% block pageTitle %}
Error: Add comments and recommendations - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
{% set html %}

<p class="govuk-notification-banner__heading">Keep to the facts and be as specific as possible.</p>
<p class="govuk-notification-banner__heading">Include reasons for each recommendation.</p>
<p class="govuk-notification-banner__heading">Do not include the names of any DWP staff in your answers.</p>
{% endset %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: "Enter your comments and recommendations",
        href: "#comments"
      },
      {
        text: "Confirm you have reviewed all the required information",
        href: "#checklist"
      }
    ]
  }) }}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    {{ govukNotificationBanner({
    html: html
    }) }}

    {% include "templates/v6/govuk-caption-m-simple.njk" %}
    <h1 class="govuk-heading-xl" id="page-title">Add comments and recommendations</h1>
    <p class="govuk-body">Add any comments or recommendations that you think will help decision makers set appropriate safety measures.</p>

    <p class="govuk-body">For example, a decision maker might decide: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>to send a warning letter to this customer</li>
      <li>that this customer should only have appointments in a screened environment</li>
      <li>that staff should only see this customer when accompanied by colleagues </li>
      <li>that this customer should not have any home visits </li>
      <li>that staff should only deal with this customer by post</li>
      <li>to ban this customer from a particular location </li>
    </ul>
    <p class="govuk-body">These are only examples - a decision maker can take actions that are not in this list. </p>
    <p class="govuk-body govuk-!-font-weight-bold">A decision maker will review your comments and recommendations before they make a decision.</p>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="label-as-page-heading">
        {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
        {{ govukCharacterCount({
        id: "comments",
        name: "comments",
        rows: "12",
        maxlength: 3000,
        errorMessage: {
          text: "Enter your comments and recommendations"
        },
        label: {
          text: "Comments and recommendations",
          classes: "govuk-body"
            }
        }) }}
        <h2 class="govuk-heading-s">Confirm that you have:</h2>
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {{ govukCheckboxes({
          idPrefix: "checklist",
          name: "checklist",
          errorMessage: {
            text: "Confirm you have reviewed all the required information"
          },
          items: [
            {
              value: "sources",
              text: "read, viewed or listened to all information / evidence in the report"
            },
            {
              value: "witnesses",
              text: "added all witnesses to the report"
            },
            {
              value: "comments",
              text: "added all relevant information that will help decision makers"
            },
            {
              value: "recommendations",
              text: "recommended all safety measures you think are appropriate"
            },
            {
              value: "justified",
              text: "added a reason for each recommendation"
            }
          ]
        }) }}
        {% from "govuk/components/button/macro.njk" import govukButton %}
        <div class="govuk-button-group">
          {{ govukButton({
          text: "Continue",
          href: "12check-simple"
          }) }}
        </div>
      </fieldset>
    </div>
  </div>
</div>
{% endblock %}
