
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-form-group">
  <a href="00witnessreport.html" class="govuk-back-link">Back</a>
  <br></br>
  <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What's the NINo of the citizen who was involved in the incident?
                </h1>
              </legend>

              <div class="govuk-form-group">
              <label class="govuk-label" for="address-county">
                NINo
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text"></div>
              <div class="govuk-form-group">
<p> I don't know </p>
  <div class="govuk-form-group">
          </div>



  <br></br>
    <a href="02statement.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Continue
      </a>

</div>


{% endblock %}
