
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="#" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
          </span>
        </span>
      </a>
    </div>
    <div class="govuk-header__content">
      <a href="../../../index.html" class="govuk-header__link govuk-header__link--service-name">
        Agent Safeguarding
      </a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="managerv1Error">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<a href="../../index.html" class="govuk-back-link">Back</a>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Did a manger different from your usual line manager supported you at the time of the incident?
      </h1>
    </legend>
    <div class="govuk-form-group">
      <label class="govuk-label" for="full-name">
        Their full name
      </label>
      <input class="govuk-input govuk-!-width-one-third" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name"></div>
    <div class="govuk-form-group">
  <label class="govuk-label" for="email">
    Their email address
  </label>
  <div id="email-hint" class="govuk-hint">
    As they appear on the Global Address List
  </div>
  <input class="govuk-input govuk-!-width-one-third" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
</div>


  </fieldset>
</div>


<a href="01report.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Continue
  </a>


  <br></br>




{% endblock %}
