{% extends "layout.html" %}

{% block pageTitle %}
  Error: What do you want to report? - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back to Searchlight",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Tell us what you want to report",
            href: "#report-type"
          }
        ]
      }) }}      
      <form class="form" action="route_incident" method="post">
        {{ govukRadios({
          idPrefix: "report-type",
          name: "report-type",
          fieldset: {
            legend: {
              text: "What do you want to report?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "incident",
              text: "An incident that has already happened",
              hint: {
                text: "For example, a customer has been verbally abusive to their work coach, or made threats in their journal"
              }
            },
            {
              value: "concern",
              text: "A concern that something might happen that will risk colleagues' safety",
              hint: {
                text: "For example, information on a UC50 form about this customer indicates there is a risk to staff"
              }
            }
          ],
          hint: {
            text: "Select one option."
          },
          errorMessage: {
            text: "Tell us what you want to report"
          }
        }) }}
        <div>
          {{ govukButton({
            text: "Continue"
          }) }}
        </div>
      </form>
    </div>
  </div>
<hr>
NOT PART OF DESIGN: Demo only<br>
There are x versions of this page<br>
<a href="01report">1. Report type?</a><br>
<a href="01report_error">2. Error: Select report type</a><br>
<hr>
{% endblock %}
