{% extends "layout.html" %}
{% block pageTitle %}
  Error: Who is the most appropriate manager to review this report? - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Enter their first name",
          href: "#acting-manager"
        },
        {
          text: "Enter their last name",
          href: "#acting-manager"
        },  
        {
          text: "Enter their email address",
          href: "#acting-manager"
        }
      ]
    }) }}
    {% set managerDetailsHtml %}
      {{ govukInput({
        id: "first-name",
        name: "first-name",
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "Their first name"
        },
        errorMessage: {
          text: "Enter their first name"
        }
      }) }}
      {{ govukInput({
        id: "last-name",
        name: "last-name",
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "Their last name"
        },
        errorMessage: {
          text: "Enter their last name"
        }
      }) }}
      {{ govukInput({
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        spellcheck: false,
        label: {
          text: "Their email address"
        },
        errorMessage: {
          text: "Enter their email address"
        },
        hint: {
          text: "Enter their email address as it appears on the Global Address List"
        }
      }) }}
      {% endset -%}
      {{ govukRadios({
        idPrefix: "acting-manager",
        name: "acting-manager",
        fieldset: {
            legend: {
            text: "Who is the most appropriate manager to review this report?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "linemanager",
            text: "My line manager"
          },
          {
            value: "anothermanager",
            text: "Another manager",
            checked: true,
            hint: {
              text: "For example, a job centre manager or someone standing in for your line manager"
            },
            conditional: {
              html: managerDetailsHtml
            }
          }
        ],
        hint: {
        text: "Select one option."
        }
      }) }}
      <div>
        {{ govukButton({
          text: "Continue",
          href: "05interaction"
        }) }}
      </div>
    </div>
  </div>
<hr>
NOT PART OF DESIGN: Demo only<br>
There are x versions of this page<br>
<a href="04acting_manager">1. Reviewing manager?</a><br>
<a href="04acting_manager_error2">2. Error: Tell us</a><br>
<a href="04acting_manager_error3">3. Error: First name / last name / email</a><br>
<a href="04acting_manager_error4">4. Error: email format</a><br>
<a href="04acting_manager_error5">5. Error: Colleague cannot access service</a><br>
<hr>
{% endblock %}
