{% extends "layout.html" %}

{% block pageTitle %}
What type of interaction was it? - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
<section aria-label="Beta banner" role="region">

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
  tag: {
  text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
</section>
{% include "templates/v2/header_searchlight.njk" %}
<section aria-label="Back" role="region">
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
  }) }}
</section>
{% endblock %}

{% block content %}
<div class="govuk-form-group">
  {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
  {{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
  {
  text: "Select the type of interaction",
  href: "#interaction"
  }
  ]
  }) }}
  <fieldset class="govuk-fieldset" aria-describedby="interaction">
    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      idPrefix: "interaction",
      name: "interaction",
      fieldset: {
        legend: {
          text: "What type of interaction was it?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Select one option."
      },
      errorMessage: {
        text: "Select the type of interaction"
      },
      items: [
        {
          value: "person",
          text: "In person",
          hint: {
            text: "For example, at a job centre or a customer's house"
          }
        },
        {
          value: "socialmedia",
          text: "Social media",
          hint: {
            text: "Comments, posts and videos on any social media platform"
          }
        },
        {
          value: "telephone",
          text: "Telephone",
          hint: {
            text: "Including voice mails and text messages"
          }
        },
        {
          value: "written",
          text: "Written",
          hint: {
            text: "Letters, emails, web chat or comments in journal"
          }
        },
        {
          value: "written",
          text: "Video call",
          hint: {
            text: "For example, an appointment over Microsoft Teams"
          }
        }
      ]
    }) }}

    <div class="govuk-button-group">

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
      text: "Continue",
      href: "06when"
      }) }}

    </div>
  </fieldset>
</div>








{% endblock %}
