{% extends "layout.html" %}

{% block pageTitle %}
Do you feel the customer's behaviour was motivated by any of the following types of discrimination? - Agent Safeguarding
{% endblock %}

{% block beforeContent %}
<section aria-label="Beta banner" role="region">

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
  tag: {
  text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="08discrimination_error">feedback</a> will help us to improve it.'
  }) }}
</section>
{% include "templates/v2/header_searchlight.njk" %}
<section aria-label="Back" role="region">
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
  }) }}
</section>
{% endblock %}

{% block content %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="discrimination">
    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  idPrefix: "discrimination",
  name: "discrimination",
  fieldset: {
    legend: {
      text: "Do you feel the customer's behaviour was motivated by any of the following types of discrimination?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "age",
      text: "Age"
    },
    {
      value: "relationship",
      text: "Being married or in a civil partnership"
    },
    {
      value: "pregnancy",
      text: "Pregnancy or maternity"
    },
    {
      value: "disability",
      text: "Disability"
    },
    {
      value: "reassignment",
      text: "Gender reassignment"
    },
    {
      value: "race",
      text: "Race including colour, nationality, ethnic or national origin"
    },
    {
      value: "belief",
      text: "Religion or belief"
    },
    {
      value: "sex",
      text: "Sex"
    },
    {
      value: "orientation",
      text: "Sexual orientation"
    },
    {
      divider: "or"
    },
    {
      value: "none",
      text: "None of the above",
      behaviour: "exclusive"
    }
  ]
}) }}

    <div class="govuk-button-group">

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
      text: "Continue",
      href: "09describe"
      }) }}

    </div>
  </fieldset>
</div>

{% endblock %}
