{% extends "layout.html" %}
{% block pageTitle %}
  Add files - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
        html: 'This is a new service – your <a class="govuk-link" href="11g_upload_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
  {% include "templates/incident_refactorv10/file_upload_styling.html" %}
  {{ govukNotificationBanner({
    html: '<p class="govuk-notification-banner__heading">Adding 1 file</p>
          <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
                Wait until the system has added all files 
          </strong>
          </div>',
    type: 'important',
    titleText: 'Working'
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Add files</h1>
      {{ govukDetails({
        summaryText: "Files must be smaller than 1MB",
        html: "<p class='govuk-body'>If each file is smaller than 1MB, add files one at a time. </p>
              <p class='govuk-body'>To add a file that is bigger than 1MB, select Continue on this screen and complete your report. You can email the files to the email address shown in the final screen, after you submit your report.</p>"
      }) }}
    </div>
  </div>
  <div class="moj-multi-file-upload">
    <div class="moj-multi-file__uploaded-files ">
      <div class="moj-multi-file-upload">
        <div class="moj-multi-file__uploaded-files ">
          <h2 class="govuk-heading-m">Files added</h2>
          <div class="govuk-summary-list moj-multi-file-upload__list">
            <div class="govuk-summary-list__row moj-multi-file-upload__row">
              <div class="govuk-summary-list__value moj-multi-file-upload__message">
                evidence.jpg - processing please wait
              </div>
              <div class="govuk-summary-list__actions moj-multi-file-upload__actions">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="moj-multi-file-upload__upload" id="moj-multi-file-upload__upload">
    <div style="width:fit-content">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="documents">
          Choose files
        </label>
        <div class="moj-multi-file-upload__dropzone"  style="padding-right: 30px">
          <input class="govuk-file-upload moj-multi-file-upload__input moj-hidden" id="documents" name="documents" type="file" multiple="" accept="" limit="1048576" limitmb="1">
          <p class="govuk-body">Drag and drop files here or</p>
          <label for="documents" id="choose-files" class="govuk-button govuk-button--secondary govuk-file-upload_input_label" tabindex="0">Choose files</label>
            <div aria-live="polite" role="status" class="govuk-visually-hidden">
            </div>
          </div>
      </div>
    </div>
  </div>
  <div>
    {{ govukButton({
      text: "Continue",
      href: "12check_simple",
      disabled: true
    }) }}
  </div>
  {% include "templates/incident_refactorv10/file_upload_nav.html" %}
{% endblock %}
