{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="11g_upload_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l" id="page-title">
    Check your answers
  </h1>
  <div class="govuk-!-padding-bottom-9">
    <h2 class="govuk-heading-m">
      Overview
    </h2>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Reporter details",
            classes: "govuk-!-width-one-third"
          },
          value: {
            html: "<span class='govuk-visually-hidden'>Original reporter: </span>Whitney Earl"
          }
        },
        {
          key: {
            text: "Who is your line manager?"
          },
          value: {
            html: "Sarah Sencha <span class='govuk-body-s' style='color:#505a5f'>(sarah@dwp.gov.uk)</span>"
          }
        },
        {
          key: {
            text: "Who is the most appropriate manager to review this report?"
          },
          value: {
            html: "My line manager"
          }
        },
        {
          key: {
            text: "What type of interaction was it?"
          },
          value: {
            html: "In person"
          }
        },
        {
          key: {
            text: "When did the incident happen?"
          },
          value: {
            html: "3 June 2022 at 3:30pm"
          }
        },
        {
          key: {
            text: "Where were you during the incident?"
          },
          value: {
            html: "The office you're based at"
          }
        },
        {
          key: {
            text: "Do you feel the customer's behaviour was motivated by any type of discrimination?"
          },
          value: {
            html: "<p class='govuk-body'>I feel the customer's behaviour was motivated by the following types of discrimination:</p><ul class='govuk-list govuk-list--bullet'><li>None</li></ul>"
          }
        }
      ]
    }) }}
  </div>
  <div class="govuk-!-padding-bottom-9">
    <h2 class="govuk-heading-m">
      Describe the incident
    </h2>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "1. Why was the customer in contact with us?",
            classes: "govuk-!-width-one-third"
          },
          value: {
            text: "I called John for a routine welfare check"
          }
        },    {
          key: {
            text: "2. How did the incident start? Was there a specific trigger?"
          },
          value: {
            text: "I asked John to come into the office next week, and he raised his voice and shouted 'I’m not coming to the job centre.'"
          }
        },    {
          key: {
            text: "3. What were the issues with the customer’s behaviour?"
          },
          value: {
            text: "John said 'I'm not answering your questions'"
          }
        },    {
          key: {
            text: "4. Tell us what happened next. How did you try to resolve the situation, and how did the customer react?"
          },
          value: {
            text: "I said, 'Stop swearing at me. I am trying to help you.' But the customer continued to shout and said, 'You're not helping me at all.'"
          }
        },    {
          key: {
            text: "5. Did any of your colleagues see or hear what happened?"
          },
          value: {
            text: "No"
          }
        },    {
          key: {
            text: "6. How did your interaction with the customer end?"
          },
          value: {
            text: "I terminated the call"
          }
        },    {
          key: {
            text: "7. How did you feel during the incident?"
          },
          value: {
            text: "I was very upset"
          }
        }

      ]
    }) }}
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9">
      <h2 class="govuk-heading-m">
        There are no files attached to this incident report
      </h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Are you ready to submit your report?</h2>
      <p class="govuk-body">If you need to change anything in your report, use the back link near the top of this page.</p>
      <p class="govuk-body">When you click Submit, we will send your report to the appropriate manager to review.</p>
      <p class="govuk-body govuk-!-font-weight-bold">You will not be able to change anything in your report after you click Submit.</p>
    </div>
  </div>
  <div>
    {{ govukButton(
      {
        text: "Submit",
        href: "13confirm"
      }
    ) }}
  </div>
<hr>
NOT PART OF DESIGN: Demo only<br>
<a href="12check_simple">1. Check your answers - simple</a><br>
<a href="12check">2. Check your answers - complex</a><br>
<hr>  
{% endblock %}
