
{% extends "layout.html" %}

{% block pageTitle %}
  Private Beta Admin - Keep Customer Interactions Safe
{% endblock %}



{% block content %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    <h1 class="govuk-heading-l">
      Incidents and concerns reported in Agent Safeguarding
    </h1>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
    You must refresh this page before you select a report
    </strong>
  </div>

<br>
<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Reference</th>
        <th scope="col" class="govuk-table__header">Type of report</th>
      <th scope="col" class="govuk-table__header">Date reported</th>
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header">Action</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">000-000-002</th>
      <td class="govuk-table__cell">Incident</td>
      <td class="govuk-table__cell">16/03/22 <br> 16:30</td>
      <td class="govuk-table__cell">Available</td>
      <td class="govuk-table__cell"><a href="01details">Select this report<span class="govuk-visually-hidden">Incident 000-000-002</span></a></td>

    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">000-000-001</th>
      <td class="govuk-table__cell">Incident</td>
      <td class="govuk-table__cell">16/03/22 <br> 14:30</td>
        <td class="govuk-table__cell">In progress</td>
      <td class="govuk-table__cell"><a href="01error">Select this report<span class="govuk-visually-hidden">Incident 000-000-001</span></a></td>

    </tr>
  
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">000-000-003</th>
        <td class="govuk-table__cell">Safety concern</td>
      <td class="govuk-table__cell">18/03/22 <br> 10:30</td>
        <td class="govuk-table__cell">Available</td>
        <td class="govuk-table__cell"><a href="01concern">Select this report<span class="govuk-visually-hidden">Safety concern 000-000-001</span></a></td>

    </tr>


  </tbody>
</table>



{% endblock %}
