
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="#" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
          </span>
        </span>
      </a>
    </div>
    <div class="govuk-header__content">
      <a href="../../index.html" class="govuk-header__link govuk-header__link--service-name">
        Agent Safeguarding
      </a>
    </div>
  </div>
</header>
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="interactionv2Error">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

    <a href="02report.html" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/form-handler" method="post" novalidate>



              <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            What type of interaction was it?
          </h1>
        </legend>
        <div id="waste-hint" class="govuk-hint">
       Select one option.
      </div>
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          In person
          <div id="nationality-hint" class="govuk-hint">
            For example, at a job centre or a customer's house
          </div>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Social media
          <div id="nationality-hint" class="govuk-hint">
            Comments, posts and videos on any social media platform
          </div>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Telephone
          <div id="nationality-hint" class="govuk-hint">
            Including voice mails and text messages
          </div>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Written
          <div id="nationality-hint" class="govuk-hint">
            Letters, emails, web chat or comments in journal
          </div>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Video call
          <div id="nationality-hint" class="govuk-hint">
            For example, an appointment over Microsoft Teams
          </div>
        </label>
      </div>
          <div class="govuk-radios__divider">or</div><br>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
        Other
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">

        <label class="govuk-label" for="contact-by-email">
          Tell us about the interaction with the customer
        </label>

        <br>
        <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel"></div>

      </div>
    </div>

  </fieldset>
</div>

      </div>
    </div>



</div>
<br></br>

            <a href="04report.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
              Continue
              </a>






{% endblock %}
