
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Customer Search</h1>

<div class="govuk-form-group">
  <label class="govuk-label" for="name-on-the-account">
    First name
  </label>
  <input class="govuk-input" id="name-on-the-account" name="name-on-the-account" type="text" spellcheck="false"></div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="name-on-the-account">
      Last name
    </label>
    <input class="govuk-input" id="name-on-the-account" name="name-on-the-account" type="text" spellcheck="false"></div>

    <label class="govuk-label" for="name-on-the-account">
      Date of birth
    </label>
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 10 11 1985
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>


    <a href="04whoSearch.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Continue
      </a>



{% endblock %}
