{% extends "layout.html" %}
{% block pageTitle %}
    Email
{% endblock %}
{% block beforeContent %}
    {{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-!-padding-bottom-9">
	<h1 class="govuk-heading-m">
		<i>Email 1: Initial request </i>
	</h1>
	    <p class="govuk-body">Original email sent when Incident Manager confirms witness details.</p>

</div>
<div class="govuk-!-padding-bottom-9">
	<h2 class="govuk-heading-m">(Subject line) URGENT: Review incident report
		<span class="nowrapper">INC-123-456-789</span>
	</h2>
</div>
<p class="govuk-body">Dear [Name Surname],
    <p class="govuk-body">We believe you recently saw or heard the following incident between one of your colleagues and a customer:</p>
</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://dwpdigital.atlassian.net/jira/dashboards/24321">Date of incident: 31 October 2022</a></li>
  <li><a href="https://dwpdigital.atlassian.net/jira/dashboards/24358">Time of incident: 15:25</a></li>
  <li><a href="https://dwpdigital.atlassian.net/jira/dashboards/24368">Incident reference number: INC-123-456-789</a></li>
</ul>


<h2 class="govuk-heading-m">Sub title</h2>
<ol class="govuk-list  govuk-list--number">
    <li>Numbered list</li>
</ol>
<p class="govuk-body">Some text
</p>
<p class="govuk-body">Thank you,<br>
    Agent Safeguarding.
</p>
{% endblock %}
