{% extends "layout.html" %}
{% block pageTitle %}
    Email
{% endblock %}
{% block beforeContent %}
    {{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-!-padding-bottom-9">
	<h1 class="govuk-heading-m">
		<i>Email 2: Confirmation email </i>
	</h1>
	    <p class="govuk-body">Email sent to incident manager as soon as they've submitted their review.</p>

</div>
<div class="govuk-!-padding-bottom-9">
	<h2 class="govuk-heading-m">(Subject line)We've received your review
		<span class="nowrapper">((ManagerReferenceNumber))</span>
	</h2>
</div>
<p class="govuk-body">Dear ((First name)) ((Surname)),

<p class="govuk-body">Thank you for completing your review of this report.</p>
</p>

<h3 class="govuk-heading-m">Your reference number is: ((ManagerReferenceNumber))</h3>
<br>
<p class="govuk-body">We've received your recommendations and comments, and any witness details you gave us. We have emailed the witnesses and asked them to complete a witness report as soon as possible.</p>
<p class="govuk-body">If required, you should also report this as a Fast Track Incident in the Safety Online – Accident Reporting System (SOARS).
</p>
<br>


<br>
<h3 class="govuk-heading-m">What happens next</h3>
<p class="govuk-body">A decision maker will review your recommendations and comments and the witness reports, together with the original incident report.</p>


<br><br>

<h3 class="govuk-heading-m">What you can do</h3>
<p class="govuk-body">If you need to give us more information or change anything in your recommendations or comments, email <a href="<a href="mailto:HealthandSafety.CentralisedNMTeam@dwp.gov.uk?subject=INC-123-456-789">HealthandSafety.CentralisedNMTeam@dwp.gov.uk</a>.</p>
  <p class="govuk-body">You must include the reference number at the top of this email.</p>
    <br><br>

<br><br>
<p class="govuk-body">Thank you,</p>
<p class="govuk-body">On behalf of Keep Customer Interactions Safe.
</p>
{% endblock %}
