{% extends "layout.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}

{% block pageTitle %}
Incident report - Agent Safeguarding
{% endblock %}

{% block beforeContent %}
<section aria-label="Beta banner" role="region">

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
</section>
<section aria-label="Back" role="region">
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back to Searchlight",
href: "javascript:history.back()"
}) }}
</section>
{% endblock %}

{% block content %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}


<section aria-label="Incident overview" role="region">


{{ govukTable({
  caption: "My current incidents",
  captionClasses: "govuk-heading-xl",
  isPageHeading: true,
  firstCellIsHeader: true,
  head: [
    {
      text: "Reference"
    },
    {
      text: "Reporter"
    },
    {
      text: "Status"
    },
    {
      text: "Time"
    },
    {
      text: "Action"
    }
  ],
  rows: [

        [
      {
        text: "INC-000-456-789"
      },
      {
        text: "Sartaq Matcha"
      },
      {
        text: "Reviewing"
      },
      {
        text: "12 July at 3.03pm "
      },
      {
        html: "<a href='00incident'>Review</a>"
      }
    ],
        [
      {
        text: "INC-111-456-789"
      },
      {
        text: "John Smith"
      },
      {
        text: "Reviewing (Witness due)"
      },
      {
        text: "12 July at 3.03pm "
      },
      {
        html: "<a href='00incident'>Review</a>"
      }
    ]

  ]
}) }}
 
{% endblock %}
