{% extends "layout.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}
{% block pageTitle %}
  Review submitted - Agent Safeguarding
{% endblock %}
{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="00add_witness_error">feedback</a> will help us to improve it.'
}) }}
  {% include "templates/v2/header_searchlight.njk" %}
{% endblock %}
{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/panel/macro.njk" import govukPanel %}
    {% set refHTML %}
    <div class="govuk-panel__body">Incident number:
      <br>
      <strong>
        <span aria-hidden="true">INC-</span><span aria-hidden="false">123-456-789</span>

      </strong>
    </div>
    {% endset %}
    {{ govukPanel({
      titleText: "You have submitted your review",
      html: refHTML,
      id: "panel",
      name: "panel"
    }) }}
    <p class="govuk-body">We've received your recommendations and comments, and any witness details you gave us. We will email the witnesses and ask them to complete a witness report.</p>
    <p class="govuk-body">
      A decision maker will review your recommendations and comments and the witness reports, together with the original incident report.</p>
    <p class="govuk-body">
      We aim to make a decision about this incident within 48 hours. We will email you to tell you what the decision is.
    </p>
    <p class="govuk-body">
      You can
      <a href="mailto:HEALTHANDSAFETY.CENTRALISEDNMTEAM@DWP.GOV.UK" class="govuk-link">email us</a>
      about this incident report. You must give us the incident number on this page.
    </p><br>
    <p class="govuk-body">

To help us improve this service, we’d like to know <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=6fbxllcQF0GsKIDN_ob4w-oDsqWqlSlJvQe6JubotYpUNFoxRVFURzIyVU1QOVo3QTA5WFdWSjJIVS4u" class="govuk-link" rel="noreferrer noopener" target="_blank">what you think of it.</a> It will only take 2 minutes to give us feedback.
    </p>
  </div>
</div>
{% endblock %}
