{% extends "layout.html" %}
{% block pageTitle %}
  Measure - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v7/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row govuk-!-padding-bottom-3">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Ongoing behaviour</h1>
      <h2 class="govuk-heading-l">Characterisation: Positive</h2>    
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Date observed",
              classes: "govuk-!-width-one-half"
            },
            value: {
              text: "2 August 2021",
              classes: "govuk-!-width-one-half"
            }
          },
          {
            key: {
              text: "Observed by"
            },
            value: {
              html: "Whitney Earl"
            }
          }
        ]
      }) }}
      <p>The customer telephoned me for a regular coaching session and was a pleasure to speak to. (as he has been for most of this year)</p>
      <p class="govuk-!-padding-bottom-7">I have met him on at least 5 occasions recently where this has been the case</p>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Back to customer history",
          href: "01history_complex"
        }) }}
      </div>
    </div>
  </div>
  {% include "beta/history/v5/menus/04measures__menu.html" %}
{% endblock %}
