{% extends "layout.html" %}
{% block pageTitle %}
  Copy a reviewing manager report from KCIS - Keep Customer Interactions Safe
{% endblock %}
{% block content %}
  <style>
    .bottomruleoff {
      border: 10px;
      border-color: red !important;
    }
    .nobottommargin {
      margin-bottom: 0 !important;
    }
  </style>
  <div class="govuk-form-group">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
  <h1 class="govuk-heading-xl">Copy a reviewing manager report from KCIS into exisiting UCB report</h1>
  <div class="govuk-!-margin-bottom-9">
    <p>Follow the instructions below to enter add this report to an exisitng recoded in the current service.</p>
    <p>Open the following UCB record and amend only with the details for the fields listed below</p>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "UCB reference"
          },
          value: {
            text: "987234"
          }
        },
        {
          key: {
            text: "KCIS reference"
          },
          value: {
            text: "INC-000-000-004"
          }
        }
      ]
    }) }}
  </div>
  <div class="govuk-!-margin-bottom-9">
    <h3 class="govuk-heading-m"><span class="govuk-hint">(Navigate to)</span>Line Manager Section</h3>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"></dt>
        <dt class="govuk-summary-list__key"></dt>
        <dt class="govuk-summary-list__key"></dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is this a Fast Track incident?
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--grey">
            No
          </strong>
        </dd>
        <dd class="govuk-summary-list__value">
          Always choose this option
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is RIDDOR appropriate?
        </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--grey">
              No
            </strong>
        </dd>
        <dd class="govuk-summary-list__value">
          Always choose this option
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Were Police called to the incident?
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--grey">
            NO
          </strong>
        </dd>
        <dd class="govuk-summary-list__value">
          Choose this option
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Please confirm that you have read this report
        </dt>
        <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--grey">
            Yes
          </strong>
        </dd>
        <dd class="govuk-summary-list__value"">
          Always choose this option
        </dd>
      </div>       
      <div class="govuk-summary-list__row ">
        <dt class="govuk-summary-list__key bottomruleoff"  style="border-bottom:0px">
          Your comments and any other information for the Nominated Manager
        </dt>
        <dd class="govuk-summary-list__value bottomruleoff" style="border-bottom:0px">&nbsp;</dd>
        <dd class="govuk-summary-list__value bottomruleoff" style="border-bottom:0px">
          <button class="govuk-button" data-module="govuk-button">
            Copy
          </button>
          <p>Select Copy to copy to clipboard then paste into the freetext field</p>
        </dd>
      </div>
    </dl>
    <div class="width100">
      <p class="govuk-body">I have reviewed all the witness reports and talked to the colleagues involved. I recommend no further action. (This is the content of the Comments and description in the Reviewing Manager's report) </p>
    </div>
    <hr>
  </div>
  <div class="govuk-!-margin-bottom-9"></div>


  <h3 class="govuk-heading-m "><span class="govuk-hint">(Navigate to)</span>Customer/Claimant Address</h3>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key"></dt>
      <dt class="govuk-summary-list__key"></dt>
      <dt class="govuk-summary-list__key"></dt>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Were others present?
      </dt>
      <dd class="govuk-summary-list__value">
        <strong class="govuk-tag govuk-tag--grey">
          No
        </strong>
      </dd>
      <dd class="govuk-summary-list__value">
          Choose this option
      </dd>
    </div>
  </dl>

  <div class="govuk-!-margin-bottom-9">
    {{ govukWarningText({
      text: "Click the Save button. Do not click Publish.",
      iconFallbackText: "Warning"
    }) }}
  </div>
  <div class="govuk-form-group">
    {{ govukButton({
      text: "Close"
    }) }}
  </div>
<hr>
Demo only<br>
<a href="03manager">1. Reviewing manager - Simple</a><br>
<a href="03manager_complex">2. Reviewing manager - Other options</a><br>
<a href="03manager_additional">3. Additional witness</a><br>
<a href="03manager_conflict">4. Conflict</a><br>
<a href="04witnessesreport">5. Witness download</a><br>
<hr>
{% endblock %}