{% extends "layout.html" %}
{% block pageTitle %}
  Copy a reviewing manager report from KCIS - Keep Customer Interactions Safe
{% endblock %}
{% block content %}
              <style>
                .bottomruleoff {
                  border: 10px;
                  border-color: red !important;
                }
                .nobottommargin {
                  margin-bottom: 0 !important;
                }
              </style>
  <div class="govuk-form-group">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
      <h1 class="govuk-heading-l">
        Copy a reviewing manager report from KCIS
      </h1>
    <p class="govuk-body govuk-!-margin-bottom-9">The reviewing manager report has already been processed. Please add the following witness details</p>
  
    
          <h2 class="govuk-heading-l">
            Incident: INC-000-000-006
          </h2>



              <h3 class="govuk-heading-m nobottommargin">Witness Section</h3>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key"></dt>
                  <dt class="govuk-summary-list__key"></dt>
                  <dt class="govuk-summary-list__key"></dt>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Witness 1 name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Mike Black
                  </dd>
                  <dd class="govuk-summary-list__value">
                     <button class="govuk-button" data-module="govuk-button">
                      Copy
                    </button>
                  </dd>
                </div>
                
                

                
                <div class="govuk-summary-list__row ">
                  <dt class="govuk-summary-list__key bottomruleoff"  style="border-bottom:0px">
                    Witness account
                  </dt>
                  <dd class="govuk-summary-list__value bottomruleoff" style="border-bottom:0px">&nbsp;</dd>
                  <dd class="govuk-summary-list__value bottomruleoff" style="border-bottom:0px">
                    <button class="govuk-button" data-module="govuk-button">
                      Copy
                    </button>
                  </dd>
                </div>
              </dl>
              <div class="width100">
                <p class="govuk-body nobottommargin">I saw the customer stand and shout at my colleagues. I then escorted them to the door. There was no further contact</p>
              </div>
<hr>
              <div class="govuk-!-margin-bottom-9">
</div>
              <div class="govuk-!-margin-bottom-9">
</div>



              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key"></dt>
                  <dt class="govuk-summary-list__key"></dt>
                  <dt class="govuk-summary-list__key"></dt>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Attach referral evidence
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Click the 'Download report' button to download the relevant files from KCIS.
                    <br>
                      <br>Then upload the files to the current service.
                      </dd>
                      <dd class="govuk-summary-list__value">
                        <button class="govuk-button" data-module="govuk-button">
                          Download report
                        </button>
                      </dd>
                    </div>
                  </dl>


              <div class="govuk-!-margin-bottom-9">
</div>
              <div class="govuk-!-margin-bottom-9">
</div>


  <div class="govuk-form-group">
    {{ govukButton({
      text: "Close"
    }) }}
  </div>
{% endblock %}