
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-form-group">

  <a href="01behaviour.html" class="govuk-back-link">Back</a>
  <br></br>
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">


    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Send and confirm
      </h1>
    </legend>
    <p>Prepare and send the warning letter then confirm the sent date</p>
    <ul>
    <li><a href="#">First letter template</a> </li>
    <li><a href="#">Second or following letter template</a></li>
    </ul>
    
    <div id="passport-issued-hint" class="govuk-hint">
      Sent date (For example, 10 11 2020)
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>

<div class="govuk-form-group">
  <br></br>
    <a href="01incident#control" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Not now
      </a>
      &nbsp;
      <a href="11success.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Confirm date
        </a>

</div>



{% endblock %}
