
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Control measure request
  </h1>
  <h2 class="govuk-heading-m"><img src="/public/images/dotGreen.png" alt="Ready for decision"> &nbsp;Ready for decision</h2>
  <h2 class="govuk-heading-m">WF567898G</h2>


  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#request">
          Request
        </a>
      </li>
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#incident">
          Last incident
        </a>
      </li>
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#witnesses">
        Witnesses
        </a>
      </li>

      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#citizen">
          Citizen
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#history">
          History
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#referrals">
          Agent safety concern
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#control">
          Solicitor
        </a>
      </li>
    </ul>

    <div class="govuk-tabs__panel" id="request">
      <p style="font-size:150%;"><strong>Request</strong></p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Type
          </dt>
          <dd class="govuk-summary-list__value">
            Banning letter
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
        Locations to be banned from
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>Bromley Jobcentre</strong><br>
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
      Period of ban
          </dt>
          <dd class="govuk-summary-list__value">
            1 year
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
      Recommendation/guidance
          </dt>
          <dd class="govuk-summary-list__value">
            Due to the past history of concerns and incidents and the last explosion of violence I think it is not safe to have this customer interacting directly face to face with our staff.
            The previous warnings didn't sort any effect and he demonstrated to be physically able to cause harm to property and persons.
          </dd>
        </div>
        </dl>
        <p style="font-size:150%;"><strong>Requester</strong></p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Name
            </dt>
            <dd class="govuk-summary-list__value">
              Sadiq Assam
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
        Job role
            </dt>
            <dd class="govuk-summary-list__value">
            Nominated manager
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
        Main work location
            </dt>
            <dd class="govuk-summary-list__value">
              <strong>Bromley Jobcentre</strong><br>
              72 Guild Street<br>London<br>SE23 6FH
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
        Email
            </dt>
            <dd class="govuk-summary-list__value">
            <a href="#">sadiq.assam@dwp.co.uk</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
        Telephone
            </dt>
            <dd class="govuk-summary-list__value">
            <a href="#">01632 960079</a>
            </dd>
          </div>
          </dl>

    </div>
    <div class="govuk-tabs__panel" id="incident">
      <p style="font-size:150%;"><strong>Last incident</strong></p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Type
          </dt>
          <dd class="govuk-summary-list__value">
            Physical Violence
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Interaction
          </dt>
          <dd class="govuk-summary-list__value">
            Face to face
          </dd>
        </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              21/04/21 - 10:30
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location
            </dt>
            <dd class="govuk-summary-list__value">
              <strong>Bromley Jobcentre</strong><br>
              72 Guild Street<br>London<br>SE23 6FH
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Citizen involved
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#citizen">
                Robert De Silva
              </a>
            </dd>
          </div>
        </dl>
        <p style="font-size:150%;"><strong>Witness reports</strong></p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Witness
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#witnesses">Sartaq Matcha</a>
              </dd>
            </div>
          </dl>
          <p style="font-size:150%;"><strong>Incident Breakdown</strong></p>
          <p style="font-size:100%;">Written by: <a href="#reporter">Whitney Earl</a></p>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What started the situation?
                </dt>
                <dd class="govuk-summary-list__value">
                  Booked Work Search interview. Customer asked reasons for his UC claim being stopped and. full explanation was attempted to be given.
  Customer did not accept the reasons, stating he's always paid his taxes.
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What happened during the interaction?
                </dt>
                <dd class="govuk-summary-list__value">
                  Customer obviously upset but wasn't listening to the explanation. He became angry and started to be abusive, stating:
  "You don't care about me! You are just a bunch of bastards!" You talk just because you are safe behind your desks.
  It then became physical as he upturned the desk knocking the keyboard, laptop and mouse which did hit me
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How did you handle the interaction?
                </dt>
                <dd class="govuk-summary-list__value">
    Previous attempts to give full explanation didn't calm customer down and it escalated into the upturning of the desk.
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How did the interaction end?
                </dt>
                <dd class="govuk-summary-list__value">
                  The intervention of G4S who escorted the customer away and into a safer place. Because it became physical and he'd damaged property,
    the police were called and on their arrival he was taken into their custody. Crime report number: 1234.
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How did you feel about the interaction?
                </dt>
                <dd class="govuk-summary-list__value">
  Initially I was calm and understood it to be a general appointment. I thought once the customer was made aware of the claim regulations
  he would agree that the UC claim was now inappropriate. Unfortunately he didn't and became angry.
  I became a little nervous when he raised his voice and began swearing but was not at all prepared for the physical actions.
  At this point I became increasingly concerned but was relieved to see G4s support on hand. Now the incident is over. I'm a little nervous and shaking, relieving the incident to see if my behaviour increased his anger, was there anything I could have done differently.
                </dd>
              </div>
            </dl>
            <p style="font-size:150%;"><strong>Line manager recommendations</strong></p>
            <p style="font-size:100%;">Written by: <a href="#reporter">Mark Green</a></p>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Suggested measures:
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <ul>
                  <li>Banned from office</li>
                    </ul>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Suggestions and recommendations
                  </dt>
                  <dd class="govuk-summary-list__value">
                    I feel that the appropriate step here would be to ban the customer
  due to the physical behaviour, whilst his intention may not have
  been to injure the work coach his behaviours escalated to the point he damaged
  department property and ended up with one of the items from
  the desk hitting the work coach. I feel if he was in another situation there is
  the possibility of the behaviour escalating to actual intended physical harm to DWP staff.
                </div>

              </dl>
    </div>
    <div class="govuk-tabs__panel" id="witnesses">
      <p style="font-size:150%;"><strong>Witnesses</strong></p>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Name
                </dt>
                <dd class="govuk-summary-list__value">
                  Sartaq Matcha
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Job Role
                </dt>
                <dd class="govuk-summary-list__value">
                  Work Coach
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Main work location
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong>Bromley Jobcentre</strong><br>
                  72 Guild Street<br>London<br>SE23 6FH
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Email
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="#">sartaq.matcha@dwp.gov.uk</a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Telephone
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="#">01632 960089</a>
                </dd>

              </div>
            </dl>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  What were the main issues? Describe the customer behaviour and the interaction using facts only.
                  </dt>
                  <dd class="govuk-summary-list__value">
                  "You don't care about me. You are bunch of bastards! You talk just because you are safe behind your desks."
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                What brought the interaction to an end? What was the final outcome?
                  </dt>
                  <dd class="govuk-summary-list__value">
                  The interaction ended with Sadiq and the G4S guard restraining the customer and the Police being called (who subsequently removed the customer from the building)
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  What were your feelings during the interaction? How do you feel now?
                  </dt>
                  <dd class="govuk-summary-list__value">
                Adrenalin helps! I understood what I needed to do to help my colleagues and presumably customers safe during the incident. Exhausted! Concerned for colleagues. Anxious to get all the statements etc. completed and sent ASAP.
                  </dd>
                </div>
                </dl>

</div>


<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="citizen">
      <p style="font-size:150%;"><strong>Citizen</strong></p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Name
          </dt>
          <dd class="govuk-summary-list__value">
            Robert De Silva
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            12/04/93 (Age 27)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          National Insurance Number
          </dt>
          <dd class="govuk-summary-list__value">
            CT 00 03 41 B
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>Last known address</strong><br>
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Telephone
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">01632 960016</a>
          </dd>
        </div>
</dl>
<p style="font-size:150%;"><strong>Benefits</strong></p>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Universal Credit
    </dt>
    <dd class="govuk-summary-list__value">
      Applied and obtained Universal Credit from 2019 to March 2021. Last month UC has been withdrawn as it has come to attention that the Civil Partner (Mark Lapsang) has earned £6000 from freelance jobs in the past three months.
    </dd>
  </div>
  </dl>
  <p style="font-size:150%;"><strong>Relationships</strong></p>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Mark Lapsang
      </dt>
      <dd class="govuk-summary-list__value">
        Civil partner
      </dd>
    </div>

</dl>
</div>

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
   <p style="font-size:150%;"><strong>History</strong></p>


     <img src="/public/images/card_incidentTWO.png" alt="Reviewed"> &nbsp;<img src="/public/images/card_controlZERO.png" alt="Reviewed"> &nbsp;  <img src="/public/images/card_actionONE.png" alt="Reviewed"> &nbsp;

   <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

       <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all"><div class="app-step-nav__controls"><button aria-expanded="false" class="app-step-nav__button app-step-nav__button--controls js-step-controls-button" aria-controls="step-panel-check-youre-allowed-to-drive-1">Show all</button></div>
         <ol class="app-step-nav__steps">

           <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
             <div class="app-step-nav__header js-toggle-panel" data-position="5">
               <h2 class="app-step-nav__title">
                 <span class="app-step-nav__circle app-step-nav__circle--number">
                   <span class="app-step-nav__circle-inner">
                     <span class="app-step-nav__circle-background">
                       <span class="govuk-visually-hidden">Last incident: 21 April 2021</span> 4
                     </span>
                   </span>
                 </span>

                 <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-book-and-manage-your-theory-test-5"><span class="js-step-title-text">
                     <img src="/public/images/icon_incident.png" alt="Reviewed"> &nbsp;<a href="#">Last incident: 21 April 2021 - 10:30</a>
                 </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden=""><a href="#">Physical Violence</a></span></button></span>
               </h2>
               <a href="#">>></a>
             </div>

             <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-theory-test-5">
               <p class="app-step-nav__paragraph">You need a provisional driving licence to book your theory test.</p>


             </div>

           </li>



           <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
             <div class="app-step-nav__header js-toggle-panel" data-position="5">
               <h2 class="app-step-nav__title">
                 <span class="app-step-nav__circle app-step-nav__circle--number">
                   <span class="app-step-nav__circle-inner">
                     <span class="app-step-nav__circle-background">
                       <span class="govuk-visually-hidden">18 April 2021</span> 3
                     </span>
                   </span>
                 </span>

                 <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-book-and-manage-your-theory-test-5"><span class="js-step-title-text">
                     <img src="/public/images/icon_incident.png" alt="Reviewed"> &nbsp;<a href="03incident">18 April 2021 - 10:30</a>
                 </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden=""><a href="03incident">Verbal abuse</a></span></button></span>
               </h2>
               <a href="03incident">>></a>
             </div>

             <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-theory-test-5">
               <p class="app-step-nav__paragraph">You need a provisional driving licence to book your theory test.</p>


             </div>

           </li>

           <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test">
             <div class="app-step-nav__header js-toggle-panel" data-position="6">
               <h2 class="app-step-nav__title">
                 <span class="app-step-nav__circle app-step-nav__circle--number">
                   <span class="app-step-nav__circle-inner">
                     <span class="app-step-nav__circle-background">
                       <span class="govuk-visually-hidden">Step</span> 2
                     </span>
                   </span>
                 </span>

                 <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-book-and-manage-your-driving-test-6"><span class="js-step-title-text">
                    <img src="/public/images/icon_response.png" alt="Reviewed"> &nbsp;<a href="01letter.html">22 February 2021</a>
                 </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden=""><a href="01letter.html">Warning letter (First)</a></span></button></span>
               </h2>
               <a href="01letter.html">>></a>
             </div>

             <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-driving-test-6">
               <p class="app-step-nav__paragraph">You must pass your theory test before you can book your driving test.</p>

               <ol class="app-step-nav__list " data-length="5">
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="6.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Book your driving test <span class="app-step-nav__context">£62 to £75</span></a>

                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="6.2" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">What to take to your test </a>
                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="6.3" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Change your driving test appointment </a>
                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="6.4" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Check your driving test appointment details </a>
                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="6.5" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Cancel your driving test </a>
                 </li>
               </ol>
             </div>

           </li>

           <li class="app-step-nav__step js-step" id="when-you-pass">
             <div class="app-step-nav__header js-toggle-panel" data-position="7">
               <h2 class="app-step-nav__title">
                 <span class="app-step-nav__circle app-step-nav__circle--number">
                   <span class="app-step-nav__circle-inner">
                     <span class="app-step-nav__circle-background">
                       <span class="govuk-visually-hidden">Step</span> 1
                     </span>
                   </span>
                 </span>

                 <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-when-you-pass-7"><span class="js-step-title-text">
                  <img src="/public/images/icon_incident.png" alt="Reviewed"> &nbsp;<a href="04incident.html">22 February 2021</a>
                 </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden=""><a href="02incident.html">Verbal abuse</a></span></button></span>
               </h2>
               <a href="04incident.html">>></a>
             </div>


           </li>
         </ol>
       </div>

     </div>
   </div>



  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="referrals">
 <p style="font-size:150%;"><strong>Agent safety concerns</strong></p>
                <img src="/public/images/card_concernONE.png" alt="Reviewed"> &nbsp; <br></br>

                  <p style="font-size:150%;"><strong>Concerns</strong></p>
                  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                      Original documents
                      </dt>
                      <dd class="govuk-summary-list__value">
                        ESA50
                      </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                    Reference in documents
                      </dt>
                      <dd class="govuk-summary-list__value">
                      Pag 17. Question 16.
                      </dd>
                    </div>
                    <dt class="govuk-summary-list__key">
                    Concern
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Customer has ADHD and has violent outbursts - police have had to be called numerous times. His hands are disfigured due to the number of fights he has been involved in, and he has had to have several operations on them. He has been in prison for "Airplane air rage", and is awaiting a court date for "violence".
                    </dd>

                    </dl>
                    </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="control">
    <p style="font-size:150%;"><strong>Approve request?</strong></p>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="changed-name-2">
            No
          </label>
        </div>
      </div>
      <br></br>
      <a href="01apply.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Apply
        </a>

  </div>






{% endblock %}
