
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="02apply" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/form-handler" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Should the behaviour of the citizen been monitored?
                </h1>
              </legend>
              <div id="more-detail-hint" class="govuk-hint">
                We will request agents to review every interaction with this customer until the next review
              </div>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Yes, monitor behavior
                  </label>
      </div>

            </fieldset>
          </div>

          <a href="10success.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Continue
            </a>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
