
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="01incident#control" class="govuk-back-link">Back to customer profile</a>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Safeguarding measure applied
          </h1>
      </div>

        <p class="govuk-body">Staff members will be able to see the control measure in customer's profile also:

        <ul>
          <li>Reporting agent has been notified</li>
          <li>Witness has been notified</li>
          <li>Line manager has been notified</li>
        </ul>
      </p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
        If you want to notify the customer you can find the <a href="#">notification letter template here</a>
        </p>

          <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>
      </div>
    </div>
  </main>
</div>




{% endblock %}
