{% extends "layout_incident_landing.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}

{% block pageTitle %}
Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
<section aria-label="Beta banner" role="region">

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
</section>
<section aria-label="Back" role="region">

{{ govukBackLink({
text: "Back to Searchlight search page",
href: "/"
}) }}
</section>
{% endblock %}

{% block content %}


<h1 class="govuk-heading-xl" id="page-title">Your tasksss</h1>
<h2 class="govuk-heading-l">Reports for you to action</h2>
<div class="govuk-hint">
  You must complete a report for each row in the table below by clicking the action link
</div>
<div class="govuk-!-padding-bottom-7">
  {{ govukTable({
    firstCellIsHeader: true,

    head: [
      {
        html: "Incident date"
      },
      {
        text: "Customer"
      },
      {
        text: "Incident reporter"
      },
      {
        text: "Witness(es)"
      },
      {
        text: "Action"
      }
    ],
    rows: [
          [
        {
          html: "<span class='govuk-visually-hidden'>Incident date: </span>7 June 2022 at 11:09am</p>"
        },
        {
          text: "Robert Da Silva"
        },
        {
          text: "Whitney Earl"
        },
        {
          text: "Yes"
        },
        {
          html: "<a href='02incident'>Review and recommend</a>"
        }
      ]  ,
          [
        {
          html: "<p class='govuk-body govuk-!-font-weight-bold' style='margin-bottom: 0px'><span class='govuk-visually-hidden'>Incident date: </span>8 June 2022 at 8:01pm</p>"
        },
        {
          text: "Robert Da Silva"
        },
        {
          html: "<p style='margin-bottom: 0px'><span class='govuk-body-s' style='color:#505a5f'>Whitney Earl <br>on behalf of <br></span><span class='govuk-visually-hidden'>Incident reporter: </span>Mike Black</p>"
        },
        {
          text: "No"
        },
        {
          html: "<a href='02incident'>Review and recommend</a>"
        }
      ]  ,
          [
        {
          html: "<p class='govuk-body govuk-!-font-weight-bold' style='margin-bottom: 0px'><span class='govuk-visually-hidden'>Incident date: </span>9 June 2022 at 1:12pm"
        },
        {
          text: "Robert Da Silva"
        },
        {
          text: "Whitney Earl"
        },
        {
          html: "You<br>Mike Black<br>Ted Lady"
        },
        {
          html: "<a href='#'>Make a witness report</a>"
        }
      ]
    ]
  }) }}
</div>
<h2 class="govuk-heading-l">Reports you have completed</h2>
<div class="govuk-hint">
  Reports that you have completed but are being processed by a colleague are available for you to view until a decision has been made.
</div>
{{ govukTable({

  firstCellIsHeader: true,
  head: [
    {
      html: "<p class='govuk-body govuk-!-font-weight-bold' style='margin-bottom: 0px'>Incident or concern date </p>",
        classes: 'govuk-!-width-one-third'
    },
    {
      text: "Customer"
    },
    {
      text: "Reporter"
    },
    {
      text: "Witness(es)"
    },
    {
      text: "Action"
    }
  ],
  rows: [
        [
      {
        html: "<p class='govuk-body govuk-!-font-weight-bold' style='margin-bottom: 0px'><span class='govuk-visually-hidden'>Incident date: </span>1 June 2022 at 11:09am</p>"
      },
      {
        text: "Robert Da Silva"
      },
      {
          html: "<p style='margin-bottom: 0px'><span class='govuk-body-s' style='color:#505a5f'>You <br>on behalf of <br></span><span class='govuk-visually-hidden'>Incident reporter: </span>Mike Black</p>"
      },
      {
        text: "You"
      },
      {
        html: "<a href='#'>View</a>"
      }
    ],
            [
      {
        html: "<p class='govuk-body govuk-!-font-weight-bold' style='margin-bottom: 0px'><span class='govuk-visually-hidden'>Incident date: </span>2 June 2022 at 3:02am</p>"
      },
      {
        text: "Robert Da Silva"
      },
      {
        text: "You"
      },
      {
        text: "Whitney Earl"
      },
      {
        html: "<a href='#'>View</a>"
      }
    ],
    [
      {
        html: "<p class='govuk-body govuk-!-font-weight-bold' style='margin-bottom: 0px'><span class='govuk-visually-hidden'>Incident date: </span>18 June 2022 at 2:29pm</p>"
      },
      {
        text: "Ann Other"
      },
      {
        text: "You"
      },
      {
        text: "None"
      },
      {
        html: "<a href='#'>View</a>"
      }
    ]
  ]
}) }}

{% endblock %}
