{% extends "layout_incident_landing.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}

{% block pageTitle %}
Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
<section aria-label="Beta banner" role="region">

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
</section>
<section aria-label="Back" role="region">

{{ govukBackLink({
text: "Back to Searchlight",
href: "javascript:history.back()"
}) }}
</section>
{% endblock %}

{% block content %}


<h1 class="govuk-heading-xl" id="page-title">Your reports</h1>
<h2 class="govuk-heading-l">Actions for you</h2>

<div class="govuk-!-padding-bottom-7">
  {{ govukTable({
    firstCellIsHeader: true,

    head: [
      {
        html: "<p class='govuk-body govuk-!-font-weight-bold ' style='margin-bottom: 0px'>Incident or concern date <br><span class='govuk-body-s' style='color:#505a5f; margin-bottom: 0px '>and report reference</span></p>",
        classes: 'govuk-!-width-one-third'
      },
      {
        text: "Customer"
      },
      {
        text: "Reporter"
      },
      {
        text: "Action",
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
          [
        {
          html: "<p class='govuk-body govuk-!-font-weight-bold' style='margin-bottom: 0px'><span class='govuk-visually-hidden'>Date: </span>7 June 2022 at 11:09am<br><span class='govuk-body-s' style='color:#505a5f;'><span class='govuk-visually-hidden'>Incident reference: </span><span aria-hidden='true'>INC</span>-123-456-789</SPAN></p>"
        },
        {
          text: "Philip Da Silva"
        },
        {
          text: "Whitney Earl"
        },
        {
          html: "<a href='02incident'>Review incident</a>"
        }
      ]  ,
          [
        {
          html: "<p class='govuk-body govuk-!-font-weight-bold' style='margin-bottom: 0px'><span class='govuk-visually-hidden'>Date: </span>8 June 2022 at 8:01pm<br><span class='govuk-body-s' style='color:#505a5f;'><span class='govuk-visually-hidden'>Incident reference: </span><span aria-hidden='true'>INC</span>-999-111-212</SPAN></p>"
        },
        {
          text: "Philip Da Silva"
        },
        {
          html: "<p class='govuk-body'><span class='govuk-visually-hidden'>Incident reporter: </span>Mike Black</p><p class='govuk-body-s' style='color:#505a5f; margin-bottom: 0px'>Submitted by </p><p class='govuk-body-s' style='color:#505a5f; margin-bottom: 0px''>Whitney Earl</p>"
        },
        {
          html: "<a href='02incident'>Review incident</a>"
        }
      ]  ,
          [
        {
          html: "<p class='govuk-body govuk-!-font-weight-bold' style='margin-bottom: 0px'><span class='govuk-visually-hidden'>Date: </span>8 June 2022 at 1:12pm<br><span class='govuk-body-s' style='color:#505a5f;'><span class='govuk-visually-hidden'>Witness reference: </span><span aria-hidden='true'>WIT</span>-000-888-511</SPAN></p>"
        },
        {
          text: "Philip Da Silva"
        },
        {
          text: "You"
        },
        {
          html: "<a href='#'>Make a witness report</a>"
        }
      ]
    ]
  }) }}
</div>
<h2 class="govuk-heading-l">Actions for other people</h2>

{{ govukTable({

  firstCellIsHeader: true,
  head: [
    {
      html: "<p class='govuk-body govuk-!-font-weight-bold' style='margin-bottom: 0px'>Incident or concern date <br><span class='govuk-body-s' style='color:#505a5f; margin-bottom: 0px '>and report reference</span></p>",
        classes: 'govuk-!-width-one-third'
    },
    {
      text: "Customer"
    },
    {
      text: "Reporter"
    },
    {
      text: "Action",
      classes: 'govuk-!-width-one-quarter'
    }
  ],
  rows: [
        [
      {
        html: "<p class='govuk-body govuk-!-font-weight-bold' style='margin-bottom: 0px'><span class='govuk-visually-hidden'>Date: </span>1 June 2022 at 11:09am<br><span class='govuk-body-s' style='color:#505a5f;'><span class='govuk-visually-hidden'>Incident reference: </span><span aria-hidden='true'>INC</span>-000-000-001</SPAN></p>"
      },
      {
        text: "Philip Da Silva"
      },
      {
          html: "<p class='govuk-body'><span class='govuk-visually-hidden'>Incident reporter: </span>Mike Black</p><p class='govuk-body-s' style='color:#505a5f; margin-bottom: 0px'>Submitted by </p><p class='govuk-body-s' style='color:#505a5f; margin-bottom: 0px''>You</p>"
      },
      {
        html: "<a href='#'>View report</a>"
      }
    ],
            [
      {
        html: "<p class='govuk-body govuk-!-font-weight-bold' style='margin-bottom: 0px'><span class='govuk-visually-hidden'>Date: </span>2 June 2022 at 3:02am<br><span class='govuk-body-s' style='color:#505a5f;'><span class='govuk-visually-hidden'>Witness reference: </span><span aria-hidden='true'>WIT</span>-000-000-002</SPAN></p>"
      },
      {
        text: "Philip Da Silva"
      },
      {
        text: "You"
      },
      {
        html: "<a href='#'>View report</a>"
      }
    ],
    [
        {
          html: "<p class='govuk-body govuk-!-font-weight-bold' style='margin-bottom: 0px'><span class='govuk-visually-hidden'>Date: </span>18 May 2022 at 2:29pm<br><span class='govuk-body-s' style='color:#505a5f;'><span class='govuk-visually-hidden'>Witness reference: </span><span aria-hidden='true'>CON</span>-121-898-545</SPAN></p>"
        },
        {
          text: "Ann Other"
        },
        {
          text: "You"
        },
        {
          html: "<a href='#'>View report</a>"
        }
      ]
  ]
}) }}

{% endblock %}
