{% extends "layout_incident_landing.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}
{% block pageTitle %}
Error: Who will complete the witness report? - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="05confirm_witness2error3">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: "Enter their email address",
        href: "#witness-email"
      }
    ]
  }) }}
  {% include "templates/v5/govuk-caption-l.njk" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <form class="form" action="route" method="post">
          <fieldset class="govuk-fieldset" aria-describedby="page-title">
            {% set colleagueOnbehalfHTML %}
            {{ govukInput({
              label: {
                text: "Their email address"
              },
              id: "witness-email",
              name: "witness-email",
              autocomplete: "email",
              errorMessage: {
                text: "Enter their email address"
              },
              classes: "govuk-!-width-one-half"
            }) }}
            {% endset %}
            {{ govukRadios({
              idPrefix: "contact",
              name: "contact",
              ispageheader: true,
              fieldset: {
                legend: {
                  text: "Who will complete the witness report for Sartaq Matcha?",
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              hint: {
                text: "We will send them an email, asking them to complete a witness report on behalf of this colleague."
              },
              items: [
                {
                  value: "you",
                  text: "I will"
                },
                {
                  value: "colleague",
                  text: "A colleague who can access this service",
                  checked: true,
                  conditional: {
                  html: colleagueOnbehalfHTML
                  }
                }
              ]
            }) }}
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Send email",
                href: "06sent2"
              }) }}
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
