
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block header %}
<a href="../../index.html"> <img src="/public/images/header.png" width="100%" height="100%" alt="Header"> </a>
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="00reportError">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<a href="../../index.html" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Is this the customer you would like to report?</h1>


<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__value">
         <strong>Full name</strong> <br> Robert De Silva
      </dt>
      <dd class="govuk-summary-list__value">
        <strong>Date of birth</strong> <br> 12/04/93
      </dd>
      <dd class="govuk-summary-list__value">
        <strong>NINo</strong> <br> CC000061A
      </dd>
      <dd class="govuk-summary-list__value">
        <strong>Postcode</strong> <br> E1 7UA
      </dd>
    </div>
</div>
</div>

<div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          I confirm I want to report an incident against this customer
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          I want to report someone related to this customer - for example, a partner, family member, friend or carer
        </label>
      </div>

    <br></br>

<br></br>

<a href="01report.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Continue
  </a>
  <a class="govuk-link" href="04who.html">
    Find a different customer using Searchlight
  </a>

  <br></br>




{% endblock %}
