
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-form-group">
    <a href="05breakdown1.html" class="govuk-back-link">Back</a>
    <br></br>
    <p>Incident breakdown <strong>2 of 5</strong> </p>
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
      What happened during the interaction?
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    What were the main issues?  Describe the citizen behaviour and the interaction using facts only.<br></br>
Please report the exact words that have been used.
  </div>
  <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="10" aria-describedby="with-hint-info with-hint-hint"></textarea>
   </div>

<br></br>
        <a href="07breakdown3.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Continue
          </a>





{% endblock %}
