
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="#" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
          </span>
        </span>
      </a>
    </div>
    <div class="govuk-header__content">
      <a href="../../index.html" class="govuk-header__link govuk-header__link--service-name">
        Agent Safeguarding
      </a>
    </div>
  </div>
</header>
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="datetimev2Error">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-form-group">

  <a href="../../index.html" class="govuk-back-link">Back</a>
  <br></br>
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">


    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        When did the incident happen?
      </h1>
<p><br>If you don't know the exact date and time of the incident, enter an estimate.</p>
    </legend>
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 30 11 2020
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>
    <br></br>
    <div id="passport-issued-hint" class="govuk-hint">
      Use the 24 hour clock.  For example, 15:30
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Hour
          </label>
            <br></br>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
<br></br>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Minutes
          </label>
          <br></br>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
<br></br>
      </div>
    <br></br>


  </fieldset>


</div>

<details class="govuk-details" data-module="govuk-details">
<br></br>
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Help with date and time
</span>
</summary>
<div class="govuk-details__text">
You may be unable to estimate the date and time of the incident. If the incident began during an appointment or a phone call, you can use the start time of the appointment or the call instead.<br></br>
If the incident involved time-stamped written communication (for example, an email, a tweet or a message in the customer's Journal), enter the date and time that the customer sent the message.<br></br>
If the incident involved written communication with no time stamp (for example, a letter or graffiti), enter the date and time that you read the message.

</div>
</details>
<div class="govuk-form-group">
  <br></br>
    <a href="03report.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Continue
      </a>

</div>





{% endblock %}
