{% extends "layout2.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}

{% block pageTitle %}
Check witness details - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="00add_witness_error">feedback</a> will help us to improve it.'
}) }}
{% include "templates/v2/header_searchlight.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}

{% endblock %}

{% block content %}
{% include "templates/v4/govuk-caption-l.njk" %}


<h1 class="govuk-heading-l" id="page-title">Check witness details</h1>
<p class="govuk-body">We will send them an email, asking them to complete a witness report about this incident.
</p>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="page-title">

    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

    {{ govukTable({

      firstCellIsHeader: false,
      head: [
          {
            text: "Name"
          },
          {
            text: "Email address"
          }
        ],
      rows: [
        [
          {
            text: "You"
          },
          {
            text: "sarah@dwp.gov.uk"
          }
        ]

      ]
    }) }}



      <div class="govuk-button-group">


        {{ govukButton({
        text: "Send email",
        href: "00confirm_witness2"
        }) }}


        {% endblock %}
      </div>
    </fieldset>

</div>
