{% extends "layout2.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}

{% block pageTitle %}
Who is the witness? - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="00add_witness_error">feedback</a> will help us to improve it.'
}) }}
{% include "templates/v2/header_searchlight.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}

{% endblock %}

{% block content %}
{% include "templates/v4/govuk-caption-l.njk" %}


<div class="govuk-form-group">
  <form class="form" action="route" method="post">
    <fieldset class="govuk-fieldset" aria-describedby="page-title">
<h1 class="govuk-heading-xl">Email sent</p>
<p class="govuk-body">An email has been sent to Sartaq Matcha with instructions on how to make a witness report on behalf of John Smith </p>
      <div class="govuk-button-group">
          {{ govukButton({
  text: "Back to witness list",
  classes: "govuk-button--secondary",
        href: "../01witnessdisplay-list"
}) }}

        {{ govukButton({
        text: "Continue",
        href: "../02police"
        }) }}


        {% endblock %}
      </div>
    </fieldset>
  </form>
</div>