
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="04who.html" class="govuk-back-link">Back to search</a>
<br></br>
  <h1 class="govuk-heading-xl">
    Robert De Silva
  </h1>
  <h2 class="govuk-heading-m">CT 00 03 41 B</h2>
  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">

      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#citizen">
          Customer
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#history">
          History
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#referrals">
          Referrals
        </a>
      </li>
    </ul>

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="citizen">
      <p style="font-size:150%;"><strong>Customer information</strong></p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Name
          </dt>
          <dd class="govuk-summary-list__value">
            Robert De Silva
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            12/04/90 (Age 30)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          National Insurance Number
          </dt>
          <dd class="govuk-summary-list__value">
            CT 00 03 41 B
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>Last known address</strong><br>
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Telephone
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">01632 960016</a>
          </dd>
        </div>
</dl>
<p style="font-size:150%;"><strong>Benefits</strong></p>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Universal Credit
    </dt>
    <dd class="govuk-summary-list__value">
      Refused: because of partner savings
    </dd>
  </div>
  </dl>
  <p style="font-size:150%;"><strong>Relationships</strong></p>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Mark Lapsang
      </dt>
      <dd class="govuk-summary-list__value">
        Civil partner
      </dd>
    </div>

</dl>
</div>

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
   <p style="font-size:150%;"><strong>History</strong></p>


     <img src="/public/images/card_incidentONE.png" alt="Reviewed"> &nbsp;<img src="/public/images/card_controlZERO.png" alt="Reviewed"> &nbsp;  <img src="/public/images/card_actionZERO.png" alt="Reviewed"> &nbsp;

   <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

       <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all"><div class="app-step-nav__controls"><button aria-expanded="false" class="app-step-nav__button app-step-nav__button--controls js-step-controls-button" aria-controls="step-panel-check-youre-allowed-to-drive-1">Show all</button></div>
         <ol class="app-step-nav__steps">

           <li class="app-step-nav__step js-step" id="when-you-pass">
             <div class="app-step-nav__header js-toggle-panel" data-position="7">
               <h2 class="app-step-nav__title">
                 <span class="app-step-nav__circle app-step-nav__circle--number">
                   <span class="app-step-nav__circle-inner">
                     <span class="app-step-nav__circle-background">
                       <span class="govuk-visually-hidden">Step</span> 1
                     </span>
                   </span>
                 </span>

                 <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-when-you-pass-7"><span class="js-step-title-text">
                  <img src="/public/images/icon_incident.png" alt="Reviewed"> &nbsp; 15 April 2021
                 </span><p>Verbal abuse/threats - Face to face</p>
               </h2>
             </div>

             <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-when-you-pass-7">
               <p class="app-step-nav__paragraph">You can start driving as soon as you pass your driving test.</p>

               <p class="app-step-nav__paragraph">You must have an insurance policy that allows you to drive without supervision.</p>

               <ol class="app-step-nav__list " data-length="1">
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="7.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Find out about Pass Plus training courses </a>
                 </li>
               </ol>
             </div>

           </li>
         </ol>
       </div>

     </div>
   </div>



  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="referrals">

                <p style="font-size:150%;"><strong>No referrals</strong></p>

                    <a href="01list.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                      Add third party referral
                      </a>

                    </div>





  </div>






{% endblock %}
