<style>
  .nav {
    background-color: #505a5f;
    /* was 1E6FB8 */
    height: 48px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 16px;
  }
  .report {
    color: white;
    font-size: 24px;
  }
</style>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>