
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">


  <a href="/safeguarding.html" class="govuk-back-link">Back</a>

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Supporting Agent
      </h1>
    </legend>

    <p>Your supporting agent will be automatically notified about this incident to be able to support you. Do you need to notify another supporting agent regarding this particular incident? (i.e. the manager that was present on the day of the incident?)</p>

    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>


<a href="/behaviour.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Next
  </a>


      </div>
    </div>
  </main>
</div>

{% endblock %}
