
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block header %}
<a href="../../index.html"> <img src="/public/images/header.png" width="100%" height="100%" alt="Header" ></a>
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Report submitted
          </h1>
      </div>

      <p class="govuk-body">We've sent you a confirmation email.</p>
            <p class="govuk-body">We've also notified your manager and a nominated decision maker about your report.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          Your manager and decision maker will review the report within 48 hours. We'll email you when they've made a decision about how to respond to this incident.
        </p>
        <p class="govuk-body">
          You can also check the status of this report in the incident report list.
        </p>

        <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>

      </div>
    </div>
  </main>
</div>






{% endblock %}
