
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Report created
          </h1>
          <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div>
        </div>

        <p class="govuk-body">We have sent you a <a href="#" class="govuk-link">link to your report</a> via email.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          <Strong>We will like you to provide more information as soon as you can:</Strong>
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Where and how the behaviour occured</li>
          <li>Identity of the citizen involved (Name, NINo, Date of birth)</li>
          <li>Contact emails for witnesses, if any</li>
          <li>Details of your business area and job role</li>
          <li>A narrative about what happened</li>
        </ul>


        <p class="govuk-body"><Strong> You can complete the report at this link: </Strong>
          <a href="#" class="govuk-link">Safeguarding report details</a>
        </p>
      </div>
    </div>
  </main>
</div>




{% endblock %}
