
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs ">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">DWP Safeguarding</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Report an incident or concern</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Safeguarding report</h1>

        <p class="govuk-body">When to rise a safeguarding report:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>To report an incident with a member of the public</li>
          <li>To report the behaviour of a member of the public which may lead to a risk for you or other staff members</li>
          <li>To report an information which may help prevent a risk during the interaction with a member of the public</li>
          <li>To report a concern about the health or wellbeing of a member of the public</li>
        </ul>

          <p class="govuk-body">If you feel distressed and in need of immediate support please refer to our <a href= '#'>Help Employee Assistance</a></p>

        <a href="07behaviour.html" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
          Start report
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg></a>


      </div>

      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
           Related topics
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="#">
                  Witness report
                </a>
              </li>
              <li>
                <a class="govuk-link" href="#">
                  Help Employee Assistance
                </a>
              </li>

            </ul>
          </nav>
        </aside>

      </div>
    </div>
  </main>
</div>

{% endblock %}
