{% extends "layout.html" %}
{% block pageTitle %}
    Email
{% endblock %}
{% block beforeContent %}
    {{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-!-padding-bottom-9">
	<h1 class="govuk-heading-m">
		<i>Email 1: Line manager instruction email </i>
	</h1>
	    <p class="govuk-body">Email sent to line manager when one of their team reports an incident.</p>

</div>
<div class="govuk-!-padding-bottom-9">
	<h2 class="govuk-heading-m">(Subject line) URGENT: Someone in your team was involved in an incident
		<span class="nowrapper">((incidentReferenceNumber))</span>
	</h2>
</div>
<p class="govuk-body">Dear ((First name)) ((Surname)),</p>
<p class="govuk-body">Whitney Earl reported an incident at 14.03 on 31 October 2022 (((incidentReferenceNumber))).
</p>

<p class="govuk-body">As their line manager, you have a duty of care to provide them with support, and to help them access any additional support they need.</p>
<p class="govuk-body">For security reasons, we cannot provide any information about the incident in this email. </p>
<br>
<div class="govuk-!-padding-bottom-4">
<h3 class="govuk-heading-m">What to do now</h3>

<p class="govuk-body">Speak to Whitney as soon as possible to determine what support they need. This might include time away from their job.</p>
<p class="govuk-body">Advise them that staff can access free counselling and support through <a href="https://intranet.dwp.gov.uk/section/working-dwp/human-resources/wellbeing/employee-assistance-programme">PAM Assist</a>.</p>


<h3 class="govuk-heading-m">What to do regularly</h3>
<p class="govuk-body">Make sure that:</p>
<ul class="govuk-list govuk-list--bullet">
<li>everyone in your team knows how to report incidents and how to check the Staff Protection List</li>
<li>your team are always up to date on their procedural and Keeping Safe training</li>
<li>you regularly review and circulate the Incident Management Plan, and carry out drills</li>
<li>you know what to do if a serious incident occurs</li>
<li>you’re always up to date on your responsibilities as a line manager</li>
</div>

<p class="govuk-body">Thank you,</p>
<p class="govuk-body">On behalf of Keep Customer Interactions Safe.</p>


{% endblock %}
