{% extends "layout.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}

{% block pageTitle %}
Have you reported this in SOARS? - Agent Safeguarding
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="04add_soars_error">feedback</a> will help us to improve it.'
}) }}
{% include "templates/v2/header_searchlight.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-form-group">
  <form class="form" action="test2" method="post">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      {% include "templates/v3/govuk-caption-l.njk" %}

      {% set hintHTML %}
      Use <a href="https://intranet.dwp.gov.uk/section/working-dwp/human-resources/work/health-and-safety">SOARS</a> to report an accident or a near miss.
      {% endset %}


      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {{ govukRadios({
        idPrefix: "soarsQuestion",
        name: "soarsQuestion",
        fieldset: {
          legend: {
            text: "Have you reported this in the Safety Online - Accident Reporting System (SOARS)?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: hintHTML
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
      <div class="govuk-button-group">

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Continue"
      }) }}

      {% endblock %}
      </div>
    </fieldset>
  </form>

</div>
