{% extends "layout.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}

{% block pageTitle %}
Confirmation - Agent Safeguarding
{% endblock %}

{% block beforeContent %}
{% include "templates/v2/header_newservice.html" %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Report submitted
            </h1>
            <div class="govuk-panel__body">
              Your reference number<br><strong>INC-321-234-567</strong>
            </div>
          </div>

  <p class="govuk-body">We've received your incident report, and we’ve notified your manager about it.</p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      We aim to email you within 48 hours with a response.
    </p>
    <p class="govuk-body">
      DWP staff can access free counselling and support through <a class="govuk-link" href="https://intranet.dwp.gov.uk/section/working-dwp/human-resources/wellbeing/employee-assistance-programme">PAM Assist</a> .
    </p>
    <p class="govuk-body">
      You can <a href="#" class="govuk-link">email us</a> about your incident report. You must give us the reference number at the top of the page.
    </p>
    <p class="govuk-body">
      Make a note of your reference number before you close this tab, or print or save this page.
    </p>
    <br>
    <p class="govuk-body">
      <a href="#" class="govuk-link">What did you think of this service?</a> (takes two minutes)
    </p>

  </div>
</div>

{% endblock %}