
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<html lang="en" class="govuk-template "><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="https://govuk-prototype-kit.herokuapp.com/govuk/assets/images/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://govuk-prototype-kit.herokuapp.com/govuk/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://govuk-prototype-kit.herokuapp.com/govuk/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://govuk-prototype-kit.herokuapp.com/govuk/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://govuk-prototype-kit.herokuapp.com/govuk/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="https://govuk-prototype-kit.herokuapp.com/govuk/assets/images/govuk-apple-touch-icon.png">



<meta name="description" content="Use the GOV.UK Prototype Kit to quickly make realistic HTML prototypes of GOV.UK services.">

<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="./Step by step navigation_files/application.css" media="all" rel="stylesheet" type="text/css"><!--<![endif]-->
<!--[if lte IE 8]><link href="/public/stylesheets/docs-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="./Step by step navigation_files/docs.css" media="all" rel="stylesheet" type="text/css"><!--<![endif]-->




  <meta property="og:image" content="/govuk/assets/images/govuk-opengraph-image.png">
</head>
<body class="govuk-template__body  js-enabled">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <h1 class="govuk-heading-xl">
    Incident report
  </h1>
  <h2 class="govuk-heading-m">15/02/21 - 13:45</h2>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#incident">
          Incident
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#reporter">
          Reporter
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#citizen">
          Citizen
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#history">
          History
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#control">
          Control measures
        </a>
      </li>
    </ul>
    <div class="govuk-tabs__panel" id="incident">
      <p style="font-size:150%;"><strong>Incident details</strong></p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Type
          </dt>
          <dd class="govuk-summary-list__value">
            Abuse, Threats
          </dd>
        </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              15/02/21 - 13:45
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location
            </dt>
            <dd class="govuk-summary-list__value">
              <strong>Bromley Jobcentre</strong><br>
              72 Guild Street<br>London<br>SE23 6FH
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Area
            </dt>
            <dd class="govuk-summary-list__value">
              Adviser interview area
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Citizen involved
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#citizen">
                Robert De Silva
              </a>
            </dd>
          </div>
        </dl>
        <p style="font-size:150%;"><strong>Witness reports</strong></p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Witness
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#">Sartaq Matcha</a>
              </dd>
            </div>
          </dl>
          <p style="font-size:150%;"><strong>Incident Breakdown</strong></p>
          <p style="font-size:100%;">Written by: <a href="#reporter">Whitney Earl</a></p>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What started the situation?
                </dt>
                <dd class="govuk-summary-list__value">
                  I was explaining to Robert why he was not eligible anymore for UC. His civil partner earned £6000 last month therefore he lost the right for UC. He thought that was unfair and no matter how calmly I was explaining the problem, he just kept interrupting me and shouting.
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What happened during the interaction?
                </dt>
                <dd class="govuk-summary-list__value">
                  Robert shouted at me for the whole time: “You useless cu*%, you don’t give a fu%@ about me! You can’t do this to me! You are just a keyboard warrior. It is easy for you to take this decision behing your comfy desk.” It was extremely offensive and I tried to explain that was not my fault, it’s just how things work but he didn’t listen.
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How did you handle the interaction?
                </dt>
                <dd class="govuk-summary-list__value">
                  I tried to calm him down, but he shouted very loud and started getting closer to me, pointing the finger and leaning on the table. Every time I opne my mouth he just shouted over me.
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How did the interaction end?
                </dt>
                <dd class="govuk-summary-list__value">
                Sartaq came from his desk and asked him politely to lower his voice. He didn’t worked. Finally Mike the G4S came and together him and Sartaq managed to escort Robert outside.
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How did you feel about the interaction?
                </dt>
                <dd class="govuk-summary-list__value">
                  I felt threatened and miserable. It was horrible to be shouted at in that way. I felt vulnerable as he was leaning towards me and I thought that he could have grabbed me or punched me at any time. I was just too scared to do anything.
                </dd>
              </div>
            </dl>
            <p style="font-size:150%;"><strong>Line manager recommendations</strong></p>
            <p style="font-size:100%;">Written by: <a href="#reporter">Sadiq Assam</a></p>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    In your opinion what could have been done to prevent the incident to start?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Robert already received a written warning after leaving some nasty comments on the journal. We didn’t expected this explosion of anger however. Maybe we could have called him on the phone when he booked the appointment with us.
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    In your opinion what could have been done to keep the member of staff safer during the interaction?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    The citizen came very close to grab the staff member. Would have been better to have a screen between them to prevent that possibility.
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Did the staff handle the situation at the best of their abilities?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    I think so, given the circumstances.
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    In your opinion was the end of the interaction handled in the best way?
                  </dt>
                  <dd class="govuk-summary-list__value">
                  At the time it seems that only the intervention of the security staff managed to stop the behaviour of the citizen. Maybe we should have give Robert a more formal Oral warning in the end.
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Did you provide immediate support to the member of staff?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes. I invited Whitney to take some time off and we checked with her straigth away to make sure she was fine.
                    It would be good to keep giving her support and to make sure that we add a screen as soon as possible.
                  </dd>
                </div>
              </dl>
    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reporter">
      <p style="font-size:150%;"><strong>Reporter details</strong></p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Name
          </dt>
          <dd class="govuk-summary-list__value">
            Whitney Earl
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Job Role
          </dt>
          <dd class="govuk-summary-list__value">
            Work Coach
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main work location
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>Bromley Jobcentre</strong><br>
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Incidents reported
          </dt>
          <dd class="govuk-summary-list__value">
            9
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Email
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">whitney.earl@dwp.gov.uk</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Telephone
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">01632 960079</a>
          </dd>

        </div>
      </dl>
      <p style="font-size:150%;"><strong>Line manager details</strong></p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Name
          </dt>
          <dd class="govuk-summary-list__value">
            Mark Green
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Job Role
          </dt>
          <dd class="govuk-summary-list__value">
            Work Coach Manager
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main work location
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>Bromley Jobcentre</strong><br>
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Email
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">mark.green@dwp.gov.uk</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Telephone
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">01632 960016</a>
          </dd>
        </div>
</dl>
    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="citizen">
      <p style="font-size:150%;"><strong>Citizen</strong></p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Name
          </dt>
          <dd class="govuk-summary-list__value">
            Robert De Silva
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            12/04/90 (Age 30)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          National Insurance Number
          </dt>
          <dd class="govuk-summary-list__value">
            CT 00 03 41 B
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>Bromley Jobcentre</strong><br>
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Telephone
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">01632 960016</a>
          </dd>
        </div>
</dl>
<p style="font-size:150%;"><strong>Benefits</strong></p>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Universal Credit
    </dt>
    <dd class="govuk-summary-list__value">
      not eligible because of partner savings
    </dd>
  </div>
  </dl>
  <p style="font-size:150%;"><strong>Relationships</strong></p>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Mark Lapsang
      </dt>
      <dd class="govuk-summary-list__value">
        Civil partner
      </dd>
    </div>
</dl>
    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
      <p style="font-size:150%;"><strong>History</strong></p>


      <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
      <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all"><div class="app-step-nav__controls"><button aria-expanded="false" class="app-step-nav__button app-step-nav__button--controls js-step-controls-button" aria-controls="step-panel-check-youre-allowed-to-drive-1">Show all</button></div>
        <ol class="app-step-nav__steps">
          <li class="app-step-nav__step js-step" id="check-youre-allowed-to-drive">
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 1
                    </span>
                  </span>
                </span>

                <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-youre-allowed-to-drive-1"><span class="js-step-title-text">
                  Check you're allowed to drive
                </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span></button></span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-check-youre-allowed-to-drive-1">
              <p class="app-step-nav__paragraph">Most people can start learning to drive when they’re 17.</p>

              <ol class="app-step-nav__list " data-length="3">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="1.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Check what age you can drive </a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="1.2" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Requirements for driving legally </a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="1.3" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Driving eyesight rules </a>
                </li>
              </ol>
            </div>

          </li>

          <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 2
                    </span>
                  </span>
                </span>

                <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2"><span class="js-step-title-text">
                  Get a provisional licence
                </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span></button></span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-a-provisional-licence-2">
              <ol class="app-step-nav__list " data-length="1">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="2.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Apply for your first provisional driving licence <span class="app-step-nav__context">£34 to £43</span></a>
                </li>
              </ol>
            </div>

          </li>

          <li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 3
                    </span>
                  </span>
                </span>

                <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-driving-lessons-and-practice-3"><span class="js-step-title-text">
                  Driving lessons and practice
                </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span></button></span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
              <p class="app-step-nav__paragraph">You need a provisional driving licence to take lessons or practice.</p>

              <ol class="app-step-nav__list " data-length="4">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="3.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">The Highway Code </a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="3.2" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Taking driving lessons </a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="3.3" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Find driving schools, lessons and instructors </a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="3.4" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Practise vehicle safety questions </a>
                </li>
              </ol>
            </div>

          </li>

          <li class="app-step-nav__step js-step" id="prepare-for-your-theory-test">
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--logic">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      and
                    </span>
                  </span>
                </span>

                <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-prepare-for-your-theory-test-4"><span class="js-step-title-text">
                  Prepare for your theory test
                </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span></button></span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-prepare-for-your-theory-test-4">
              <ol class="app-step-nav__list " data-length="3">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="4.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Theory test revision and practice </a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="4.2" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Take a practice theory test </a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a rel="external" data-position="4.3" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Theory and hazard perception test app </a>
                </li>
              </ol>
            </div>

          </li>

          <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
            <div class="app-step-nav__header js-toggle-panel" data-position="5">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 4
                    </span>
                  </span>
                </span>

                <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-book-and-manage-your-theory-test-5"><span class="js-step-title-text">
                  Book and manage your theory test
                </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span></button></span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-theory-test-5">
              <p class="app-step-nav__paragraph">You need a provisional driving licence to book your theory test.</p>

              <ol class="app-step-nav__list " data-length="5">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="5.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Book your theory test <span class="app-step-nav__context">£23</span></a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="5.2" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">What to take to your test </a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="5.3" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Change your theory test appointment </a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="5.4" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Check your theory test appointment details </a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="5.5" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Cancel your theory test </a>
                </li>
              </ol>
            </div>

          </li>

          <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test">
            <div class="app-step-nav__header js-toggle-panel" data-position="6">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 5
                    </span>
                  </span>
                </span>

                <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-book-and-manage-your-driving-test-6"><span class="js-step-title-text">
                  Book and manage your driving test
                </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span></button></span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-driving-test-6">
              <p class="app-step-nav__paragraph">You must pass your theory test before you can book your driving test.</p>

              <ol class="app-step-nav__list " data-length="5">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="6.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Book your driving test <span class="app-step-nav__context">£62 to £75</span></a>

                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="6.2" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">What to take to your test </a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="6.3" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Change your driving test appointment </a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="6.4" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Check your driving test appointment details </a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="6.5" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Cancel your driving test </a>
                </li>
              </ol>
            </div>


          </li>

          <li class="app-step-nav__step js-step" id="when-you-pass">
            <div class="app-step-nav__header js-toggle-panel" data-position="7">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 6
                    </span>
                  </span>
                </span>

                <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-when-you-pass-7"><span class="js-step-title-text">
                  When you pass
                </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span></button></span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-when-you-pass-7">
              <p class="app-step-nav__paragraph">You can start driving as soon as you pass your driving test.</p>

              <p class="app-step-nav__paragraph">You must have an insurance policy that allows you to drive without supervision.</p>

              <ol class="app-step-nav__list " data-length="1">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="7.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Find out about Pass Plus training courses </a>
                </li>
              </ol>
            </div>

          </li>
        </ol>
      </div>
        </main>

    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="control">
      <h2 class="govuk-heading-l">Control measures</h2>

    </div>

    <script src="./Step by step navigation_files/jquery-1.11.3.js.download"></script>
    <script src="./Step by step navigation_files/all.js.download"></script>
    <script src="./Step by step navigation_files/docs.js.download"></script>


      <script src="./Step by step navigation_files/auto-store-data.js.download"></script>



      <script src="./Step by step navigation_files/step-by-step-nav.js.download"></script>
      <script type="text/javascript">
        var $element = $('#step-by-step-navigation')
        var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
        stepByStepNavigation.start($element)
      </script>


</body></html>





{% endblock %}
