
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="#" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
          </span>
        </span>
      </a>
    </div>
    <div class="govuk-header__content">
      <a href="../../index.html" class="govuk-header__link govuk-header__link--service-name">
        Agent Safeguarding
      </a>
    </div>
  </div>
</header>
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="typev3-3Error">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}
{% block content %}
<a href="../../index.html" class="govuk-back-link">Back</a>
<br></br>
<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      What would you like to report?
    </h1>
  </legend>
  <div id="waste-hint" class="govuk-hint">
 Select all that apply.
</div>
<div class="govuk-checkboxes">
 <div class="govuk-checkboxes__item">
   <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
   <label class="govuk-label govuk-checkboxes__label" for="waste">
     Threat
   </label>
 </div>
 <div class="govuk-checkboxes__item">
   <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
   <label class="govuk-label govuk-checkboxes__label" for="waste-2">
     Verbal abuse
   </label>
 </div>
 <div class="govuk-checkboxes__item">
   <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
   <label class="govuk-label govuk-checkboxes__label" for="waste-3">
     Offensive behaviour
   </label>
 </div>
 <div class="govuk-checkboxes">
   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
     <label class="govuk-label govuk-checkboxes__label" for="waste">
      Discrimination
     </label>
   </div>
   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
     <label class="govuk-label govuk-checkboxes__label" for="waste-2">
      Acoustic shock
     </label>
   </div>
   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
     <label class="govuk-label govuk-checkboxes__label" for="waste-2">
      Recorded or filmed without permission
     </label>
   </div>
   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
     <label class="govuk-label govuk-checkboxes__label" for="waste-2">
      Offensive password or security question
     </label>
   </div>
   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
     <label class="govuk-label govuk-checkboxes__label" for="waste-2">
      Other
     </label>
   </div>


</div>



  <br></br>
    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Continue
      </a>




{% endblock %}
