
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block header %}
<a href="../../index.html"> <img src="/public/images/header.png" width="100%" height="100%" alt="Header"> </a>
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="typev3">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}
{% block content %}
<a href="../../index.html" class="govuk-back-link">Back</a>
<br></br>
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#passport-issued-day">Please choose all the relevant options</a>
      </li>

    </ul>
  </div>
  </div>
<div class="govuk-form-group govuk-form-group--error">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      What would you like to report?
    </h1>
  </legend>
  <span id="passport-issued-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> What better describe the incident?
              </span>
  <div id="waste-hint" class="govuk-hint">
 Select all that apply.
</div>
<div class="govuk-checkboxes">
 <div class="govuk-checkboxes__item">
   <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
   <label class="govuk-label govuk-checkboxes__label" for="waste">
     Threat
   </label>

 </div>
 <div class="govuk-checkboxes__item">
   <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
   <label class="govuk-label govuk-checkboxes__label" for="waste-2">
     Abuse
   </label>
 </div>
 <div class="govuk-checkboxes__item">
   <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
   <label class="govuk-label govuk-checkboxes__label" for="waste-3">
     Physical assault
   </label>
 </div>
 <div class="govuk-checkboxes">
   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
     <label class="govuk-label govuk-checkboxes__label" for="waste">
      Attempted physical assault
     </label>
   </div>
   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
     <label class="govuk-label govuk-checkboxes__label" for="waste-2">
      Other
     </label>
   </div>


</div>
</div>
</div>



  <br></br>
    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Continue
      </a>




{% endblock %}
