
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Witness report submitted
          </h1>
        </div>

        <table class="govuk-table">
          <h1 class="govuk-heading-xl">
            Incidents list
            <p><strong>Bromley Job Centre</strong></p>
          </h1>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">Date</th>
              <th scope="col" class="govuk-table__header app-custom-class">Reporter</th>
              <th scope="col" class="govuk-table__header app-custom-class">Type</th>
              <th scope="col" class="govuk-table__header app-custom-class">Customer</th>
              <th scope="col" class="govuk-table__header app-custom-class">Witnesses</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">30/03/21 - 10:30</th>
              <td class="govuk-table__cell">Whitney Earl</td>
              <td class="govuk-table__cell">Abuse, Threats</td>
              <td class="govuk-table__cell">Robert De Silva</td>
              <td class="govuk-table__cell">Your user name</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">30/03/21 - 13:45</th>
              <td class="govuk-table__cell">Sadiq Assam</td>
              <td class="govuk-table__cell">Damage to property</td>
                <td class="govuk-table__cell">Mark Smith</td>
              <td class="govuk-table__cell"><a href="01details">Add witness report</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">29/03/21 - 16:00</th>
              <td class="govuk-table__cell">Whitney Earl</td>
              <td class="govuk-table__cell">Harassment</td>
                <td class="govuk-table__cell">Willy Wonka</td>
              <td class="govuk-table__cell"><a href="01details">Add witness report</a></td>
            </tr>
          </tbody>
        </table>
  </main>
</div>




{% endblock %}
