{% extends "layout2.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}

{% block pageTitle %}
Check witness details - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="00add_witness_error">feedback</a> will help us to improve it.'
}) }}
{% include "templates/v2/header_searchlight.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}

{% endblock %}

{% block content %}
{% include "templates/v4/govuk-caption-l.njk" %}


<div class="govuk-form-group">
  <form class="form" action="route" method="post">
    <fieldset class="govuk-fieldset" aria-describedby="page-title">

<h1 class="govuk-heading-xl" id="page-title" style="margin-bottom: 20px !important;">Check witness details</h1>
<p class="govuk-hint">We will send them an email, asking them to complete a witness report about this incident.
</p>
{{ govukTable({
  firstCellIsHeader: false,
  hint: {
    text: "You’ll need an account to prove your identity and complete your Self Assessment."
  },
  head: [
      {
        text: "Witness name"
      },
      {
        text: "Contact email address"
      }
    ],
  rows: [
    [
      {
        text: "Mike black"
      },
      {
        text: "sarah@dwp.gov.uk"
      }
    ],
        [
      {
        text: "Sarah Satcha"
      },
      {
        text: "sarah@dwp.gov.uk"
      }
    ]


  ]
}) }}

      <div class="govuk-button-group">


        {{ govukButton({
        text: "Send email",
        href: "00confirm_witness2"
        }) }}


        {% endblock %}
      </div>
    </fieldset>
  </form>
</div>
