{% extends "layout.html" %}
{% block pageTitle %}
    Email
{% endblock %}
{% block beforeContent %}
    {{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-!-padding-bottom-9">
	<h1 class="govuk-heading-m">
		<i>Email 1: Title of email </i>
	</h1>
	    <p class="govuk-body">Some description.</p>

</div>
<div class="govuk-!-padding-bottom-9">
	<h2 class="govuk-heading-m">(Subject line) URGENT: Review incident report
		<span class="nowrapper">INC-123-456-789</span>
	</h2>
</div>
<p class="govuk-body">Dear [Name Surname],
    <p class="govuk-body">Some instruction.</p>
</p>
<h2 class="govuk-heading-m">Sub title</h2>
<ol class="govuk-list  govuk-list--number">
    <li>Numbered list</li>
</ol>
<p class="govuk-body">Some text
</p>
<p class="govuk-body">Thank you,<br>
    Agent Safeguarding.
</p>
{% endblock %}