
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="01concernerror">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


{% endblock %}


{% block content %}

<div class="govuk-form-group">
  <a href="00list" class="govuk-back-link">Back</a>
  <br></br>
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Did you see / hear this incident?
    </h1>
  </legend>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Staff member involved
      </dt>
      <dd class="govuk-summary-list__value">
      Whitney Earl
      </dd>
    </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date and time
        </dt>
        <dd class="govuk-summary-list__value">
          22/04/21 at 10:30
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Customer
        </dt>
        <dd class="govuk-summary-list__value">
          Robert De Silva
        </dd>
      </div>


</div>
<div class="govuk-form-group">

      <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          No
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          I saw or heard an incident but some details are different
        </label>
      </div>
</div>





  <br></br>
    <a href="08report.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Continue
      </a>

</div>

<br></br>
<a href="09reportNO"> Not the witness
</a>



{% endblock %}
