
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="01concernerror">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


{% endblock %}


{% block content %}

<div class="govuk-form-group">
  <a href="00list" class="govuk-back-link">Back</a>
  <br></br>
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Did you witness this incident?
    </h1>
  </legend>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Reporter
      </dt>
      <dd class="govuk-summary-list__value">
      Whitney Earl
      </dd>
    </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date
        </dt>
        <dd class="govuk-summary-list__value">
          22/04/21 - 10:30
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Customer
        </dt>
        <dd class="govuk-summary-list__value">
          Rober De Silva
        </dd>
      </div>


</div>
<div class="govuk-form-group">
  <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          I witnessed this incident
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          I didn't witness this incident
        </label>
      </div>
</div>





  <br></br>
    <a href="08report.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Continue
      </a>

</div>

<br></br>
<a href="09reportNO"> Not the witness
</a>



{% endblock %}
