{% extends "layout.html" %}

{% block pageTitle %}
Were you involved in the incident? - Agent Safeguarding
{% endblock %}

{% block beforeContent %}
<section aria-label="Beta banner" role="region">

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
  tag: {
  text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
</section>
{% include "templates/v2/header_searchlight.njk" %}
<section aria-label="Back" role="region">
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
  }) }}
</section>
{% endblock %}

{% block content %}
          <form class="form" action="02recorddata2" method="post">

<div class="govuk-form-group">
  {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
  {{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
  {
  text: "Enter their first name",
  href: "#first-name2"
  }


  ]
  }) }}
  <fieldset class="govuk-fieldset" aria-describedby="on-behalf">
    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% set emailHtml %}
    {{ govukInput({
    id: "first-name2",
    name: "first-name2",
    classes: "govuk-!-width-one-third",
    label: {
    text: "Their first name"
    },
    errorMessage: {
    text: "Enter their first name"
    }
    }) }}
    {{ govukInput({
    id: "last-name2",
    name: "last-name2",
    classes: "govuk-!-width-one-third",
    label: {
    text: "Their last name"
    },
    value: data['last-name']

    }) }}
    {{ govukInput({
    id: "email2",
    name: "email2",
    spellcheck: false,
    classes: "govuk-!-width-one-third",
    label: {
    text: "Their email address"
    },
    value: data['email']

    }) }}

    {% endset -%}



    {{ govukRadios({
    idPrefix: "on-behalf2",
    name: "on-behalf2",
    fieldset: {
    legend: {
    text: "Are you reporting an incident that you were involved in?",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
    }
    },
    items: [
    {
    value: "yes",
    text: "Yes"
    },
    {
    value: "no",
    text: "No, I am reporting this on behalf of someone else",
    checked: true,
    conditional: {
    html: emailHtml
    }
    }
    ],
    hint: {
    text: "Select one option."
    }
    }) }}
    <div class="govuk-button-group">

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
      text: "Continue"
      }) }}

    </div>
  </fieldset>
</div>
</form>
{% endblock %}
