{% extends "layout.html" %}

{% block pageTitle %}
  Who do you work for? - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="00agentsource_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        idPrefix: "organisation",
        name: "organisation",
        fieldset: {
          legend: {
            text: "Who do you work for?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "CHDA",
            text: "Centre for Health and Disability Assessments (CHDA)"
          },
          {
            value: "DWP",
            text: "Department for Work and Pensions (DWP)"
          }
        ],
        hint: {
          text: "Select one option."
        }
      }) }}
      <div>
        {{ govukButton({
          text: "Continue",
          href: "01comments"
        }) }}
      </div>
    </div>
  </div>
<hr>
NOT PART OF DESIGN: Demo only<br>
There are x versions of this page<br>
<a href="00agentsource">1. Work for?</a><br>
<a href="00agentsource_error">2. Error: Select </a><br>
<hr>
{% endblock %}
