{% extends "layout.html" %}

{% block pageTitle %}
  Error: Do you want to add files to your report? - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select yes if you want to add files to your report",
            href: "#add-files"
          }
        ]
      }) }}
      {{ govukRadios({
        idPrefix: "add-files",
        name: "add-files",
        fieldset: {
          legend: {
            text: "Do you want to add files to your report?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ],
        hint: {
          text: "You can add files that contain evidence to support your report."
        },
        errorMessage: {
          text: "Select yes if you want to add files to your report"
        }
      }) }}
      <div>
        {{ govukButton({
          text: "Continue",
          href: "03check"
        }) }}
      </div>
    </div>
  </div>
<hr>
NOT PART OF DESIGN: Demo only<br>
There are x versions of this page<br>
<a href="02fileuploadcheck">1. Add files?</a><br>
<a href="02fileuploadcheck_error">2. Error: Select </a><br>
<hr> 
{% endblock %}
