@@ -0,0 +1,91 @@
{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l" id="page-title">
    Check your answers
  </h1>
  <div class="govuk-!-padding-bottom-9">
    <h2 class="govuk-heading-m">
      Overview
    </h2>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Who do you work for?"
          },
          value: {
            text: "Department for Work and Pensions (DWP)"
          }
        }
      ]
    }) }}
  </div>
  <div class="govuk-!-padding-bottom-9">
    <h2 class="govuk-heading-m">
      Describe the concern
    </h2>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Tell us about the safety concern you want to report"
          },
          value: {
            text: "Customer is often verbally threatening to health service colleagues"
          }
        }
      ]
    }) }}
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9">
      <h2 class="govuk-heading-m">
        There are no files attached to this report
      </h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Are you ready to submit your report?</h2>
      <p class="govuk-body">If you need to change anything in your report, use the back link near the top of this page.</p>
      <p class="govuk-body">When you click Submit, we will send your report to the appropriate manager to review.</p>
      <p class="govuk-body govuk-!-font-weight-bold">You will not be able to change anything in your report after you click Submit.</p>
      <div>
        {{ govukButton(
            {
              text: "Submit",
              href: "04confirm"
            }
          ) }}
      </div>
    </div>
  </div>
<hr>
NOT PART OF DESIGN: Demo only<br>
<a href="03check">1. Check your answers</a><br>
<a href="03check_other">2. Check your answers - other</a><br>
<hr>
{% endblock %}
