
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#passport-issued-error">You need to provide a valid line manager's email </a>
      </li>
      <li>
        <a href="#postcode-error">You need to provide a valid line manager's phone number </a>
      </li><li>
        <a href="#passport-issued-error">Please check the email format</a>
      </li>
      <li>
        <a href="#postcode-error">Please check the format of the phone number</a>
      </li>
    </ul>
  </div>
</div>

  <a href="01yourdetails.html" class="govuk-back-link">Back</a>
  <br></br>
  <div class="govuk-form-group govuk-form-group--error">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Your line manager's contact
          </h1>
        </legend>
    </fieldset>
    <span id="passport-issued-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Please provide a valid email address
    </span>
    <label class="govuk-label" for="full-name">
      Your manager’s email
    </label>
    <input class="govuk-input govuk-date-input__input govuk-input--error" id="full-name" name="full-name" type="text" pattern="[0-9]*" inputmode="text">
    <br></br>
    <span id="passport-issued-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Please provide a valid telephone number
    </span>
    <label class="govuk-label" for="full-name">
      Your manager’s telephone number
    </label>
    <input class="govuk-input govuk-date-input__input govuk-input--error" id="full-name" name="full-name" type="text" pattern="[0-9]*" inputmode="text">
    <br></br>
      <br></br>
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Optional - Contact of manager that was present on the day of the incident
        </h1>
      </legend>
  </fieldset>
  <span id="passport-issued-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Please provide a valid email address
  </span>
  <label class="govuk-label" for="full-name">
    Manager’s email
  </label>
  <input class="govuk-input govuk-date-input__input govuk-input--error" id="full-name" name="full-name" value="mymanger@gov" type="text" pattern="[0-9]*" inputmode="text">
  <br></br>
  <span id="passport-issued-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Please provide a valid telephone number
  </span>
  <label class="govuk-label" for="full-name">
    Manager’s telephone number
  </label>
  <input class="govuk-input govuk-date-input__input govuk-input--error" id="full-name" name="full-name" value="75689034" type="text" pattern="[0-9]*" inputmode="text">
</div>

  <br></br>
    <a href="02jobrole_val.html" role="button" draggable="false" class="govuk-button govuk-button--start"  data-module="govuk-button">
      Continue
      </a>





{% endblock %}
