
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#passport-issued-error"> Please choose an option</a>
      </li>
    </ul>
  </div>
</div>


<div class="govuk-width-container">
  <a href="02jobrole_val.html" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/form-handler" method="post" novalidate>

          <div class="govuk-form-group govuk-form-group--error">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Your job role
                </h1>
              </legend>
              <span id="passport-issued-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Please choose an option
              </span>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    Assisted Services
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    Case Manager
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                    Corporate Centre Staff
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                    Court Presenting Officer
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                    Decision Maker
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                    DWP MEC Staff
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                    Employer Engagement
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                    Fraud / Compliance Officer
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                   MEC Staff
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                    NINO Interviewing Officer
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                   Official Correspondence
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                   Outreach Adviser
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                  Prison Adviser
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                   Security Guard
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                   Team Leader
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                  Telephony Agent
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                  Visiting Officer
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                   Work Coach
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                   Other (Use only in exception)
                  </label>
                </div>

            </fieldset>
          </div>


    <br></br>
      <a href="03recipient_val.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Continue
        </a>


    </div>



{% endblock %}
