
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#passport-issued-error"> Please provide the first name</a>
      </li>
      <li>
        <a href="#passport-issued-error"> Please provide the last name</a>
      </li>
      <li>
        <a href="#passport-issued-error"> Please check the date of birth</a>
      </li>
      <li>
        <a href="#passport-issued-error"> Please check the national insurance number</a>
      </li>
    </ul>
  </div>
</div>

<div class="govuk-form-group govuk-form-group--error">
  <a href="08brief_val.html" class="govuk-back-link">Back</a>
  <br></br>
  <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Details of citizen involved in the incident
                </h1>
              </legend>
              <span id="passport-issued-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Please provide your first name
              </span>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      First name
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-50 govuk-input--error" id="passport-issued-day" name="passport-issued-day" type="text" value="" pattern="[0-9]*" inputmode="numeric"></div>
                    <br></br>
                    <div>
                    <span id="passport-issued-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span> Please provide your last name

                    </span>
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Last name
                    </label>
                    <input class="govuk-input govuk-name-input__input govuk-input--width-50 govuk-input--error" id="passport-issued-day" name="passport-issued-day" type="text" value="" pattern="[0-9]*" inputmode="numeric"></div>
                </div>


              </div>


          <div class="govuk-form-group">
            <br></br>
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <p>
                <b>Date of birth</b> - optional
              </p>
            </legend>
            <div id="passport-issued-hint" class="govuk-hint">
              For example, 12 11 2007
            </div>
            <span id="passport-issued-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> The date of the birth must be in the past
            </span>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="passport-issued-day" name="passport-issued-day" type="text" value="6" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="passport-issued-month" name="passport-issued-month" type="text" value="3" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-input--error" id="passport-issued-year" name="passport-issued-year" type="text" value="2076" pattern="[0-9]*" inputmode="numeric"></div>
              </div>

            </div>
            <br></br>
              <div class="govuk-form-group">
              <label class="govuk-label" for="national-insurance-number">
                <b>National Insurance number</b>
              </label>

              <div id="national-insurance-number-hint" class="govuk-hint">
                It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.
              </div>
              <span id="passport-issued-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Invalid format

              </span>
              <input class="govuk-input govuk-date-input__input govuk-input--width-10 govuk-input--error" id="passport-issued-day" value="ABCG45" name="passport-issued-day" type="text" value="" pattern="[0-9]*" inputmode="numeric"></div>
            </div>

          </fieldset>
        </div>

  <br></br>
    <a href="/11success.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Save & submit
      </a>


</div>


{% endblock %}
