
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs ">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">DWP Safeguarding</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Report an incident</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Report an incident</h1>

        <p class="govuk-body">When to use this form:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>If you have been directly involved in an incident it is your right and duty to report it as soon as possible</li>
          <li>If you were not directly involved but you witnessed an incident you should add your witness report to the incident: please check the <a href= '#'>Incident reports list</a></li>
          <li>If you noticed a behaviour of a citizen than could potentially escalate into an incident effecting either the citizen himself or your colleagues</li>
        </ul>

          <p class="govuk-body"><strong>If you feel distressed and in need of immediate support please refer to our</strong> <a href= 'https://intranet.dwp.gov.uk/section/working-dwp/human-resources/work/health/employee-assistance-programme'>Help Employee Assistance</a></p>

        <p class="govuk-body">To report an incident you need the following information:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>First name, last name and date of birth of the citizen you want to report</li>
          <li>Information of when and where the incident happened</li>
        </ul>

        <a href="01behaviour.html" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
          Start report
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg></a>


      </div>

      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
           Related topics
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="00list.html">
                  Incident reports list
                </a>
              </li>
              <li>
                <a class="govuk-link" href="https://intranet.dwp.gov.uk/section/working-dwp/human-resources/work/health/employee-assistance-programme">
                  Help Employee Assistance
                </a>
              </li>

            </ul>
          </nav>
        </aside>

      </div>
    </div>
  </main>
</div>

{% endblock %}
