
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Incident report
  </h1>
  <h2 class="govuk-heading-m">09/03/21 - 11:00</h2>
  <h2 class="govuk-heading-m">Closed</h2>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#incident">
          Incident
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#reporter">
          Reporter
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#citizen">
          Citizen
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#history">
          History
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#control">
          Control measures
        </a>
      </li>
    </ul>
    <div class="govuk-tabs__panel" id="incident">
      <p style="font-size:150%;"><strong>Incident details</strong></p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Type
          </dt>
          <dd class="govuk-summary-list__value">
            Threats
          </dd>
        </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              09/03/21 - 11:00
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location
            </dt>
            <dd class="govuk-summary-list__value">
              <strong>Universal Credit Journal entry</strong><br>
            </dd>
          </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Citizen involved
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#citizen">
                Robert De Silva
              </a>
            </dd>
          </div>
        </dl>

          <p style="font-size:150%;"><strong>Entry</strong></p>
          <p style="font-size:100%;">Sent by: <a href="#reporter">Robert De Silva</a></p>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <p>Dear Clerk
              <br></br>

            You don't understand my situatio I always pay my taxes and do what you ask me to do I never asked for nothing in return and now that I ened help you are all telling me that I can't have any because of my partenr earnings. he has nothing to do with me and that money is not enough for the both of us. So you enjoy your easy life behind the desk> You do not want to hel me because you don't understand. I wish you were in my situation. I wish you will suffer as I do. And maybe one day I'll come in person to show you how life can be miserable. Maybe I come and chop one or your hands off so YOU will be the one in need of help!


    </p>
            </dl>
            <p style="font-size:150%;"><strong>Line manager recommendations</strong></p>
            <p style="font-size:100%;">Written by: <a href="#reporter">Sadiq Assam</a></p>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    In your opinion what could have been done to prevent the incident to start?
                  </dt>
                  <dd class="govuk-summary-list__value">
                  THe citizen has been already warned. He may be just venting again but we should give him a last warning.
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    In your opinion what could have been done to keep the member of staff safer during the interaction?
                  </dt>
                  <dd class="govuk-summary-list__value">
                  The staff was safe at this stage.
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Did you provide immediate support to the member of staff?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes.
                  </dd>
                </div>
              </dl>
    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reporter">
      <p style="font-size:150%;"><strong>Reporter details</strong></p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Name
          </dt>
          <dd class="govuk-summary-list__value">
            Tom Mint
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Job Role
          </dt>
          <dd class="govuk-summary-list__value">
            Work Coach
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main work location
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>Bromley Jobcentre</strong><br>
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Incidents reported
          </dt>
          <dd class="govuk-summary-list__value">
            34
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Email
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">tom.mint@dwp.gov.uk</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Telephone
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">01632 960079</a>
          </dd>

        </div>
      </dl>
      <p style="font-size:150%;"><strong>Line manager details</strong></p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Name
          </dt>
          <dd class="govuk-summary-list__value">
            Mark Green
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Job Role
          </dt>
          <dd class="govuk-summary-list__value">
            Work Coach Manager
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main work location
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>Bromley Jobcentre</strong><br>
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Email
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">mark.green@dwp.gov.uk</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Telephone
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">01632 960016</a>
          </dd>
        </div>
</dl>
    </div>

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="citizen">
      <p style="font-size:150%;"><strong>Citizen</strong></p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Name
          </dt>
          <dd class="govuk-summary-list__value">
            Robert De Silva
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            12/04/90 (Age 30)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          National Insurance Number
          </dt>
          <dd class="govuk-summary-list__value">
            CT 00 03 41 B
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>Last known address</strong><br>
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Telephone
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">01632 960016</a>
          </dd>
        </div>
</dl>
<p style="font-size:150%;"><strong>Benefits</strong></p>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Universal Credit
    </dt>
    <dd class="govuk-summary-list__value">
      Refused: because of partner savings
    </dd>
  </div>
  </dl>
  <p style="font-size:150%;"><strong>Relationships</strong></p>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Mark Lapsang
      </dt>
      <dd class="govuk-summary-list__value">
        Civil partner
      </dd>
    </div>

</dl>
</div>

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
   <p style="font-size:150%;"><strong>History</strong></p>
   <p style="font-size:150%;color:red;"><strong>Warning: this citizen is marked</strong></p>

     <img src="/public/images/card_incident.png" alt="Reviewed"> &nbsp;<img src="/public/images/card_controlZERO.png" alt="Reviewed"> &nbsp;  <img src="/public/images/card_response.png" alt="Reviewed"> &nbsp;

   <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

       <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all"><div class="app-step-nav__controls"><button aria-expanded="false" class="app-step-nav__button app-step-nav__button--controls js-step-controls-button" aria-controls="step-panel-check-youre-allowed-to-drive-1">Show all</button></div>
         <ol class="app-step-nav__steps">


           <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
             <div class="app-step-nav__header js-toggle-panel" data-position="2">
               <h2 class="app-step-nav__title">
                 <span class="app-step-nav__circle app-step-nav__circle--number">
                   <span class="app-step-nav__circle-inner">
                     <span class="app-step-nav__circle-background">
                       <span class="govuk-visually-hidden">Step</span> 5
                     </span>
                   </span>
                 </span>

                 <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2"><span class="js-step-title-text">
                    <img src="/public/images/icon_incident.png" alt="Reviewed"> &nbsp;<a href="01incident.html">11 March 2021</a>
                 </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden=""><a href="01incident.html">Verbal abuse, threatening behaviour, attempted assault</a></span></button></span>
               </h2>
             </div>

             <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-a-provisional-licence-2">
               <ol class="app-step-nav__list " data-length="1">
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="2.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Apply for your first provisional driving licence <span class="app-step-nav__context">£34 to £43</span></a>
                 </li>
               </ol>
             </div>

           </li>

           <li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
             <div class="app-step-nav__header js-toggle-panel" data-position="3">
               <h2 class="app-step-nav__title">
                 <span class="app-step-nav__circle app-step-nav__circle--number">
                   <span class="app-step-nav__circle-inner">
                     <span class="app-step-nav__circle-background">
                       <span class="govuk-visually-hidden"><a href="02letter.html">10 March 2021</a></span> 4
                     </span>
                   </span>
                 </span>

                 <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-driving-lessons-and-practice-3"><span class="js-step-title-text">
                     <img src="/public/images/icon_response.png" alt="Reviewed"> &nbsp;<a href="02letter.html">10 March 2021</a>
                 </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden=""><a href="02letter.html">Warning letter</a> (Second)</span></button></span>
               </h2>
             </div>

             <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
               <p class="app-step-nav__paragraph">You need a provisional driving licence to take lessons or practice.</p>

               <ol class="app-step-nav__list " data-length="4">
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="3.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">The Highway Code </a>
                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="3.2" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Taking driving lessons </a>
                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="3.3" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Find driving schools, lessons and instructors </a>
                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="3.4" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Practise vehicle safety questions </a>
                 </li>
               </ol>
             </div>

           </li>



           <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
             <div class="app-step-nav__header js-toggle-panel" data-position="5">
               <h2 class="app-step-nav__title">
                 <span class="app-step-nav__circle app-step-nav__circle--number">
                   <span class="app-step-nav__circle-inner">
                     <span class="app-step-nav__circle-background">
                       <span class="govuk-visually-hidden"><a href="03incident.html">9 March 2021</a></span> 3
                     </span>
                   </span>
                 </span>

                 <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-book-and-manage-your-theory-test-5"><span class="js-step-title-text">
                     <img src="/public/images/icon_incident.png" alt="Reviewed"> &nbsp;9 March 2021
                 </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden=""><a href="03incident.html">Written threats in Journal</a></span></button></span>
               </h2>
             </div>

             <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-theory-test-5">
               <p class="app-step-nav__paragraph">You need a provisional driving licence to book your theory test.</p>

               <ol class="app-step-nav__list " data-length="5">
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="5.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Book your theory test <span class="app-step-nav__context">£23</span></a>
                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="5.2" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">What to take to your test </a>
                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="5.3" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Change your theory test appointment </a>
                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="5.4" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Check your theory test appointment details </a>
                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="5.5" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Cancel your theory test </a>
                 </li>
               </ol>
             </div>

           </li>

           <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test">
             <div class="app-step-nav__header js-toggle-panel" data-position="6">
               <h2 class="app-step-nav__title">
                 <span class="app-step-nav__circle app-step-nav__circle--number">
                   <span class="app-step-nav__circle-inner">
                     <span class="app-step-nav__circle-background">
                       <span class="govuk-visually-hidden">Step</span> 2
                     </span>
                   </span>
                 </span>

                 <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-book-and-manage-your-driving-test-6"><span class="js-step-title-text">
                    <img src="/public/images/icon_response.png" alt="Reviewed"> &nbsp;<a href="01letter.html">22 February 2021</a>
                 </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden=""><a href="01letter.html">Warning letter (First)</a></span></button></span>
               </h2>
             </div>

             <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-driving-test-6">
               <p class="app-step-nav__paragraph">You must pass your theory test before you can book your driving test.</p>

               <ol class="app-step-nav__list " data-length="5">
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="6.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Book your driving test <span class="app-step-nav__context">£62 to £75</span></a>

                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="6.2" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">What to take to your test </a>
                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="6.3" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Change your driving test appointment </a>
                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="6.4" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Check your driving test appointment details </a>
                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="6.5" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Cancel your driving test </a>
                 </li>
               </ol>
             </div>

           </li>

           <li class="app-step-nav__step js-step" id="when-you-pass">
             <div class="app-step-nav__header js-toggle-panel" data-position="7">
               <h2 class="app-step-nav__title">
                 <span class="app-step-nav__circle app-step-nav__circle--number">
                   <span class="app-step-nav__circle-inner">
                     <span class="app-step-nav__circle-background">
                       <span class="govuk-visually-hidden">Step</span> 1
                     </span>
                   </span>
                 </span>

                 <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-when-you-pass-7"><span class="js-step-title-text">
                  <img src="/public/images/icon_incident.png" alt="Reviewed"> &nbsp;<a href="02incident.html">22 February 2021</a>
                 </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden=""><a href="02incident.html">Verbal abuse</a></span></button></span>
               </h2>
             </div>

             <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-when-you-pass-7">
               <p class="app-step-nav__paragraph">You can start driving as soon as you pass your driving test.</p>

               <p class="app-step-nav__paragraph">You must have an insurance policy that allows you to drive without supervision.</p>

               <ol class="app-step-nav__list " data-length="1">
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="7.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Find out about Pass Plus training courses </a>
                 </li>
               </ol>
             </div>

           </li>
         </ol>
       </div>

     </div>
   </div>



  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="control">

                <p style="font-size:150%;"><strong>Actions</strong></p>

                <p style="font-size:150%;color:red;"><strong>Warning: this citizen is marked</strong></p>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Warning letter
                            </dt>

                            <dd class="govuk-summary-list__actions">
                              <a class="govuk-link" href="#">
                                Send<span class="govuk-visually-hidden"> View request</span>
                              </a>
                            </dd>
                          </div>
                        <p>Warning letter should be sent to a citizen to notify him about his behaviour and the next steps that are going to be taken if the behaviour doesn’t change. The template can be personalised on a case by case fashion.</p>

                </dl>
                <p style="font-size:150%;"><strong>Control measures</strong></p>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Not permitted to use DWP computers
                            </dt>

                            <dd class="govuk-summary-list__actions">
                              <a class="govuk-link" href="#">
                                Apply<span class="govuk-visually-hidden"> Apply</span>
                              </a>
                            </dd>
                          </div>
                        <p>The citizen will be forbidden from using DWP computers in the offices. The citizen must be notify after entering an office and accompanied only in rooms where he can be monitored.</p>

                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Accompanied interviews
                          </dt>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Apply<span class="govuk-visually-hidden"> Apply</span>
                            </a>
                          </dd>
                        </div>
                      <p>The citizen will be allow to face to face interactions only if supervised by a security staff member.</p>

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        To be dealt with by named officer
                        </dt>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Apply<span class="govuk-visually-hidden"> Apply</span>
                          </a>
                        </dd>
                      </div>
                    <p>Only a named officer can have interaction with this citizen. The named officer details are going to be displayed below.</p>

                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                      Must be dealt with in a screened environment
                      </dt>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Apply<span class="govuk-visually-hidden"> Apply</span>
                        </a>
                      </dd>
                    </div>
                  <p>The citizen can be seen only in screened environment. If there is not a screened environment in his closest jobcentre you may ask the citizen to travel to a different one. In some case this will not be possible so it is suggested to add / change the control measure in monitored visits.</p>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    No home visits
                    </dt>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Apply<span class="govuk-visually-hidden"> Apply</span>
                      </a>
                    </dd>
                  </div>
                <p>DWP staff members shouldn’t go to the home of the citizen under any circumstances. </p>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Banned from office
                  </dt>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Apply<span class="govuk-visually-hidden"> Apply</span>
                    </a>
                  </dd>
                </div>
              <p>The citizen will not be allow to book face to face appointments in jobcentres. The details of this citizen will be notified to the security staff team.  </p>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Banned from from using UCFS journal
                </dt>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Apply<span class="govuk-visually-hidden"> Apply</span>
                  </a>
                </dd>
              </div>
            <p>(Legacy) This control measure cannot be taken any longer but some of the citizen may still be affected.</p>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Request injuction (England and Wales)
              </dt>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Build case<span class="govuk-visually-hidden"> Build case</span>
                </a>
              </dd>
            </div>
          <p>A judicial order restraining a person from beginning or continuing an action threatening or invading the legal right of another, or compelling a person to carry out a certain act, e.g. to make restitution to an injured party.</p>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Request interdiction (Scotland)
            </dt>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Build case<span class="govuk-visually-hidden"> Build case</span>
              </a>
            </dd>
          </div>
        <p>An interdict is a civil court order that tells a person not to do something or to stay away from you, your children or a specific place, such as your house. In Scotland if a person doesn't stick to an interdict, the police might be able to arrest them if the interdict gives them the power to do so.</p>



    </dl>

  </div>






{% endblock %}
