{% extends "layout.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}

{% block pageTitle %}
Add contact details for a witness - Agent Safeguarding
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="00add_witness_error">feedback</a> will help us to improve it.'
}) }}
{% include "templates/v2/header_searchlight.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}

{% endblock %}

{% block content %}
<span class="govuk-caption-xl">Incident: INC-123-456-789</span>

<h1 class="govuk-heading-l">Request a witness report</h1>
<p class="govuk-body">Provide a witness's contact details below. We will contact them via email to request they provide a report. </p>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

    {% from "govuk/components/input/macro.njk" import govukInput %}

    {{ govukInput({
      label: {
        text: "Witnesses full name"
      },
      id: "full-name",
      classes: "govuk-!-width-one-third",

      name: "full-name",
      autocomplete: "name",
      spellcheck: false
    }) }}
    {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Email address"
  },
  classes: "govuk-!-width-one-third",

  id: "email",
  name: "email",
  type: "email",
  autocomplete: "email",
  spellcheck: false
}) }}
    <br><br>
    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Continue",
      href: "01list_witness"
    }) }}
    
    
    {% endblock %}
  </fieldset>

</div>

