{% extends "layout.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}

{% block pageTitle %}
Witness details not recognised - Agent Safeguarding
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="00add_witness_error">feedback</a> will help us to improve it.'
}) }}
{% include "templates/v2/header_searchlight.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}

{% endblock %}

{% block content %}
{% include "templates/v3/govuk-caption-l.njk" %}

<h1 class="govuk-heading-l">Witness details not recognised</h1>
<p class="govuk-body">The details you entered do not belong to a DWP colleague with accesss to this service.</p> <p class="govuk-body">You can: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>enter a different email address and select Retry</li>
  <li>complete a witness report on behalf of the witness </li>
</ul>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <br>

    {% from "govuk/components/input/macro.njk" import govukInput %}

    {{ govukInput({
      label: {
        text: "Full name"
      },
      id: "full-name",
      classes: "govuk-!-width-one-third",
      value: "Mike Black",
      name: "full-name",
      autocomplete: "name",
      spellcheck: false
    }) }}
    {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Email address"
  },
  classes: "govuk-!-width-one-third",
  value: "mike.black@g4s.com",
  id: "email",
  name: "email",
  type: "email",
  autocomplete: "email",
  spellcheck: false
}) }}
<div class="govuk-button-group">

    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Retry",
      classes: "govuk-button--secondary",
      href: "00add_witness_another"
    }) }}
    {{ govukButton({
      text: "Complete report on behalf of witness",
      href: "01list_witness4_on_behalf"
    }) }}


    {% endblock %}
    </div>
  </fieldset>

</div>
