{% extends "layout.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}

{% block pageTitle %}
Sent requests for witness reports - Agent Safeguarding
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="00add_witness_error">feedback</a> will help us to improve it.'
}) }}
{% include "templates/v2/header_searchlight.njk" %}

{% endblock %}

{% block content %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    {% include "templates/v3/govuk-caption-l.njk" %}
    {% from "govuk/components/panel/macro.njk" import govukPanel %}
    {% set refHTML %}


    {% endset %}
    {{ govukPanel({
      titleText: "You have sent 3 requests for witness reports",
      html: refHTML
    }) }}
<br>
    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      We will send an email to each of the witnesses you told us about. The email will ask them to complete a witness report by xx on xx May 2022 (??).
    </p>
    <p class="govuk-body">
      DWP staff can access free counselling and support through <a class="govuk-link" href="https://intranet.dwp.gov.uk/section/working-dwp/human-resources/wellbeing/employee-assistance-programme">PAM Assist</a>.
    </p>
    <p class="govuk-body">
      You can <a href="#" class="govuk-link">email us</a> about these witnesses (??).
    </p>

    <br>
    <p class="govuk-body">
      <a href="#" class="govuk-link">What did you think of this service?</a> (takes two minutes)
    </p>

<br><br>
    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Continue",
      href: "end"
    }) }}


    {% endblock %}
  </fieldset>

</div>
