
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-form-group">
    <a href="08breakdown4.html" class="govuk-back-link">Back</a>
    <br></br>
    <p>Incident breakdown <strong>5 of 5</strong> </p>
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
      How did you feel about the interaction?
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
  What were your feelings during the interaction? How do you feel now?
  </div>
  <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="10" aria-describedby="with-hint-info with-hint-hint"></textarea>
   </div>

<br></br>
        <a href="10success.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Continue
          </a>





{% endblock %}
