
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-form-group">
    <a href="third1.html" class="govuk-back-link">Back</a>
    <br></br>

  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
      Description of the agent safety concern
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
  Remember to not use any personal details
  </div>
  <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="10" aria-describedby="with-hint-info with-hint-hint"></textarea>


<br></br>
        <a href="10success_third.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Submit
          </a>




{% endblock %}
