
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="04who.html" class="govuk-back-link">Back to search</a>
<br></br>
  <h1 class="govuk-heading-xl">
    Andrew Whittard
  </h1>
  <h2 class="govuk-heading-m">CT 00 03 41 B</h2>
  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">

      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#citizen">
          Customer
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#history">
          History
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#referrals">
          Agent safety concern
        </a>
      </li>
    </ul>

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="citizen">
      <p style="font-size:150%;"><strong>Customer information</strong></p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Name
          </dt>
          <dd class="govuk-summary-list__value">
            Andrew Whittard
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            04/12/90 (Age 31)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          National insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            CT 00 03 41 B
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>Last known address</strong><br>
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Telephone
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">01632 960016</a>
          </dd>
        </div>
</dl>
<p style="font-size:150%;"><strong>Benefits</strong></p>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Universal Credit
    </dt>
    <dd class="govuk-summary-list__value">
    Last payment: 22 March 2021
    </dd>
  </div>
  </dl>
  <p style="font-size:150%;"><strong>Relationships</strong></p>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      None
      <dd class="govuk-summary-list__value">

      </dd>
    </div>

</dl>
</div>

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
   <p style="font-size:150%;"><strong>History</strong></p>


     <img src="/public/images/card_incidentONE.png" alt="Reviewed"> &nbsp;<img src="/public/images/card_safeguardingZERO.png" alt="Reviewed"> &nbsp;  <img src="/public/images/card_actionONE.png" alt="Reviewed"> &nbsp;

   <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

       <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all"><div class="app-step-nav__controls"><button aria-expanded="false" class="app-step-nav__button app-step-nav__button--controls js-step-controls-button" aria-controls="step-panel-check-youre-allowed-to-drive-1">Show all</button></div>
         <ol class="app-step-nav__steps">





           <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test">
             <div class="app-step-nav__header js-toggle-panel" data-position="6">
               <h2 class="app-step-nav__title">
                 <span class="app-step-nav__circle app-step-nav__circle--number">
                   <span class="app-step-nav__circle-inner">
                     <span class="app-step-nav__circle-background">
                       <span class="govuk-visually-hidden">Step</span> 2
                     </span>
                   </span>
                 </span>

                 <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-book-and-manage-your-driving-test-6"><span class="js-step-title-text">
                  Action: 22 February 2021
                 </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden=""><a href="#">Warning letter (First)</a></span></button></span>
               </h2>

             </div>

             <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-driving-test-6">
               <p class="app-step-nav__paragraph">You must pass your theory test before you can book your driving test.</p>

               <ol class="app-step-nav__list " data-length="5">
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="6.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Book your driving test <span class="app-step-nav__context">£62 to £75</span></a>

                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="6.2" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">What to take to your test </a>
                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="6.3" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Change your driving test appointment </a>
                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="6.4" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Check your driving test appointment details </a>
                 </li>
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="6.5" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Cancel your driving test </a>
                 </li>
               </ol>
             </div>

           </li>

           <li class="app-step-nav__step js-step" id="when-you-pass">
             <div class="app-step-nav__header js-toggle-panel" data-position="7">
               <h2 class="app-step-nav__title">
                 <span class="app-step-nav__circle app-step-nav__circle--number">
                   <span class="app-step-nav__circle-inner">
                     <span class="app-step-nav__circle-background">
                       <span class="govuk-visually-hidden">Step</span> 1
                     </span>
                   </span>
                 </span>

                 <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-when-you-pass-7"><span class="js-step-title-text">
                  Incident: 22 February 2021
                 </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden=""><a href="#">Verbal abuse</a></span></button></span>
               </h2>

             </div>




           </li>

         </ol>
       </div>
       <a href="01behaviour.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
         Report an incident
         </a>
     </div>
   </div>



  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="referrals">
 <p style="font-size:150%;"><strong>Agent safety concerns</strong></p>
                <img src="/public/images/card_concernZERO.png" alt="Reviewed"> &nbsp; <br></br>


                    <a href="third1.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                      Add agent safety concern
                      </a>

                    </div>





  </div>






{% endblock %}
