
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-form-group">
    <a href="04whoSearch.html" class="govuk-back-link">Back</a>
    <br></br>

  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
      Incident breakdown
    </label>
    
  </h1>
  <p>
    What was the reason for the interaction with the citizen and how did it escalate?
  </p>
  <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="4" aria-describedby="with-hint-info with-hint-hint"></textarea>
   </div>

   <p>
     What were the main issues?  Describe the citizen behaviour and the interaction using facts only.<br></br>
 <strong>Please report the exact words that have been used.</strong>
   </p>
   <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="4" aria-describedby="with-hint-info with-hint-hint"></textarea>

   <p>
   How did you try to resolve the situation? What worked and what did not worked and why?
   </p>
   <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="4" aria-describedby="with-hint-info with-hint-hint"></textarea>

   <p>
   What brought the interaction to an end? What was the final outcome?
   </p>
   <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="4" aria-describedby="with-hint-info with-hint-hint"></textarea>

   <p>
   What were your feelings during the interaction? How do you feel now?
   </p>
   <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="4" aria-describedby="with-hint-info with-hint-hint"></textarea>

<br></br>
        <a href="10success.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Submit report
          </a>





{% endblock %}
