
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="01prepare3.html" class="govuk-back-link">Back to customer profile</a>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Agent safety concern submitted
          </h1>
      </div>

        <p class="govuk-body">A new agent safety concern has been submitted as <strong>"new concern".</strong><br></br> We sent a notification to DWP managers <br></br> The concern is going to be reviewed in the next <strong>24 hours.</strong></p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          You can check the status of the concern in the <a href="00list2" class="govuk-link">Incident report list</a>
        </p>
        <p class="govuk-body">
          You will be notified about any decisions regarding this concern.
        </p>


        <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>
      </div>
    </div>
  </main>
</div>




{% endblock %}
