
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="01incident#control" class="govuk-back-link">Back to control measures</a>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
      Comment
    </label>
  </h1>

  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint"></textarea>
</div>

<a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Save
  </a>

{% endblock %}
