{% extends "layout_searchlight.html" %}


{% block pageTitle %}
Searchlight - Agent Safeguarding
{% endblock %}

{% block beforeContent %}

{% include "templates/searchlight1/header_searchlight.njk" %}


{% endblock %}

{% block content %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    {% from "govuk/components/panel/macro.njk" import govukPanel %}
    {% set refHTML %}
    <div class="govuk-panel__body">Incident number: <br><strong><span aria-hidden="true">INC-</span><span aria-hidden="false">123-456-789</span></strong></div>

    {% endset %}
    {{ govukPanel({
      titleText: "You have submitted recommendations and comments",
      html: refHTML
    }) }}
<br>
    <p class="govuk-body">We've received your recommendations and comments, and a decision maker will review them.</p>

    <p class="govuk-body">
      You can <a href="#" class="govuk-link">email us</a> about this incident report. You must give us the incident number on this page.
    </p>

    <br>
    <p class="govuk-body">
      <a href="#" class="govuk-link">What did you think of this service?</a> (takes two minutes)
    </p>


    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Continue",
      href: "end"
    }) }}


    {% endblock %}
  </fieldset>
</div>
