
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Agent safeguarding service
        <span class="govuk-caption-xl"></span>
      </h1>


      <h2 class="govuk-heading-m">Latest version: 21-04-21</h2>

      <ul class="govuk-list govuk-list--bullet">


          <li>
            <a href="whitney/04who.html">Whitney: Report an incident</a>
          </li>
            <img src="/public/images/whitney.png" alt="Ready for decision">
            <ol>
              <li>Search and select: Robert De Silva 12/04/93</li>
              <li>On Robert profile go to "History"</li>
              <li>Click on Report an incident</li>
            </ol>
            <hr>
          <li>
            <a href="sartaq/00list.html">Sartaq: Add Witness report</a>
          </li>
          <img src="/public/images/sartaq.png" alt="Ready for decision">
          <ol>
            <li>Add witness report to incident: 22/04/21 - 10:30</li>
          </ol>
          <hr>
          <li>
            <a href="sarah/00list">Sarah: Give recommendations</a>
          </li>
              <img src="/public/images/sarah.png" alt="Ready for decision">
          <ol>
            <li>Start working on incident: 22/04/21 - 10:30</li>
            <li>Read report</li>
            <li>Click on "Your recommendations"</li>
            <li>Submit your recommendations</li>
          </ol>

          <hr>
          <li>
            <a href="sadiq/00list.html">Sadiq: Make a decision</a>
          </li>
          <img src="/public/images/sadiq.png" alt="Ready for decision">
          <ol>
            <li>Start working on incident: 21/04/21 - 10:30</li>
            <li>Read report</li>
            <li>Click on "Safeguarding measures"</li>
            <li>Check safeguarding measures you want to apply</li>
            <li>Click apply at the bottom of the page</li>
          </ol>
          <hr>
            <li>
              <a href="britney/00list.html">Britney: Send a warning letter</a>
            </li>
            <img src="/public/images/britney.png" alt="Ready for decision">
            <ol>
              <li>Start working on request: 21/04/21 - 10:30</li>
              <li>Read report</li>
              <li>Click on "Solicitor"</li>
              <li>Aknoweldge the request</li>
              <li>Click apply at the bottom of the page</li>
            </ol>
            <hr>
            <li>
              <a href="amira/04who.html">Amira: prepare for interaction</a>
            </li>
            <img src="/public/images/amira.png" alt="Ready for decision">
            <ol>
            <li>Search and select: Robert De Silva 12/04/93</li>
            <li>On Robert profile go to "History"</li>
            </ol>
            <hr>
            <li>
              <a href="whitney/04who.html">Ted: agent safety concern</a>
            </li>
            <img src="/public/images/ted.png" alt="Ready for decision">
            <ol>
            <li>Search and select: Robert De Silva 12/04/93</li>
            <li>On Robert profile go to "Agent safety concern"</li>
            <li>Add an "Agent safety concern"</li>
              <li>Original document ESA50 / Question 17 pag. 16</li>

          </ol>

      </ul>
    </div>
  </div>

{% endblock %}
