
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-form-group">
    <a href="03whoSearch.html" class="govuk-back-link">Back</a>
    <br></br>
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
      Incident breakdown
    </label>

  <p><strong>What was the reason for the interaction with the customer?</strong> </p>
    <div id="waste-hint" class="govuk-hint">
   Select all that apply.
  </div>
  <div class="govuk-checkboxes">
   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
     <label class="govuk-label govuk-checkboxes__label" for="waste">
       First commitment
     </label>
   </div>
   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
     <label class="govuk-label govuk-checkboxes__label" for="waste-2">
       Benefit related
     </label>
   </div>
   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
     <label class="govuk-label govuk-checkboxes__label" for="waste-3">
      Payment related
     </label>
   </div>
   <div class="govuk-checkboxes">
     <div class="govuk-checkboxes__item">
       <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
       <label class="govuk-label govuk-checkboxes__label" for="waste">
         General enquiries
       </label>
     </div>
     <div class="govuk-checkboxes__item">
       <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
       <label class="govuk-label govuk-checkboxes__label" for="waste-2">
         Complaiants about the service
       </label>
     </div>
     <div class="govuk-checkboxes__item">
       <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
       <label class="govuk-label govuk-checkboxes__label" for="waste-3">
        Other (please specify)
       </label>
       <div class="govuk-inset-text">
       <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="1" aria-describedby="with-hint-info with-hint-hint"></textarea>
       </div>
     </div>
   </div>
  </div>
<hr>
<p><strong>What were the main issues during the interaction</strong> </p>
  <div id="waste-hint" class="govuk-hint">
 Select all that apply.
</div>
<div class="govuk-checkboxes">
 <div class="govuk-checkboxes__item">
   <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
   <label class="govuk-label govuk-checkboxes__label" for="waste">
    Abuse (Abusive language, threats, Harassment...)
   </label>
   <div class="govuk-inset-text">
     <p style="color:red;"><strong>Please use the PRECISE and EXACT words without censoring them. <br></br>Our sollicitors will need them to build a case.</strong> </p>
   <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="2" aria-describedby="with-hint-info with-hint-hint"></textarea>
   </div>
 </div>
 </div>
 <div class="govuk-checkboxes__item">
   <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
   <label class="govuk-label govuk-checkboxes__label" for="waste-2">
    Physical violence
   </label>
 </div>
 <div class="govuk-checkboxes__item">
   <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
   <label class="govuk-label govuk-checkboxes__label" for="waste-3">
    Risk for your safeguarding
   </label>
 </div>
 <div class="govuk-checkboxes">
   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
     <label class="govuk-label govuk-checkboxes__label" for="waste">
      Risk for citizen safeguarding
     </label>
   </div>
   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
     <label class="govuk-label govuk-checkboxes__label" for="waste-3">
      Other (please specify)
     </label>
     <div class="govuk-inset-text">
     <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="1" aria-describedby="with-hint-info with-hint-hint"></textarea>
     </div>
   </div>
 </div>
</div>
<hr>
<p><strong>How was the final outcome of the interaction?</strong> </p>
<div class="govuk-radios">
               <div class="govuk-radios__item">
                 <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                 <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                   Agreed with the customer a solution or customer happy with the information provided.
                 </label>
               </div>
               <div class="govuk-radios__item">
                 <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                 <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                   The interaction ended without reaching an agreement with the customer or customer not satisfied with the information provided.
                 </label>
               </div>
               <div class="govuk-radios__item">
                 <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                 <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                   Not sure
                 </label>
               </div>

             </div>
  <hr>
  <p><strong>How badly the interaction affected your wellbeing?</strong> </p>
  <div class="govuk-radios">
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                   <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    1. Not at all
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                   <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                     2. Not much
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                   <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                    3. Average
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                   <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                    4. Badly
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                   <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                    5. Very badly
                   </label>
                 </div>

               </div>
               <hr>
  <div id="more-detail-hint" class="govuk-hint">
    <strong>Please briefly describe the interaction in your own word.</strong>
  </div>
    <p style="color:red;"><strong>Remember to not use any personal information or private details</strong> </p>
  <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="4" aria-describedby="with-hint-info with-hint-hint"></textarea>



<br></br>
        <a href="05success.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Submit report
          </a>





{% endblock %}
