
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}



{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You snooze, you lose!</h1>
        <p class="govuk-body">
          Someone is already working on this report.
        </p>
        <p class="govuk-body">
          Go back and select another report from the <a class="govuk-link" href="01list">list</a>. <br>Don't forget to refresh the page before you click on any of the reports.
        </p>
      </div>
    </div>
    <a href="01details.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Proceed anyway
      </a>
  </main>
</div>


{% endblock %}
