
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}



{% block content %}

<div class="govuk-form-group">
  <a href="00list" class="govuk-back-link">Back</a>
  <br></br>
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Incidents and concerns reported in Agent Safeguarding
    </h1>
  </legend>
<hr>
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
  Please refresh the page before selecting an incident or report.
  </strong>
</div>
<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Reference</th>
        <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Date reported</th>
      <th scope="col" class="govuk-table__header">Assign</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">000-000-002</th>
      <td class="govuk-table__cell">Incident</td>
      <td class="govuk-table__cell">16/03/22 <br> 16:30</td>
      <td class="govuk-table__cell"><a href="01details">assign to me</a></td>

    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">000-000-001</th>
      <td class="govuk-table__cell">Incident</td>
      <td class="govuk-table__cell">16/03/22 <br> 14:30</td>
      <td class="govuk-table__cell"><a href="01error">assign to me</a></td>

    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">000-000-002</th>
        <td class="govuk-table__cell">Concern</td>
      <td class="govuk-table__cell">16/03/22 <br> 11:30</td>
        <td class="govuk-table__cell"><a href="02concern">assign to me</a></td>

    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">000-000-001</th>
        <td class="govuk-table__cell">Concern</td>
      <td class="govuk-table__cell">18/03/22 <br> 10:30</td>
        <td class="govuk-table__cell"><a href="01concern">assign to me</a></td>

    </tr>


  </tbody>
</table>



{% endblock %}
