
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}



{% block content %}

<div class="govuk-form-group">
  <a href="01list" class="govuk-back-link">Back</a>
  <br></br>
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Concern | CON-000-000-002
    </h1>
  </legend>
<p>Please copy this information and follow the instructions when prompt to report this concern on the CHDA third party referral form. <a href="#">Download form from this link</a></p>
<h3 class="govuk-heading-m">Clerical Incident Report Form (to be completed by CHDA ASC staff, G4S and Providers)</h3>
<h3 class="govuk-heading-m">Your details</h3>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Title
      </dt>
      <dd class="govuk-summary-list__value">
        <i>  Leave this blank </i>
      </dd>
    </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        First name
        </dt>
        <dd class="govuk-summary-list__value">
          Ted
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Other name
        </dt>
        <dd class="govuk-summary-list__value">
        <i>  Leave this blank </i>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Last name
        </dt>
        <dd class="govuk-summary-list__value">
         Ladygrey
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Your job role
        </dt>
        <dd class="govuk-summary-list__value">
        CHDA AC staff
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Business
        </dt>
        <dd class="govuk-summary-list__value">
        Assessment Service
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Business Area e.g. Customer Service, Pension Centre
        </dt>
        <dd class="govuk-summary-list__value">
          Assessment centre
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Home Office / Usual place of work
        </dt>
        <dd class="govuk-summary-list__value">
          Stockpoint
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
    Have you had the appropriate level of keeping safe training?
        </dt>
        <dd class="govuk-summary-list__value">
        Don't know
        </dd>
      </div>
      </dl>
<h3 class="govuk-heading-m">Time in post</h3>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Years
        </dt>
        <dd class="govuk-summary-list__value">
          <i>  Leave this blank </i>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Months
        </dt>
        <dd class="govuk-summary-list__value">
        <i>  Leave this blank </i>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Your line manager
        </dt>
        <dd class="govuk-summary-list__value">
        Sarah Darjeeling
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Incident date
        </dt>
        <dd class="govuk-summary-list__value">
      08/03/2022
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Incident time
        </dt>
        <dd class="govuk-summary-list__value">
      <i>  Leave this blank </i>
        </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
        Claimant title
          </dt>
          <dd class="govuk-summary-list__value">
        <i>  Leave this blank </i>
          </dd>
          </div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
First name (Customer first name)
</dt>
<dd class="govuk-summary-list__value">
Robert
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Other name
</dt>
<dd class="govuk-summary-list__value">
  <i>  Leave this blank </i>
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  Last name (customer last name)
</dt>
<dd class="govuk-summary-list__value">
De Silva
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
NINO
</dt>
<dd class="govuk-summary-list__value">
AE 456 789 K
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Who are you reporting as a result of the incident?
</dt>
<dd class="govuk-summary-list__value">
Customer
</dd>
</div>
</dl>
<h3 class="govuk-heading-m">If not the claimant tell us the appropriate details</h3>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  First name
</dt>
<dd class="govuk-summary-list__value">
<i>  Leave this blank </i>
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Other names
</dt>
<dd class="govuk-summary-list__value">
<i>  Leave this blank </i>
  </dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Last name
</dt>
<dd class="govuk-summary-list__value">
<i>  Leave this blank </i>
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Relationshio with claimant e.g carer
</dt>
<dd class="govuk-summary-list__value">
<i>  Leave this blank </i>
</dd>
</div>
</dl>

<h3 class="govuk-heading-m">Claimant or assailant address</h3>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  House number or name
</dt>
<dd class="govuk-summary-list__value">
<i>  Leave this blank </i>
</dd>
</dl>




  <br></br>
    <a href="01list.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Close task
      </a>



{% endblock %}
