
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="#" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
          </span>
        </span>
      </a>
    </div>
    <div class="govuk-header__content">
      <a href="../../../index.html" class="govuk-header__link govuk-header__link--service-name">
        Agent Safeguarding
      </a>
    </div>
  </div>
</header>
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="00reportError">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">Try again later.</p>
        <p class="govuk-body">We saved your answers. They will be available for 30 days.</p>
        <p class="govuk-body">
          <a class="govuk-link" href="#">Contact the Tax Credits Helpline</a> if you need to make changes to your claim or speak to someone about your tax credits.
        </p>
      </div>
    </div>
  </main>
</div>


{% endblock %}
