
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<table class="govuk-table">
  <h1 class="govuk-heading-xl">
    Outstanding Incidents list
  </h1>
  <h2 class="govuk-heading-m">All incidents</h2>

  <a href="00list.html"><img src="/public/images/card_totaloff.png" alt="Reviewed" ></a> &nbsp; <a href="00listRed.html"><img src="/public/images/card_outstanding.png" alt="Reviewed"></a> &nbsp; <a href="00listGreen.html"><img src="/public/images/card_readyon.png" alt="Reviewed"></a> &nbsp;

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Date of incident</th>
      <th scope="col" class="govuk-table__header app-custom-class">Reporter</th>
      <th scope="col" class="govuk-table__header app-custom-class">Type</th>
      <th scope="col" class="govuk-table__header app-custom-class">Assign to</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">



      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="01incident.html">11/03/21 - 10:30</a></th>
        <td class="govuk-table__cell">Whitney Earl</td>
        <td class="govuk-table__cell">Abuse, Threats</td>
        <td class="govuk-table__cell"><a href="#">Assign to me</a></td>
        <td class="govuk-table__cell"><img src="/public/images/dotGreen.png" alt="Reviewed"> &nbsp;Ready for decision</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="01incident.html">11/03/21 - 15:30</a></th>
        <td class="govuk-table__cell">Whitney Earl</td>
        <td class="govuk-table__cell">Abuse, Threats</td>
        <td class="govuk-table__cell"><a href="#">Assign to me</a></td>
        <td class="govuk-table__cell"><img src="/public/images/dotGreen.png" alt="Reviewed"> &nbsp;Ready for decision</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="01incident.html">10/03/21 - 10:30</a></th>
        <td class="govuk-table__cell">Whitney Earl</td>
        <td class="govuk-table__cell">Abuse, Threats</td>
        <td class="govuk-table__cell"><a href="#">Assign to me</a></td>
        <td class="govuk-table__cell"><img src="/public/images/dotGreen.png" alt="Reviewed"> &nbsp;Ready for decision</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="01incident.html">09/03/21 - 12:30</a></th>
        <td class="govuk-table__cell">Whitney Earl</td>
        <td class="govuk-table__cell">Abuse, Threats</td>
        <td class="govuk-table__cell"><a href="#">Assign to me</a></td>
        <td class="govuk-table__cell"><img src="/public/images/dotGreen.png" alt="Reviewed"> &nbsp;Ready for decision</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="01incident.html">07/03/21 - 17:30</a></th>
        <td class="govuk-table__cell">Whitney Earl</td>
        <td class="govuk-table__cell">Abuse, Threats</td>
        <td class="govuk-table__cell"><a href="#">Assign to me</a></td>
        <td class="govuk-table__cell"><img src="/public/images/dotGreen.png" alt="Reviewed"> &nbsp;Ready for decision</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="#">07/03/21 - 10:45</a></th>
        <td class="govuk-table__cell">Whitney Earl</td>
        <td class="govuk-table__cell">Physical violence</td>
        <td class="govuk-table__cell">Sadiq Matcha</td>
        <td class="govuk-table__cell"><img src="/public/images/dotGreen.png" alt="Reviewed"> &nbsp;Ready for decision</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="01incident.html">06/03/21 - 17:30</a></th>
        <td class="govuk-table__cell">Whitney Earl</td>
        <td class="govuk-table__cell">Abuse, Threats</td>
        <td class="govuk-table__cell"><a href="#">Assign to me</a></td>
        <td class="govuk-table__cell"><img src="/public/images/dotGreen.png" alt="Reviewed"> &nbsp;Ready for decision</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="#">06/03/21 - 09:00</a></th>
        <td class="govuk-table__cell">Whitney Earl</td>
        <td class="govuk-table__cell">Physical violence</td>
        <td class="govuk-table__cell">Sadiq Matcha</td>
        <td class="govuk-table__cell"><img src="/public/images/dotGreen.png" alt="Reviewed"> &nbsp;Ready for decision</td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="#">05/03/21 - 16:00</a></th>
        <td class="govuk-table__cell">Whitney Earl</td>
        <td class="govuk-table__cell">Physical violence</td>
        <td class="govuk-table__cell">Sadiq Matcha</td>
        <td class="govuk-table__cell"><img src="/public/images/dotGreen.png" alt="Reviewed"> &nbsp;Ready for decision</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="#">03/03/21 - 10:45</a></th>
        <td class="govuk-table__cell">Whitney Earl</td>
        <td class="govuk-table__cell">Physical violence</td>
        <td class="govuk-table__cell">Sadiq Matcha</td>
        <td class="govuk-table__cell"><img src="/public/images/dotGreen.png" alt="Reviewed"> &nbsp;Ready for decision</td>
      </tr>



  </tbody>
</table>

{% endblock %}
