{% extends "layout.html" %}

{% block pageTitle %}
Are you reporting this on behalf of someone else? - Agent Safeguarding
{% endblock %}

{% block beforeContent %}
<section aria-label="Beta banner" role="region">

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
  tag: {
  text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="02behalf_error2">feedback</a> will help us to improve it.'
  }) }}
</section>
{% include "templates/v2/header_searchlight.njk" %}
<section aria-label="Back" role="region">
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
  }) }}
</section>
{% endblock %}

{% block content %}
<div class="govuk-form-group">
  {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
  {{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
  {
  text: "Select yes if you are reporting on behalf of someone else",
  href: "#on-behalf"
  }
  ]
  }) }}
  <fieldset class="govuk-fieldset" aria-describedby="on-behalf">
    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% set emailHtml %}
    {{ govukInput({
    id: "first-name",
    name: "first-name",
    classes: "govuk-!-width-one-third",
    label: {
    text: "Their first name"
    }
    }) }}
    {{ govukInput({
    id: "last-name",
    name: "last-name",
    classes: "govuk-!-width-one-third",
    label: {
    text: "Their last name"
    }
    }) }}
    {{ govukInput({
      id: "email",
      name: "email",
      type: "email",
      autocomplete: "email",
      spellcheck: false,
      classes: "govuk-!-width-one-third",
      label: {
      text: "Their email address"
      }
      }) }}
  
    {% endset -%}



    {{ govukRadios({
    idPrefix: "on-behalf",
    name: "on-behalf",
    fieldset: {
    legend: {
    text: "Are you reporting this on behalf of someone else?",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
    }
    },
    items: [
    {
    value: "no",
    text: "No"
    },
    {
    value: "yes",
    text: "Yes, I'm reporting this on behalf of someone else",
    conditional: {
    html: emailHtml
    }
    }
    ],
    hint: {
    text: "Select one option."
    },
    errorMessage: {
    text: "Select yes if you are reporting on behalf of someone else"
    }
    }) }}
    <div class="govuk-button-group">

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
      text: "Continue",
      href: "03line_manager"
      }) }}

    </div>
  </fieldset>
</div>
{% endblock %}