{% extends "layout.html" %}
{% block pageTitle %}
  Describe the incident - Agent Safeguarding
{% endblock %}
{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
  tag: {
  text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="09describe_error">feedback</a> will help us to improve it.'
  }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
  }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="page-title">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading" id="page-title">
          Describe the incident
        </h1>
      </legend>
      <style>
        .govuk-notification-banner__heading {
          max-width: none
        }
      </style>
      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
      {{ govukNotificationBanner({
  html: '<p class="govuk-notification-banner__heading">Keep to the facts and be as specific as possible.<br>
  Do not include the names of any DWP staff in your answers.</p>'
}) }}
      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
      {{ govukTextarea({
  name: "why",
  id: "why",
  label: {
    text: "1. Why was the customer in contact with us?",
    classes: "govuk-label--s"
  },
  hint: {
    text: "For example: I called John for a routine welfare check."
  }
}) }}
      {% set howhintHTML %}
      <div>
        Please report the exact words that everyone used.<br>
          For example: I asked John to come into the office next week, and he raised his voice and shouted “I’m not coming to the job centre.”
        </div>
        {% endset %}
        {{ govukTextarea({
  name: "how",
  id: "how",
  label: {
    text: "2. How did the incident start? Was there a specific trigger?",
    classes: "govuk-label--s"
  },
  hint: {
    html: howhintHTML
  }
}) }}
        {% set whathintHTML %}
        <div>
          Tell us what they said and did, and report the exact words that everyone used.<br>
            For example: John said “I'm not answering your questions.”
          </div>
          {% endset %}
          {{ govukTextarea({
  name: "what",
  id: "what",
  label: {
    text: "3. What were the issues with the customer’s behaviour?",
    classes: "govuk-label--s"
  },
  hint: {
    html: whathintHTML
  }
}) }}
          {% set nexthintHTML %}
          <div>
            Please report the exact words that everyone used.<br>
              For example: I said, “Stop swearing at me. I am trying to help you.” But the customer continued to shout and said, "You're not helping me at all."
            </div>
            {% endset %}
            {{ govukTextarea({
  name: "next",
  id: "next",
  label: {
    text: "4. Tell us what happened next. How did you try to resolve the situation, and how did the customer react?",
    classes: "govuk-label--s"
  },
  hint: {
    html: nexthintHTML
  }
}) }}
            {{ govukRadios({
  idPrefix: "witnesses",
  name: "witnesses",
  fieldset: {
  legend: {
  text: "5. Were there any witnesses to this incident?",
  classes: "govuk-label--s"
  }
  },
  items: [
    {
  value: "yes",
  text: "Yes"
  },
  {
    value: "no",
    text: "No"
    }
  ],
  hint: {
  text: "Select one option."
  }
  }) }}
            {% set endhintHTML %}
            <div>
              For example: I terminated the call.
            </div>
            {% endset %}
            {{ govukTextarea({
  name: "end",
  id: "end",
  label: {
    text: "6. How did your interaction with the customer end?",
    classes: "govuk-label--s"
  },
  hint: {
    html: endhintHTML
  }
}) }}
            {% set feelhintHTML %}
            <div>
              Include emotional, mental and physical effects.
            </div>
            {% endset %}
            {{ govukTextarea({
  name: "feel",
  id: "feel",
  label: {
    text: "7. How did you feel during the incident?",
    classes: "govuk-label--s"
  },
  hint: {
    html: feelhintHTML
  }
}) }}
            <div class="govuk-button-group">
              {% from "govuk/components/button/macro.njk" import govukButton %}
              {{ govukButton({
      text: "Continue",
      href: "10confirm"
      }) }}
            </div>
          </fieldset>
        </div>
      {% endblock %}