{% extends "layout.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}
{% block pageTitle %}
  Check your answers - Agent Safeguarding
{% endblock %}
{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {% include "templates/v2/header_searchlight.njk" %}
  {{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <h1 class="govuk-heading-l" id="page-title">
    Check your answers
  </h1>
  <style>
    .govuk-summary-list__value .govuk-summary-list__row:last-child .govuk-summary-list__value {
      margin-bottom: 0;
      border-bottom: 0
    }
    .govuk-summary-list__value .govuk-summary-list__row:last-child .govuk-summary-list__key {
      margin-bottom: 0;
      border-bottom: 0
    }
    .govuk-summary-list__value {
      padding-right: 0;
    }
    .govuk-table__body .govuk-table__row:last-child th, .govuk-table__body .govuk-table__row:last-child td {
      margin-bottom: 0;
      border-bottom: 0
    }
  </style>
<div class="govuk-!-padding-bottom-7">
{% set describeHTML%}
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "1. Why was the customer in contact with us?"
      },
      value: {
        text: "I called John for a routine welfare check"
      }
    },    {
      key: {
        text: "2. How did the incident start? Was there a specific trigger?"
      },
      value: {
        text: "I asked John to come into the office next week, and he raised his voice and shouted 'I’m not coming to the job centre.'"
      }
    },    {
      key: {
        text: "3. What were the issues with the customer’s behaviour?"
      },
      value: {
        text: "John said 'I'm not answering your questions'"
      }
    },    {
      key: {
        text: "4. Tell us what happened next. How did you try to resolve the situation, and how did the customer react?"
      },
      value: {
        text: "I said, 'Stop swearing at me. I am trying to help you.' But the customer continued to shout and said, 'You're not helping me at all.'"
      }
    },    {
      key: {
        text: "5. Were there any witnesses to this incident?"
      },
      value: {
        text: "Yes"
      }
    },    {
      key: {
        text: "6. How did your interaction with the customer end?"
      },
      value: {
        text: "I terminated the call"
      }
    },    {
      key: {
        text: "7. How did you feel during the incident?"
      },
      value: {
        text: "I was very upset"
      }
    }

  ]
}) }}

{% endset %}
{% set filesHTML%}
{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  firstCellIsHeader: true,
  rows: [
    [
      {
        html: "<span class='govuk-visually-hidden'>File name:</span> emailtome.txt"
      }
    ],
    [
      {
        html: "<span class='govuk-visually-hidden'>File name:</span> screen_shot.png"
      }
    ],
    [
      {
        html: "<span class='govuk-visually-hidden'>File name:</span> letter_l.pdf"
      }
    ]
  ]
}) }}
{% endset%}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Your details"
      },
      value: {
        text: "Whitney Earl (whitneyearl@dwp.gov.uk) on behalf of Mike Black"
      }
    },
    {
      key: {
        text: "Who is your line manager?"
      },
      value: {
        text: "Sarah Linemanager (sarah.linemanager@dwp.gov.uk)"
      }
    },
    {
      key: {
        text: "Who is the most appropriate manager to review this report?"
      },
      value: {
        html: "Sartaq Matcha (sartaq.matcha@dwp.gov.uk)"
      }
    },
    {
      key: {
        text: "When did the incident happen?"
      },
      value: {
        html: "13 June 2022 at 15:30"
      }
    },
    {
      key: {
        text: "What type of interaction was it?"
      },
      value: {
        html: "In-person"
      }
    },
    {
      key: {
        text: "Where were you during the incident?"
      },
      value: {
        html: "Car Park"
      }
    },
    {
      key: {
        text: "Do you feel the incident was motivated by any type of discrimination?"
      },
      value: {
        html: "<ul class='govuk-list govuk-list--bullet'><li>Age</li><li>Being married or in a civil partnership</li></ul>"
      }
    },
    {
      key: {
        text: "Describe the incident"
      },
      value: {
        html: describeHTML
      }
    },
    {
      key: {
        text: "Files added"
      },
      value: {
        html: filesHTML
      }
    }
  ]
}) }}


</div>
  <div class="govuk-form-group ">
    <fieldset class="govuk-fieldset" aria-describedby="label-as-page-heading">
      <h2 class="govuk-heading-m">Are you ready to submit your report?</h2>
      <p class="govuk-body">If you need to change anything in your report, use the back link near the top of this page.</p>
      <p class="govuk-body">When you click Submit, we will send your report to the appropriate manager to review.</p>
      <p class="govuk-body govuk-!-font-weight-bold">You will not be able to change anything in your report after you click Submit.</p>
      {% from "govuk/components/button/macro.njk" import govukButton %}
      <div class="govuk-button-group">
        {{ govukButton(
            {
              text: "Submit",
              href: "13confirm"
            }
          )
          }}
      </div>
    </fieldset>
  </div>
{% endblock %}
