
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Details of citizen
      </h1>
    </legend>

    <div class="govuk-form-group">
  <label class="govuk-label" for="full-name">
  First name
  </label>
  <input class="govuk-input govuk-input--width-30" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name"></div>

  <div class="govuk-form-group">
  <label class="govuk-label" for="full-name">
  Last name
  </label>
  <input class="govuk-input govuk-input--width-30" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name"></div>

  <div class="govuk-form-group">
  <label class="govuk-label" for="full-name">
  NINO
  </label>
  <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">

  <br></br>

  <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Address
    </h1>
  </legend>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-1">
      Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
    </label>
    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1"></div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-2">
      <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
    </label>
    <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2"></div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-town">
      Town or city
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2"></div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-county">
      County
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text"></div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Postcode
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code"></div>

</fieldset>
<br></br>
  <a href="/witnesses.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    Next
    </a>
  </fieldset>
</div>

{% endblock %}
