
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What could have been done differently?
      </h1>
    </legend>
    <div class="govuk-form-group">

  <div id="more-detail-hint" class="govuk-hint">
    We value your opinion. What could have been done in a different way to avoid the incident from happening?
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>


  <a href="/success.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    Save & Submit
    </a>


  </fieldset>
</div>

{% endblock %}
