
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="01incident#control" class="govuk-back-link">Back to control measures</a>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
      Recommendations and guidance
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Please explain the reasons to apply the safeguarding measures and any specific guidance for applying it
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint"></textarea>
</div>

<a href="02apply.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Continue
  </a>
  <br></br>
  <a href="https://dwpdigital.atlassian.net/wiki/spaces/~480880257/pages/132197614644/03+-+Recommendations">
   <img src="/public/images/confluence.png" alt="Reviewed" width="100" height="100">
  </a>
{% endblock %}
