
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Incident report
  </h1>
  <h2 class="govuk-heading-m">Ready for decision</h2>
  <h2 class="govuk-heading-m">WF567898G</h2>


  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#incident">
          Incident
        </a>
      </li>
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#witnesses">
        Witnesses
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#reporter">
          Reporter
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#citizen">
          Customer
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#history">
          History
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#control">
          Safeguarding measures
        </a>
      </li>
    </ul>
    <div class="govuk-tabs__panel" id="incident">
      <p style="font-size:150%;"><strong>Incident details</strong></p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Type
          </dt>
          <dd class="govuk-summary-list__value">
            Physical Violence
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Interaction
          </dt>
          <dd class="govuk-summary-list__value">
            Face to face
          </dd>
        </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              21/04/21 - 10:30
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location
            </dt>
            <dd class="govuk-summary-list__value">
              <strong>Bromley Jobcentre</strong><br>
              72 Guild Street<br>London<br>SE23 6FH
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Customer involved
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#citizen">
                Robert De Silva
              </a>
            </dd>
          </div>
        </dl>
        <p style="font-size:150%;"><strong>Witness reports</strong></p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Witness
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#witnesses">Sartaq Matcha</a>
              </dd>
            </div>
          </dl>
          <p style="font-size:150%;"><strong>Incident Breakdown</strong></p>
          <p style="font-size:100%;">Written by: <a href="#reporter">Whitney Earl</a></p>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What started the situation?
                </dt>
                <dd class="govuk-summary-list__value">
                  Booked Work Search interview. Customer asked reasons for his UC claim being stopped and. full explanation was attempted to be given.
  Customer did not accept the reasons, stating he's always paid his taxes.
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What happened during the interaction?
                </dt>
                <dd class="govuk-summary-list__value">
                  Customer obviously upset but wasn't listening to the explanation. He became angry and started to be abusive, stating:
  "You don't care about me! You are just a bunch of bastards!" You talk just because you are safe behind your desks.
  It then became physical as he upturned the desk knocking the keyboard, laptop and mouse which did hit me
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How did you handle the interaction?
                </dt>
                <dd class="govuk-summary-list__value">
    Previous attempts to give full explanation didn't calm customer down and it escalated into the upturning of the desk.
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How did the interaction end?
                </dt>
                <dd class="govuk-summary-list__value">
                  The intervention of G4S who escorted the customer away and into a safer place. Because it became physical and he'd damaged property,
    the police were called and on their arrival he was taken into their custody. Crime report number: 1234.
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How did you feel about the interaction?
                </dt>
                <dd class="govuk-summary-list__value">
  Initially I was calm and understood it to be a general appointment. I thought once the customer was made aware of the claim regulations
  he would agree that the UC claim was now inappropriate. Unfortunately he didn't and became angry.
  I became a little nervous when he raised his voice and began swearing but was not at all prepared for the physical actions.
  At this point I became increasingly concerned but was relieved to see G4s support on hand. Now the incident is over. I'm a little nervous and shaking, relieving the incident to see if my behaviour increased his anger, was there anything I could have done differently.
                </dd>
              </div>
            </dl>
            <p style="font-size:150%;"><strong>Line manager recommendations</strong></p>
            <p style="font-size:100%;">Written by: <a href="#reporter">Sadiq Assam</a></p>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Suggested measures:
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <ul>
                  <li>Banned from office</li>
                    </ul>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Suggestions and recommendations
                  </dt>
                  <dd class="govuk-summary-list__value">
                    I feel that the appropriate step here would be to ban the customer
  due to the physical behaviour, whilst his intention may not have
  been to injure the work coach his behaviours escalated to the point he damaged
  department property and ended up with one of the items from
  the desk hitting the work coach. I feel if he was in another situation there is
  the possibility of the behaviour escalating to actual intended physical harm to DWP staff.
                </div>

              </dl>
    </div>
    <div class="govuk-tabs__panel" id="witnesses">
      <p style="font-size:150%;"><strong>Witnesses</strong></p>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Name
                </dt>
                <dd class="govuk-summary-list__value">
                  Sartaq Matcha
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Job Role
                </dt>
                <dd class="govuk-summary-list__value">
                  Work Coach
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Main work location
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong>Bromley Jobcentre</strong><br>
                  72 Guild Street<br>London<br>SE23 6FH
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Incidents reported
                </dt>
                <dd class="govuk-summary-list__value">
                  2
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Email
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="#">sartaq.matcha@dwp.gov.uk</a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Telephone
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="#">01632 960089</a>
                </dd>

              </div>
            </dl>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  What were the main issues? Describe the customer behaviour and the interaction using facts only.
                  </dt>
                  <dd class="govuk-summary-list__value">
                  "You don't care about me. You are bunch of bastards! You talk just because you are safe behind your desks."
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                What brought the interaction to an end? What was the final outcome?
                  </dt>
                  <dd class="govuk-summary-list__value">
                  The interaction ended with Sadiq and the G4S guard restraining the customer and the Police being called (who subsequently removed the customer from the building)
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  What were your feelings during the interaction? How do you feel now?
                  </dt>
                  <dd class="govuk-summary-list__value">
                Adrenalin helps! I understood what I needed to do to help my colleagues and presumably customers safe during the incident. Exhausted! Concerned for colleagues. Anxious to get all the statements etc. completed and sent ASAP.
                  </dd>
                </div>
                </dl>

</div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reporter">
      <p style="font-size:150%;"><strong>Reporter details</strong></p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Name
          </dt>
          <dd class="govuk-summary-list__value">
            Whitney Earl
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Job Role
          </dt>
          <dd class="govuk-summary-list__value">
            Work Coach
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main work location
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>Bromley Jobcentre</strong><br>
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Incidents reported
          </dt>
          <dd class="govuk-summary-list__value">
            9
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Email
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">whitney.earl@dwp.gov.uk</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Telephone
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">01632 960079</a>
          </dd>

        </div>
      </dl>
      <p style="font-size:150%;"><strong>Line manager details</strong></p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Name
          </dt>
          <dd class="govuk-summary-list__value">
            Sadiq Assam
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Job Role
          </dt>
          <dd class="govuk-summary-list__value">
            Work Coach Manager
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main work location
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>Bromley Jobcentre</strong><br>
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Email
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">mark.green@dwp.gov.uk</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Telephone
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">01632 960016</a>
          </dd>
        </div>
</dl>
    </div>

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="citizen">
      <p style="font-size:150%;"><strong>Customer</strong></p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Name
          </dt>
          <dd class="govuk-summary-list__value">
            Robert De Silva
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            12/04/93 (Age 27)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          National Insurance Number
          </dt>
          <dd class="govuk-summary-list__value">
            CT 00 03 41 B
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>Last known address</strong><br>
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Telephone
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">01632 960016</a>
          </dd>
        </div>
</dl>
<p style="font-size:150%;"><strong>Benefits</strong></p>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Universal Credit
    </dt>
    <dd class="govuk-summary-list__value">
      Applied and obtained Universal Credit from 2019 to March 2021. Last month UC has been withdrawn as it has come to attention that the Civil Partner (Mark Lapsang) has earned £6000 from freelance jobs in the past three months.
    </dd>
  </div>
  </dl>
  <p style="font-size:150%;"><strong>Relationships</strong></p>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Mark Lapsang
      </dt>
      <dd class="govuk-summary-list__value">
        Civil partner
      </dd>
    </div>

</dl>
</div>

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
   <p style="font-size:150%;"><strong>History</strong></p>

     <img src="/public/images/card_incidentONE.png" alt="Reviewed"> &nbsp;<img src="/public/images/card_safeguardingZERO.png" alt="Reviewed"> &nbsp;  <img src="/public/images/card_actionZERO.png" alt="Reviewed"> &nbsp;

   <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

       <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all"><div class="app-step-nav__controls"><button aria-expanded="false" class="app-step-nav__button app-step-nav__button--controls js-step-controls-button" aria-controls="step-panel-check-youre-allowed-to-drive-1">Show all</button></div>
         <ol class="app-step-nav__steps">




           <li class="app-step-nav__step js-step" id="when-you-pass">
             <div class="app-step-nav__header js-toggle-panel" data-position="7">
               <h2 class="app-step-nav__title">
                 <span class="app-step-nav__circle app-step-nav__circle--number">
                   <span class="app-step-nav__circle-inner">
                     <span class="app-step-nav__circle-background">
                       <span class="govuk-visually-hidden">Step</span> 1
                     </span>
                   </span>
                 </span>

                 <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-when-you-pass-7"><span class="js-step-title-text">
                  Incident - 21 April 2021
                 </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden=""><a href="#">Physical violence - face to face</a></span></button></span>
               </h2>
             </div>

             <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-when-you-pass-7">
               <p class="app-step-nav__paragraph">You can start driving as soon as you pass your driving test.</p>

               <p class="app-step-nav__paragraph">You must have an insurance policy that allows you to drive without supervision.</p>

               <ol class="app-step-nav__list " data-length="1">
                 <li class="app-step-nav__list-item js-list-item ">
                   <a data-position="7.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Find out about Pass Plus training courses </a>
                 </li>
               </ol>
             </div>

           </li>
         </ol>
       </div>

     </div>
   </div>



  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="control">

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  No actions / no safeguarding measure
                </dt>

                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="01action.html">
                    Apply<span class="govuk-visually-hidden"> View request</span>
                  </a>
                </dd>
              </div>
            <p>Select this option if you don’t want to take any actions or apply any safeguarding measures at this stage.
  You will be asked to motivate this decision.</p>

    </dl>
    <hr>
    <p><strong>Select all actions and safeguarding measures you will like to apply at this stage from the list, then press the APPLY button at the bottom of the page</strong></p>

                  <p style="font-size:150%;"><strong>Actions</strong></p>
                  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="mines">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                                    Warning letter
                                  </label>
                                </div>
                              </dt>
                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="01action.html">
                                </a>
                              </dd>
                            </div>
                          <p>Warning letter should be sent to a citizen to notify him about his behaviour and the next steps that are going to be taken if the behaviour doesn’t change. The template can be personalised on a case by case fashion.</p>

                  </dl>
                  <p style="font-size:150%;"><strong>Safeguarding measures</strong></p>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste-0" name="waste" type="checkbox" value="mines">
                        <label class="govuk-label govuk-checkboxes__label" for="waste-0">
                          Monitor behaviour
                        </label>
                      </div>
                    </dt>

                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="01apply.html">
                      </a>
                    </dd>
                  </div>
                <p>  Agents will be asked to review every interaction with this customer until the next review</p>

                  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                    Not permitted to use DWP computers
                                  </label>
                                </div>
                              </dt>

                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="01apply.html">
                                </a>
                              </dd>
                            </div>
                          <p>The citizen will be forbidden from using DWP computers in the offices. The citizen must be notify after entering an office and accompanied only in rooms where he can be monitored.</p>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="mines">
                                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                  Accompanied interviews
                                </label>
                              </div>
                            </dt>
                            <dd class="govuk-summary-list__actions">
                              <a class="govuk-link" href="01apply.html">
                                                          </a>
                            </dd>
                          </div>
                        <p>The citizen will be allow to face to face interactions only if supervised by a security staff member.</p>

                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="waste-4" name="waste" type="checkbox" value="mines">
                              <label class="govuk-label govuk-checkboxes__label" for="waste-4">
                                To be dealt with by named officer
                              </label>
                            </div>
                          </dt>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="01apply.html">
                            </a>
                          </dd>
                        </div>
                      <p>Only a named officer can have interaction with this citizen. The named officer details are going to be displayed below.</p>

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-5" name="waste" type="checkbox" value="mines">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-5">
                              Must be dealt with in a screened environment
                            </label>
                          </div>
                        </dt>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="01apply.html">

                          </a>
                        </dd>
                      </div>
                    <p>The citizen can be seen only in screened environment. If there is not a screened environment in his closest jobcentre you may ask the citizen to travel to a different one. In some case this will not be possible so it is suggested to add / change the safeguardingmeasure in monitored visits.</p>

                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste-6" name="waste" type="checkbox" value="mines">
                          <label class="govuk-label govuk-checkboxes__label" for="waste-6">
                            No home visits
                          </label>
                        </div>
                      </dt>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="01apply.html">
                        </a>
                      </dd>
                    </div>
                  <p>DWP staff members shouldn’t go to the home of the citizen under any circumstances. </p>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste-7" name="waste" type="checkbox" value="mines">
                        <label class="govuk-label govuk-checkboxes__label" for="waste-7">
                          Banned from office
                        </label>
                      </div>
                    </dt>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="01apply.html">
                      </a>
                    </dd>
                  </div>
                <p>The citizen will not be allow to book face to face appointments in jobcentres. The details of this citizen will be notified to the security staff team.  </p>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-8" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-8">
                        Banned from using UCFS journal
                      </label>
                    </div>
                  </dt>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="01apply.html">
                    </a>
                  </dd>
                </div>
              <p>(Legacy) This safeguarding measure cannot be taken any longer but some of the citizen may still be affected.</p>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-9" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-9">
                    Request injunction (England and Wales)
                    </label>
                  </div>
                </dt>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="01apply.html">
                  </a>
                </dd>
              </div>
            <p>A judicial order restraining a person from beginning or continuing an action threatening or invading the legal right of another, or compelling a person to carry out a certain act, e.g. to make restitution to an injured party.</p>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-10" name="waste" type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-10">
                  Request interdiction (Scotland)
                  </label>
                </div>
              </dt>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="01apply.html">

                </a>
              </dd>
            </div>
          <p>An interdict is a civil court order that tells a person not to do something or to stay away from you, your children or a specific place, such as your house. In Scotland if a person doesn't stick to an interdict, the police might be able to arrest them if the interdict gives them the power to do so.</p>



      </dl>
        <a href="01apply.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Apply
          </a>



  </div>

  <br></br>
  <a href="https://dwpdigital.atlassian.net/wiki/spaces/~480880257/pages/132197614644/03+-+Recommendations">
   <img src="/public/images/confluence.png" alt="Reviewed" width="100" height="100">
  </a>





{% endblock %}
