{% extends "layout.html" %}

{% block pageTitle %}
Overview of journey
{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}

{% endblock %}



{% block content %}
<h1 class="govuk-heading-xl">Overview of incident manager review (linear journey)</h1>
<img src="/public/images/linear-journey/flow.png" width="100%" height="100%">

<p class="govuk-body">Notes:</p>

<ul class="govuk-list  govuk-list--bullet">
    <li>This email is triggered by the confirmation page of the incident report journey</li>
    <li>This prototype links straight to the first question of the journey: in reality, the journey will start with Searchlight sign in and a dashboard screen (TBC)</li>
    <li>There are three versions of content for this email. Which one the incident manager sees will depend on what the incident reporter selected on <a class="govuk-link" href="../report_incident/reportv8/acting_managerv1.html">the 'Identify appropriate manager' screen</a>:</li>
</ul>

<ol class="govuk-list  govuk-list--number">
    <li>If the incident reporter selected 'My line manager' on <a class="govuk-link" href="../report_incident/reportv8/acting_managerv1">that screen</a> to indicate that <b>the line manager and the incident manager are the same person</b>, <a class="govuk-link" href="00emailprompt">email 1</a> shows the content for the email that should go to the line / incident manager.</li><br>
    <li>If the incident reporter selected 'Another manager' on <a class="govuk-link" href="../report_incident/reportv8/acting_managerv1">that screen</a> to indicate that the line manager and the incident manager are different people, <a class="govuk-link" href="00emailprompt_2">email 2</a> shows the content for the email that should go to the <b>line manager</b>.</li><br>
    <li>If the incident reporter selected 'Another manager' on <a class="govuk-link" href="../report_incident/reportv8/acting_managerv1">that screen</a> to indicate that the line manager and the incident manager are different people, <a class="govuk-link" href="00emailprompt_3">email 3</a> shows the content for the email that should go to the <b>incident manager</b>.</li>
</ol>
<ul class="govuk-list  govuk-list--bullet">
    <li>Email 1, 2 and 3 are designed here but not finalised</li>
    <li>Email 4, 5 and 6 will have similar content to 1, 2 and 3, to re-iterate advice. We've provided a <a href="07confirmation_email">low fidelity prototype</a> for context.</li>
    <li>This prototype has a <a href="add_witness/00add_witness_behalf">"Witness details not recognised" page</a> to be used when the witness is not a DWP employee. However, the first cut of this journey does not need this page because we are assuming that we will use a manual process. This may change in the future. The page can be accessed in the journey flow by putting "Mike Black" in the "Full name" field on the <a href="add_witness/00add_witness">"Enter witness details" page</a>.</li>
</ul>
<div class="govuk-button-group">

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Start",
      href: "00journey_start",
      isStartButton: true
    }) }}
</div>

{% endblock %}
