{% extends "layout.html" %}

{% block pageTitle %}
Start of journey - email prompt
{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}

{% endblock %}



{% block content %}
<style>
	.nowrapper {
		white-space: nowrap;
	}
</style>
<h1 class="govuk-heading-m"><i>Email for LINE AND INCIDENT MANAGER</i></h1>
<br><br>
<h1 class="govuk-heading-m">(Subject line) URGENT: Review incident report <span class="nowrapper">INC-123-456-789</span></h1>
<p class="govuk-body">Dear [Name Surname],
	<p class="govuk-body">Someone in your team reported this incident at 14.03 on 7 June 2022. </p>
	<p class="govuk-body">As their line manager, you have a duty of care to provide them with support, and to help them access any additional support they need.</p>
	<p class="govuk-body">You must also review the incident report for INC-123-456-789. </p>
		<p class="govuk-body"><b>You must complete your review before [14.03 on 9 June 2022].</b> </p><br>
	<p class="govuk-body">For security reasons, we cannot provide any information about the incident in this email. </p>

</p>
<br><br>

<h2 class="govuk-heading-m">What to do now</h2>

<ol class="govuk-list  govuk-list--number">
<li>Speak to your team member about the incident and make sure they have any support they need.</li><br>
<li>Review the incident report in Agent Safeguarding. To do this, <a class="govuk-link" href="00emailprompt">sign in to Searchlight</a> and [explain how to get to the right place to start the review]. </li><br>
<li>Add witnesses to the report where necessary, and add your own comments and recommendations.</li><br>
<li>If required, you should also report this as a Fast Track Incident in the <a class="govuk-link" href="https://intranet.dwp.gov.uk/page/fast-track-serious-incident-reporting">Safety Online – Accident Reporting System (SOARS)</a>.</li><br>
</ol>

		<p class="govuk-body">Once you have reviewed this report, we will send it to a case reviewer. </p>
<br><br>
<p class="govuk-body">Thank you, <br>Agent Safeguarding. </p>
<br><a class="govuk-link" href="00incident">Sign in to Searchlight</a>

<br><br><br><br>
<hr>
<p class="govuk-body">END OF EMAIL</p>
<p class="govuk-body">Notes:</p>

<ul class="govuk-list  govuk-list--bullet">
	<li>This email is triggered by the confirmation page of the incident report journey</li>
	<li>This prototype links straight to the first question of the journey: in reality, the journey will start with Searchlight sign in and a dashboard screen (TBC)</li>
	<li>There are three versions of content for this email. Which one the incident manager sees will depend on what the incident reporter selected on <a class="govuk-link" href="report_incident/reportv8/acting_managerv1">the 'Identify appropriate manager' screen</a>:</li><br>

<ol class="govuk-list  govuk-list--number">
<li>If the incident reporter selected 'My line manager' on <a class="govuk-link" href="report_incident/reportv8/acting_managerv1">that screen</a> to indicate that <b>the line manager and the incident manager are the same person</b>, use the content as it appears on this page.</li><br>
<li>If the incident reporter selected 'Another manager' on <a class="govuk-link" href="report_incident/reportv8/acting_managerv1">that screen</a> to indicate that the line manager and the incident manager are different people, click <a class="govuk-link" href="00emailprompt_2">here</a> to view the content for the email that should go to the <b>line manager</b>.</li><br>
<li>If the incident reporter selected 'Another manager' on <a class="govuk-link" href="report_incident/reportv8/acting_managerv1">that screen</a> to indicate that the line manager and the incident manager are different people, click <a class="govuk-link" href="00emailprompt_3">here</a> to view the content for the email that should go to the <b>incident manager</b>.</li>

</ol>
</ul>
<br> <br>
<p class="govuk-body"><a href="00add_witness">
		< Return to beginning of journey.</a>
</p>
{% endblock %}
