{% extends "layout.html" %}

{% block pageTitle %}
Start of journey - email prompt
{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}

{% endblock %}



{% block content %}
<style>
	.nowrapper {
		white-space: nowrap;
	}
</style>
h1 class="govuk-heading-m">(Subject line) URGENT: Review incident report <span class="nowrapper">INC-123-456-789</span></h1>
<p class="govuk-body">Dear [Name Surname],
	<p class="govuk-body">We believe you are the manager who should review the incident report for INC-123-456-789.</p>
		<p class="govuk-body"><b>You must complete your review before [14.03 on 9 June 2022].</b> </p><br>
	<p class="govuk-body">For security reasons, we cannot provide any information about the incident in this email. </p>

</p>
<br><br>

<h2 class="govuk-heading-m">What to do now</h2>

<ol class="govuk-list  govuk-list--number">
<li>Review the incident report in Agent Safeguarding. To do this, <a class="govuk-link" href="00emailprompt">sign in to Searchlight</a> and [explain how to get to the right place to start the review]. </li><br>
<li>Add witnesses to the report where necessary, and add your own comments and recommendations.</li><br>
<li>If required, you must also report this as a Fast Track Incident in the <a class="govuk-link" href="https://intranet.dwp.gov.uk/page/fast-track-serious-incident-reporting">Safety Online – Accident Reporting System (SOARS)</a>.</li><br>
</ol>

		<p class="govuk-body">Once you have reviewed this report, we will send it to a case reviewer. </p>
<br><br>
<p class="govuk-body">Thank you, <br>Agent Safeguarding. </p>
<br><a class="govuk-link" href="00emailprompt">Sign in to Searchlight.</a>

<br><br><br><br>
<hr>
<p class="govuk-body">END OF EMAIL</p>
<p class="govuk-body">Notes:</p>

<ul class="govuk-list  govuk-list--bullet">
	<li>This email is triggered by the confirmation page of the incident report journey</li>
	<li>This prototype links straight to the first question of the journey: in reality, the journey will start with Searchlight login and a dashboard screen (TBC)</li>
</ul>

<p class="govuk-body"><a href="00add_witness">
		< Return to beginning of journey.</a>
</p>
{% endblock %}
