{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}


<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <h1 class="govuk-heading-xl">Letter generator (proof of concept)</h1>
          <button type="submit" class="govuk-button">
            Start Now
          </button>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Design notes
              </span>
            </summary>
            <br><br>

            <h2 class="govuk-heading-m">Hypothesis - Format and content</h2>
            <p>
              <span class="govuk-body govuk-!-font-weight-bold">We believe that:</span>
              <br>
              <span class="govuk-body">simplified warning letter format and content will be sufficient to help users understand why they are receiving a letter, the immediate consequences for them and the potential future consequences</span>
            </p>

            <p>
              <span class="govuk-body govuk-!-font-weight-bold">To verify that we will:</span>
              <br>
              <span class="govuk-body">undertake usability testing with approximately 5 non-expert citizens</span>
            </p>

            <p>
              <span class="govuk-body govuk-!-font-weight-bold">And measure:</span>
              <br>
              <span class="govuk-body">their understanding of the letter, specifically:</span>
              <ul class="govuk-list govuk-list--bullet">
                <li>why have you receiving this letter?</li>
                <li>how does this letter affect the way you will deal with DWP?</li>
                <li>what will happen if you are involved in another incident?</li>
              </ul>
            </p>

            <p>
              <span class="govuk-body govuk-!-font-weight-bold">We are right if:</span>
              <br>
              <span class="govuk-body">testing participants are able to correctly identify the cause of, result of and future consequences of receiving a warning letter.</span>
            </p>


            <h2 class="govuk-heading-m">Hypothesis - Access to benefits</h2>

            <p>
              <span class="govuk-body govuk-!-font-weight-bold">We believe that:</span>
              <br>
              <span class="govuk-body">there may be a requirement to include content about continued access to benefits in warning letters (but equally users might not need this content as it might be clear by omission)</span>
            </p>

            <p>
              <span class="govuk-body govuk-!-font-weight-bold">To verify that we will:</span>
              <br>
              <span class="govuk-body">take letters into usability testing without this content</span>
            </p>

            <p>
              <span class="govuk-body govuk-!-font-weight-bold">And measure:</span>
              <br>
              <span class="govuk-body">users understanding of the impacts of the letter, specifically:</span>
              <ul class="govuk-list govuk-list--bullet">
                <li>do you think this letter will have an impact on any benefits you receive from DWP?</li>
              </ul>
            </p>

            <p>
              <span class="govuk-body govuk-!-font-weight-bold">We are right if:</span>
              <br>
              <span class="govuk-body">testing participants identify that existing content is needed to clarify access to benefits</span>
            </p>

          </details>

        </form>
      </div>


    </div>
  </main>
</div>
{% endblock %}
