
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="01prepare.html" class="govuk-back-link">Back</a>
<br></br>
<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      What would you like to report?
    </h1>
  </legend>
  <div id="waste-hint" class="govuk-hint">
 Select all that apply.
</div>
<div class="govuk-checkboxes">
 <div class="govuk-checkboxes__item">
   <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
   <label class="govuk-label govuk-checkboxes__label" for="waste">
     Harassment (also rude gestures / passive-aggressive behaviour...)
   </label>

 </div>
 <div class="govuk-checkboxes__item">
   <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
   <label class="govuk-label govuk-checkboxes__label" for="waste-2">
     Verbal abuse / threats
   </label>
 </div>
 <div class="govuk-checkboxes__item">
   <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
   <label class="govuk-label govuk-checkboxes__label" for="waste-3">
     Written abuse / threats
   </label>
 </div>
 <div class="govuk-checkboxes">
   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
     <label class="govuk-label govuk-checkboxes__label" for="waste">
       Physical violence (attempted or actual / damage to property)
     </label>
   </div>
   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
     <label class="govuk-label govuk-checkboxes__label" for="waste-2">
      Intent to do harm (i.e. customer carrying a weapon / customer express his intent to harm on social media)
     </label>
   </div>
   <hr>
   <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
         <label class="govuk-label govuk-checkboxes__label" for="waste-3">
           I am reporting somebody else related to this citizen (Family member, carer, friend...)
         </label>
       </div>

</div>



  <br></br>
    <a href="02when.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Continue
      </a>




{% endblock %}
