
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="#" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
          </span>
        </span>
      </a>
    </div>
    <div class="govuk-header__content">
      <a href="../../../index.html" class="govuk-header__link govuk-header__link--service-name">
        Agent Safeguarding
      </a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="acting_managerv1">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<a href="../../index.html" class="govuk-back-link">Back</a>
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#radio">Select yes if someone else acted as your manager at the time of the incident</a>
      </li>
      <li>
        <a href="#fullname">Enter their first name</a>
      </li>
      <li>
        <a href="#lastname">Enter their last name</a>
      </li>
      <li>
        <a href="#email">Enter their email address, in the format name@example.com</a>
      </li>
    </ul>
  </div>
</div>

<div class="govuk-form-group govuk-form-group--error">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Did someone else act as your manager at the time of the incident?
      </h1>
    </legend>
    <div id="contact-hint" class="govuk-hint">
      Select one option.
    </div>
    <span id="radio" class="govuk-error-message">
   <span class="govuk-visually-hidden">Error:</span> Select yes if someone else acted as your manager at the time of the incident
 </span>
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
        No
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
        Yes, someone else acted as my manager at the time of the incident
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden " id="conditional-contact-2">
        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label" for="full-name">
            Their first name
          </label>
          <span id="passport-issued-error" class="govuk-error-message">
         <span class="govuk-visually-hidden">Error:</span> Enter their first name
       </span>
          <input class="govuk-input govuk-!-width-one-third govuk-input--error" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name">
        </div>
        <div class="govuk-form-group">
      <label class="govuk-label" for="email">
        Their last name
      </label>
      <span id="passport-issued-error" class="govuk-error-message">
         <span class="govuk-visually-hidden">Error:</span> Enter their last name
       </span>
      <input class="govuk-input govuk-!-width-one-third govuk-input--error" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
      </div>
        <div class="govuk-form-group">
      <label class="govuk-label" for="email">
        Their email address
      </label>
      <div id="email-hint" class="govuk-hint">
        Enter their email address as it appears on the Global Address List
      </div>
      <span id="passport-issued-error" class="govuk-error-message">
         <span class="govuk-visually-hidden">Error:</span> Enter their email address, in the format name@example.com
       </span>
      <input class="govuk-input govuk-!-width-one-third govuk-input--error" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
      </div>

    </div>
  </fieldset>
</div>


<a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Continue
  </a>


  <br></br>




{% endblock %}
