
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div>
  <a href="01yourdetails.html" class="govuk-back-link">Back</a>
  <br></br>
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Your line manager's contact
          </h1>
        </legend>
    </fieldset>
    <label class="govuk-label" for="full-name">
      Your manager’s email
    </label>
    <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name">
    <br></br>
    <label class="govuk-label" for="full-name">
      Your manager’s telephone number
    </label>
    <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name">
    <br></br>
      <br></br>
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Optional - Contact of manager that was present on the day of the incident
        </h1>
      </legend>
  </fieldset>
  <label class="govuk-label" for="full-name">
    Manager’s email
  </label>
  <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name">
  <br></br>
  <label class="govuk-label" for="full-name">
    Manager’s telephone number
  </label>
  <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name">
  <br></br>
  <br></br>
    <a href="/02jobrole.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Continue
      </a>


</div>


{% endblock %}
