
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-form-group">
    <a href="08brief.html" class="govuk-back-link">Back</a>
    <br></br>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Did anyone witness the incident?
          </h1>
        </legend>
        <div id="changed-name-hint" class="govuk-hint">
          This does not includes the line manager present on the day.
        </div>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changed-name">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
              No
            </label>
          </div>
        </div>

      </fieldset>
    </div>
  <br></br>

        <a href="/09citizenmandatory.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Continue
          </a>


<br>
<a href="08witnessadd">Add</a>

{% endblock %}
