
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Agent Safeguarding Beta
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">Versions</h2>

  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--turquoise">Active</strong>
          </td>
        </tr>
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Describe the incident: page
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <ul class="govuk-list govuk-list--bullet">

        <li>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--turquoise">Active</strong>
            </td>
          </tr>
          <a href="/beta/breakdown/breakdownv4.html">Breakdown v.3-A - Blue version</a>
          <p class='govuk-body'>New contents from Emma. 7 Questions. Includes validations (Click Feedback survey)</p>
        </li>
        <li>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">A/B test</strong>
            </td>
          </tr>
          <a href="/beta/breakdown/breakdownv5.html">Breakdown v.2-B - Red version</a>
          <p class='govuk-body'>New contents from Emma.</p>
        </li>
        <li>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Closed</strong>
            </td>
          </tr>
          <a href="/beta/breakdown/breakdownv3.html">Breakdown v.2-A - Blue version</a>
          <p class='govuk-body'>UX draft. Can we reduce the number of questions? Eliminate questions that where causing duplications. Down to 5 questions.</p>
        </li>
        <li>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Closed</strong>
            </td>
          </tr>
          <a href="/beta/breakdown/breakdownv2.html">Breakdown v.1-B - Red version</a>
          <p class='govuk-body'>1 textarea and a checklist. <br> Average time to complete: 8 minutes</p>
        </li>
        <li>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Closed</strong>
            </td>
          </tr>
          <a href="/beta/breakdown/breakdown.html">Breakdown v.1-A - Blue version</a>
          <p class='govuk-body'>9 Questions. This is the version after Alpha. <br> Average time to complete: 12 minutes</p>
        </li>
        </ul>
    </div>
  </div>

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--turquoise">Active</strong>
          </td>
        </tr>
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Date and time: page
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">A/B test</strong>
            </td>
          </tr>
          <a href="/beta/datetime/datetimev2.html">Date and time v.1-B - Contents</a>
          <p class='govuk-body'>This is the version with guidances around estimating the time of the incident.</p>
        </li>
        <li>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--turquoise">Active</strong>
            </td>
          </tr>
          <a href="/beta/datetime/datetimev1.html">Date and time v.1-A - Simple</a>
          <p class='govuk-body'>This is the simple version with no guidance. Assumption: Agent are going to intuitively try to guess the best time for the report.</p>
        </li>
        </ul>
    </div>
  </div>

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">In progress</strong>
          </td>
        </tr>
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Check customer ID: page
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">

      <ul class="govuk-list govuk-list--bullet">

              <li>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                  </td>
                </tr>
                <a href="/beta/checkID/checkIDv2.html">Check ID v2 - Check from Searchlight <br>(Dependet from Searchlight work)</a>
                </li>
                <li>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--turquoise">Active</strong>
                    </td>
                  </tr>
                  <a href="/beta/checkID/checkIDv1.html">Check ID v1 - Simple</a>
                </li>
      </ul>
  </div>
</div>

<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--blue">In progress</strong>
        </td>
      </tr>
      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Incident types: page
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">In progress</strong>
          </td>
        </tr>
        <a href="/beta/types/typev3-4.html">Incident types v3.4 - Written</a>
        <p class='govuk-body'>4 versions, based on the interaction type.</p>
      </li>
      <li>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">In progress</strong>
          </td>
        </tr>
        <a href="/beta/types/typev3-3.html">Incident types v3.3 - Telephone</a>
        <p class='govuk-body'>4 versions, based on the interaction type.</p>
      </li>
      <li>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">In progress</strong>
          </td>
        </tr>
        <a href="/beta/types/typev3-2.html">Incident types v3.2 - Video call</a>
        <p class='govuk-body'>4 versions, based on the interaction type.</p>
      </li>
      <li>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">In progress</strong>
          </td>
        </tr>
        <a href="/beta/types/typev3-1.html">Incident types v3.1 - In person</a>
        <p class='govuk-body'>4 versions, based on the interaction type.</p>
      </li>
      <li>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">In progress</strong>
          </td>
        </tr>
        <a href="/beta/types/typev2.html">Incident types v2 - No interaction type dependencies</a>
        <p class='govuk-body'>1 list with all the interaction types</p>
      </li>
      <li>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">Closed</strong>
          </td>
        </tr>
        <a href="/beta/types/typev1.html">Incident types v1 - Alpha</a>
        <p class='govuk-body'>Version at the end of Alpha</p>
      </li>



      </ul>
  </div>
</div>

<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--blue">In progress</strong>
        </td>
      </tr>
      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Success page: page
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">In progress</strong>
          </td>
        </tr>
        <a href="/beta/success/successv2.html">Success page v2 - Next steps</a>
        <p class='govuk-body'>Change in contents after analysis</p>
      </li>
      <li>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--turquoise">Active</strong>
          </td>
        </tr>
        <a href="/beta/success/successv1.html">Success page v1 - Lorem ipsum</a>
        <p class='govuk-body'>Placeholder version waiting for analysis of next steps</p>
      </li>
      </ul>
  </div>
</div>
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--blue">In progress</strong>
        </td>
      </tr>
      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Interaction type: page
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">A/B Test</strong>
          </td>
        </tr>
        <a href="/beta/interaction/interactionv2.html">Interaction type v2</a>
        <p class='govuk-body'>We added "other" option on this version</p>
      </li>
      <li>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">In progress</strong>
          </td>
        </tr>
        <a href="/beta/interaction/interactionv1.html">Interaction type v1</a>
        <p class='govuk-body'>Simple version with 4 interaction</p>
      </li>
      </ul>
  </div>
</div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">In progress</strong>
          </td>
        </tr>
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
        Incident report: journey
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <ul class="govuk-list govuk-list--bullet">
            <li>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                </td>
              </tr>
              <a href="/beta/report_incident/reportv3/00report.html">Report incident v.3 (aka: Richard's version)</a>
              <p>Focus for this sprint: going to be updated with ACTIVE pages by the end of the sprint</p>
              </li>
              <li>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--red">Closed</strong>
                  </td>
                </tr>
                <a href="/beta/report_incident/reportv2/00report.html">Report incident v.2</a>
                <p>Dummy ID check page, Date and time with guidances and describe the incident version B checklist</p>
                </li>
              <li>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--red">Closed</strong>
                  </td>
                </tr>
                <a href="/beta/report_incident/reportv1/00report.html">Report incident v.1</a>
                <p>Version after alpha</p>
                </li>
          </ul>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Leave Recommendations: journey
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">

      <ul class="govuk-list govuk-list--bullet">
            <li>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                </td>
              </tr>
              <a href="/beta/linemanager/00report.html">Line manager v.1</a>
            </li>
      </ul>
    </div>
  </div>



  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Letter generator
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/beta/lettergeneratorV1/start.html">Letter generator v.1</a>
            </li>
      </ul>
    </div>
  </div>

</div>

    </div>
  </div>

{% endblock %}
