
{% extends "layout.html" %}

{% block pageTitle %}
Prototype index - Keep Customer Interactions Safe
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">Prototype index</h1>

		<div class="govuk-!-padding-bottom-7 govuk-!-padding-top-7">
			<h2 class="govuk-heading-l">Report incident or concern</h2>
			<hr>
			<h3 class="govuk-heading-s">Jira dashboards</h3>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="https://dwpdigital.atlassian.net/jira/dashboards/24321">Common reporting (Establish report type, Upload Digital Files)</a></li>
				<li><a href="https://dwpdigital.atlassian.net/jira/dashboards/24258">Report incident</a></li>
				<li><a href="https://dwpdigital.atlassian.net/jira/dashboards/24259">Report agent safety concern</a></li>
			</ul>
			<hr>
			<h3 class="govuk-heading-s"><strong class="govuk-tag govuk-tag--blue">UCD - In progress</strong></h3>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/report_incident/reportv10/01report">Report incident or concern v10</a></li>

			</ul>
			<h3 class="govuk-heading-s"><strong class="govuk-tag govuk-tag--green">Development</strong></h3>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/report_incident/reportv9/01report">Report incident or concern v9</a></li>
			</ul>
			<hr>

			<h3 class="govuk-heading-s">Archive</h3>
			{% set oldjourneysHTML %}
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="#">Title</a></li>
			</ul>
			{% endset %}
			{{ govukDetails({
			summaryText: "Old journeys",
			html: oldjourneysHTML
			}) }}
			{% set oldpagesHTML %}
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="#">Title</a></li>
			</ul>
			{% endset %}
			{{ govukDetails({
			summaryText: "Old pages",
			html: oldpagesHTML
			}) }}
			<hr>
		</div>


		<div class="govuk-!-padding-bottom-7 govuk-!-padding-top-7">
			<h2 class="govuk-heading-l">Incident manager report</h2>
			<hr>
			<h3 class="govuk-heading-s">Jira dashboards</h3>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="https://dwpdigital.atlassian.net/jira/dashboards/24321">Common reporting (View and select)</a></li>
				<li><a href="https://dwpdigital.atlassian.net/jira/dashboards/24358">Submit incident manager report</a></li>
				<li><a href="https://dwpdigital.atlassian.net/jira/dashboards/24368">Manage witnesses</a></li>
			</ul>
			<hr>
			<h3 class="govuk-heading-s"><strong class="govuk-tag govuk-tag--blue">UCD - In progress</strong></<h3></h3>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/incident_manager_journey/v3/02incident_simple">Incident manager report v3</a></li>
				<li><a href="/beta/emails/incidentmanager/v1/01request.html">Incident manager email: initial request v1</a></li>
				<li><a href="/beta/emails/incidentmanager/v1/02confirmation.html">Incident manager email: confirmation v1</a></li>

				<li><a href="/beta/emails/linemanager/v1/01instruction.html">Line manager email: instructions v1</a></li>
				</ul>
			<h3 class="govuk-heading-s"><strong class="govuk-tag govuk-tag--green">Development</strong></h3>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/incident_manager_journey/v2/02incident">Incident manager report v2</a></li>
			</ul>
			<hr>

			<h3 class="govuk-heading-s">Archive</h3>
			{% set oldjourneysHTML %}
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="#">Title</a></li>
			</ul>
			{% endset %}
			{{ govukDetails({
			summaryText: "Old journeys",
			html: oldjourneysHTML
			}) }}
			{% set oldpagesHTML %}
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="#">Title</a></li>
			</ul>
			{% endset %}
			{{ govukDetails({
			summaryText: "Old pages",
			html: oldpagesHTML
			}) }}
			<hr>
		</div>




		<div class="govuk-!-padding-bottom-7 govuk-!-padding-top-7">
			<h2 class="govuk-heading-l">Witness report</h2>
			<hr>
			<h3 class="govuk-heading-s">Jira dashboards</h3>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="https://dwpdigital.atlassian.net/jira/dashboards/24321">Common reporting (View and select)</a></li>
				<li><a href="https://dwpdigital.atlassian.net/jira/dashboards/24358">Witness report</a></li>
			</ul>
			<hr>
			<h3 class="govuk-heading-s"><strong class="govuk-tag govuk-tag--blue">UCD - In progress</strong></h3>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/witness/witnessv4/01details_simple">Witness report v4</a></li>
				<li><a href="/beta/emails/witness/v1/01initial-request.html">Witness email: initial request v1</a></li>
						<li><a href="/beta/emails/witness/v1/02delete-witness.html">Witness email: witness deleted v1</a></li>
								<li><a href="/beta/emails/witness/v1/03reminder.html">Witness email: reminder v1</a></li>
										<li><a href="/beta/emails/witness/v1/04confirmation.html">Witness email: confirmation email v1</a></li>
			</ul>
			<h3 class="govuk-heading-s"><strong class="govuk-tag govuk-tag--green">Development</strong></h3>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/witness/witnessv3a/01details">Witness report v3</a></li>
			</ul>
			<hr>

			<h3 class="govuk-heading-s">Archive</h3>
			{% set oldjourneysHTML %}
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="#">Title</a></li>
			</ul>
			{% endset %}
			{{ govukDetails({
			summaryText: "Old journeys",
			html: oldjourneysHTML
			}) }}
			{% set oldpagesHTML %}
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="#">Title</a></li>
			</ul>
			{% endset %}
			{{ govukDetails({
			summaryText: "Old pages",
			html: oldpagesHTML
			}) }}
			<hr>
		</div>



		<div class="govuk-!-padding-bottom-7 govuk-!-padding-top-7">
			<h2 class="govuk-heading-l">Common reporting</h3>
			<p>Only pages that do not appear on the prototype as part of another journey will appear here.</p>
			<p class="govuk-body-s">("Establish report type" and "Upload digital files" are in the Incident/Concern journey)</p>
			<hr>
			<h3 class="govuk-heading-s">Jira dashboards</h3>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="https://dwpdigital.atlassian.net/jira/dashboards/24321">Common reporting (View and select)</a></li>
			</ul>
			<hr>
			<h3 class="govuk-heading-s"><strong class="govuk-tag govuk-tag--blue">UCD - In progress</strong></h4>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/landing/v2/00searchlight">Landing v2</a></li>
			</ul>
			<h3 class="govuk-heading-s"><strong class="govuk-tag govuk-tag--green">Development</strong></h4>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/landing/v1/00searchlight">Landing v1</a></li>
			</ul>
			<hr>

			<h3 class="govuk-heading-s">Archive</h3>
			{% set oldjourneysHTML %}
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="#">Title</a></li>
			</ul>
			{% endset %}
			{{ govukDetails({
			summaryText: "Old journeys",
			html: oldjourneysHTML
			}) }}
			{% set oldpagesHTML %}
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="#">Title</a></li>
			</ul>
			{% endset %}
			{{ govukDetails({
			summaryText: "Old pages",
			html: oldpagesHTML
			}) }}
			<hr>
		</div>








		<div class="govuk-!-padding-bottom-7 govuk-!-padding-top-7">
			<h2 class="govuk-heading-l">Private Beta admin</h3>

			<hr>
			<h3 class="govuk-heading-s"><strong class="govuk-tag govuk-tag--blue">UCD - In progress</strong></h4>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/private_admin/v5/00list.html">Private Beta Admin journey - v5</a></li>
			</ul>
			<p class='govuk-body'>Add in the incident manager report</p>
			<h3 class="govuk-heading-s"><strong class="govuk-tag govuk-tag--green">Development</strong></h4>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/private_admin/v4/01list.html">Private Beta Admin journey - v4</a></li>
			</ul>
			<hr>

			<h3 class="govuk-heading-s">Archive</h3>
			{% set oldjourneysHTML %}
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="#">Title</a></li>
			</ul>
			{% endset %}
			{{ govukDetails({
			summaryText: "Old journeys",
			html: oldjourneysHTML
			}) }}
			{% set oldpagesHTML %}
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="#">Title</a></li>
			</ul>
			{% endset %}
			{{ govukDetails({
			summaryText: "Old pages",
			html: oldpagesHTML
			}) }}
			<hr>
		</div>






		<div class="govuk-!-padding-bottom-7 govuk-!-padding-top-7">
			<h2 class="govuk-heading-l">UCD email development</h3>
			<p>These links are repeats from above for ease of writing the first draft.</p>

			<ul class="govuk-list govuk-list--bullet govuk-list--bullet govuk-list--spaced">
				<li>
					<a href="/beta/emails/report-incidentmanager-instruction/v1/">Report incident - Incident manager instruction email v1</a>
					<p class="govuk-body-s"><a href="https://dwpdigital.atlassian.net/browse/CITI-15391">(Discover story 15391)</a></p>
				</li>
				<li>
					<a href="/beta/emails/report-linemanager-instruction/v1/">Report incident - Line manager instruction email v1</a>
					<p class="govuk-body-s"><a href="https://dwpdigital.atlassian.net/browse/CITI-15390">(Discover story 15390)</a></p>
				</li>
				<li>
					<a href="/beta/emails/incidentmanagerreport-confirmation/v1/">Incident manager - submit confirmation email v1</a>
					<p class="govuk-body-s"><a href="https://dwpdigital.atlassian.net/browse/CITI-15413">(Discover story 15413)</a></p>
				</li>
				<li>
					<a href="/beta/emails/incidentmanagerreport-witnessinstruction/v1/">Incident manager - Witness instruction email v1</a>
					<p class="govuk-body-s"><a href="https://dwpdigital.atlassian.net/browse/CITI-15873">(Discover story 15873)</a></p>
					</li>
				<li>
					<a href="/beta/emails/witnessreport-confirmation/v1/">Witness report - confirmation email v1</a>
					<p class="govuk-body-s"><a href="https://dwpdigital.atlassian.net/browse/CITI-16267">(Discover story 16267)</a></p>
					</li>
			</ul>
		</div>



		<div class="govuk-!-padding-bottom-7 govuk-!-padding-top-7">
			<h2 class="govuk-heading-l">User Research and Presentations</h3>

			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/_UR/20221020">UR Thursday 20 October 2022</a> </li>
				<li><a href="/beta/_UR/20221006">UR Thursday 6 October 2022</a> </li>
				<li><a href="/beta/_UR/20220908">UR Thursday 8 September 2022</a> | <a href="/beta/_UR/20220908/journal/journal-abuse">Journal</a></li>
				<li><a href="/beta/_UR/20220714">UR Thursday 14 July 2022</a></li>
				<li><a href="index2.html">Presentation 02 Feb 2022</a></li>
				<li><a href="index3.html">UR Tue 15 Feb 2022 / Wed 16 Feb 2022</a></li>
				<li><a href="index4.html">Content Design presentation 21 march 2022</a></li>
			</ul>
			<hr>

		</div>


	</div>
</div>
{% endblock %}
