
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>

      <p>You can change the service name by editing the file '/app/config.js'.</p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>

        <li>
          <a href="/safeguarding.html">Report an incident</a>
        </li>
        <li>
          <a href="/validation/01yourdetails.html">Validations</a>
        </li>
        <li>
          <a href="/manager/01managerview.html">Line manager view</a>
        </li>
        <li>
          <a href="/witness/00witnessreport.html">Witness report</a>
        </li>
        <li>
          <a href="/witness02/00witnessreport.html">Witness report no Incident ID</a>
        </li>
        <li>
          <a href="/concern/safeguarding.html">Incident or Concern</a>
        </li>
        <li>
          <a href="/quick/safeguarding.html">Quick</a>
        </li>
        <li>
          <a href="/profile/profile.html">User profile page</a>
        </li>
        <li>
          <a href="https://15ztu8.axshare.com">Identify a citizen</a>
        </li>
        <li>
          <a href="/automatic/safeguarding.html">Automatic incident report</a>
        </li>
        <li>
          <a href="/report2/00safeguarding.html">Incident report (version2)</a>
        </li>
        <li>
          <a href="/list/00list.html">Incident List (Witness)</a>
        </li>
        <li>
          <a href="/nominated/00list.html">Decision maker journey</a>
        </li>
        <li>
          <a href="/preparer/preparer.html">Interaction preparer journey</a>
        </li>
        <li>
          <a href="/report3/00safeguarding.html">Incident report (version3)</a>
        </li>
        <li>
          <a href="/preparer/preparer.html">TEST 1 - Work Coaches</a>
        </li>
        <li>
          <a href="/nominated/00list.html">TEST 2 - Nominated manager</a>
        </li>
        <li>
          <a href="/report4/00safeguarding.html">TEST 1 - Dashboard</a>
        </li>
        <li>
          <a href="/scale/00safeguarding.html">TEST 2 - Scale</a>
        </li>
          <li>
            <a href="/witness03/00list.html">TEST 1 - Witness report</a>
          </li>
          <li>
            <a href="/linemanager/00list.html">TEST 1 - Line manager recommendations</a>
          </li>

          <li>
            <a href="/concern2/04who.html">TEST 1 - Prepare for interaction with Robert</a>
          </li>
          <hr>
          <h2>End to end journey / 21-04-21</h2>
          <li>
            <a href="/endtoend/01preparing/04who.html">TEST 1 - Prepare for interaction - face to face</a>
          </li>
          <li>
            <a href="/endtoend/02incident/04who.html">TEST2- Prepare for interaction - telephone</a>
          </li>
          <li>
            <a href="/endtoend/03witness/00list.html">TEST 3 - Witness</a>
          </li>
          <li>
            <a href="/endtoend/04linemanager/00list">TEST 4 ALPHA - Line Manager</a>
          </li>
          <li>
            <a href="/endtoend/04linemanager2/00list">TEST 4 BETA - Line Manager</a>
          </li>
          <li>
            <a href="/endtoend/05nominated/00list.html">TEST 5 ALPHA - Nominated manager</a>
          </li>
          <li>
            <a href="/endtoend/05nominated2/00list.html">TEST 5 BETA - Nominated manager</a>
          </li>
          <hr>
          <h2>End to end journey / 28-04-21</h2>
          <li>
            <a href="/endtoend2/01preparing/04who.html">TEST 1 - Prepare for interaction - face to face</a>
          </li>
          <li>
            <a href="/endtoend2/02incident/04who.html">TEST2- Prepare for interaction - telephone</a>
          </li>
          <li>
            <a href="/endtoend2/03witness/00list.html">TEST 3 - Witness</a>
          </li>
          <li>
            <a href="/endtoend2/04linemanager/00list">TEST 4 ALPHA - Line Manager</a>
          </li>
          <li>
            <a href="/endtoend2/04linemanager2/00list">TEST 4 BETA - Line Manager</a>
          </li>
          <li>
            <a href="/endtoend2/05nominated/00list.html">TEST 5 ALPHA - Nominated manager</a>
          </li>
          <li>
            <a href="/endtoend2/05nominated2/00list.html">TEST 5 BETA - Nominated manager</a>
          </li>

            <li>
              <a href="/solicitor/00list.html">Solicitor</a>
            </li>

            <hr>

            <li>
              <a href="/GDS/index.html">GDS Assessment</a>
            </li>
      </ul>
    </div>
  </div>

{% endblock %}
