{% extends "layout.html" %}
{% block pageTitle %}
    Start of journey
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
    <h1 class="govuk-heading-xl">Research</h1>
    <p class="govuk-body">1 December 2022</p>
    <div class="govuk-!-padding-bottom-7">
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <p>
                    <a href="/beta/_UR/20221201/manager/00email">Reviewing managers</a>
                </p>
            </li>
            <li>
                <p>
                    <a href="/beta/_UR/20221201/witness/00email">Witnesses</a>
                </p>
            </li>
        </ul>
    </div>

</p>{% endblock %}