{% extends "layout_witness_landing.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}

{% block pageTitle %}
Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
<section aria-label="Beta banner" role="region">

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
</section>
<section aria-label="Back" role="region">

{{ govukBackLink({
text: "Back to Searchlight",
href: "/"
}) }}
</section>
{% endblock %}

{% block content %}


<h1 class="govuk-heading-xl" id="page-title">Your reports</h1>
<h2 class="govuk-heading-l">Actions for you</h1>

<div class="govuk-!-padding-bottom-7">
  {{ govukTable({
    firstCellIsHeader: true,

    head: [
      {
        text: "Reference"
      },
      {
        text: "Customer"
      },
      {
        text: "Incident reporter"
      },
      {
        text: "Witness"
      },
      {
        text: "Date of incident"
      },
      {
        text: "Action"
      }
    ],
    rows: [
          [
        {
          text: "WIT-000-888-511"
        },
        {
          text: "Philip Da Silva"
        },
        {
          text: "Whitney Earl"
        },
        {
          text: "Me"
        },
        {
          text: "8 June 2022 at 1:12pm "
        },
        {
          html: "<a href='01details'>Make witness report</a>"
        }
      ],
      [
        {
          text: "WIT-000-888-511"
        },
        {
          text: "Philip Da Silva"
        },
        {
          text: "Whitney Earl on behalf of Mike Black"
        },
        {
          text: "Me on behalf of Ted Lady"
        },
        {
          text: "8 June 2022 at 1:12pm "
        },
        {
          html: "<a href='01details'>Make witness report</a>"
        }
      ]
    ]
  }) }}
</div>
<h2 class="govuk-heading-l">Other actions</h1>

{{ govukTable({

  firstCellIsHeader: true,
  head: [
    {
      text: "Reference"
    },
    {
      text: "Customer"
    },
    {
      text: "Incident Reporter"
    },
    {
      text: "Witness"
    },
    {
      text: "Date of incident"
    },
    {
      text: "Action"
    }
  ],
  rows: [

            [
      {
        text: "WIT-000-000-002"
      },
      {
        text: "Philip Da Silva"
      },
      {
        text: "Whitney Earl"
      },
      {
        text: "Me for Isla Yellow"
      },
      {
        text: "2 June 2022 at 3:09pm"
      },
      {
        html: "<a href='02witnessreport'>View</a>"
      }
    ]
  ]
}) }}
 
{% endblock %}
