{% extends "layout_incident_landing.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}
{% block pageTitle %}
Witnesses - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Beta banner" role="region">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
{% include "templates/v6/govuk-caption-m-simple.njk" %}
<section aria-label="Incident witnesses" role="region">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Witnesses</h1>
      <p class="govuk-body ">There are currently no colleagues that have been asked to make a witness report for this incident.</p>
      <ol class="govuk-list govuk-list--number">
        <li>Talk to the original reporter and make a list of witnesses</li>
        <li>For each colleague Add a witness using this system</li>
        <li>Ensure each submits a witness report before you submit your report</li>
      </ol>
    </div>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Add a witness",
          classes: "govuk-button--secondary",
          href: "04add_witness"
        }) }}
        {{ govukButton({
          text: "Continue",
          href: "#"
        }) }}
      </div>
    </fieldset>
  </div>
</section>

{% endblock %}
