{% extends "layout.html" %}
{% block pageTitle %}
    Start of journey
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
    <h1 class="govuk-heading-xl">Research</h1>
    <p class="govuk-body">20 October 2022</p>
    <div class="govuk-!-padding-bottom-7">
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <p>
                    <a href="/beta/_UR/20221020/02incident">Incident details and file download</a> (links to pages below)
                </p>
            </li>
        </ul>
    </div>
    <div class="govuk-!-padding-bottom-7">
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <p>
                    <a href="/beta/_UR/20221020/03witnessdisplay-1nowitnesses">Witness list - No Witnesses indicated by reporter, no witness requests made</a>
                </p>
            </li>
            <li>
                <p>
                    <a href="/beta/_UR/20221020/03witnessdisplay-2yeswitnesses">Witness list - Witnesses indicated by reporter, no witness requests made</a>
                </p>
            </li>
            <li>
                <p>
                    <a href="/beta/_UR/20221020/03witnessdisplay-3list">Witness list - Witness requests made</a>
                </p>
            </li>
        </ul>
    </div>
    <div class="govuk-!-padding-bottom-7">
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <p>
                    <a href="/beta/_UR/20221020/04add_witness">Add witness</a>
                </p>
            </li>
        </ul>
    </div>
</p>{% endblock %}