
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Incident HDJ2123F</h1>

        <h2 class="govuk-heading-m">Incident details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of the incident
              </dt>
              <dd class="govuk-summary-list__value">
                11 December 2020
              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Time of the incident
                </dt>
                <dd class="govuk-summary-list__value">
                  09:30
                </dd>
                <dd class="govuk-summary-list__actions">

                </dd>
              </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of incident
            </dt>
            <dd class="govuk-summary-list__value">
              Face to face
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location
            </dt>
            <dd class="govuk-summary-list__value">
              Battersea Jobcentre<br>72 Guild Street<br>London<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Issues
            </dt>
            <dd class="govuk-summary-list__value">
              Verbal abuse<br>Threats / Intimidation / Harassment
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Details
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
        </dl>
        <button class="govuk-button" data-module="govuk-button">
          Add comments
        </button>


        <h2 class="govuk-heading-m">Reporter</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Whitney Grey
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Business Area
            </dt>
            <dd class="govuk-summary-list__value">
              AC - Assessment Centre
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job role
            </dt>
            <dd class="govuk-summary-list__value">
              Work coach
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">07700 900457</p>
              <a href="mailto:joe@example.com?subject=feedback">whitney.grey@dwp.gov.uk</a>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
        </dl>
        <button class="govuk-button" data-module="govuk-button">
          Add comments
        </button>


        <h2 class="govuk-heading-m">Citizen</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Robert Silva De Luca
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Control measures
            </dt>
            <dd class="govuk-summary-list__value">
              None
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              History of incidents
            </dt>
            <dd class="govuk-summary-list__value">
              None
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home Address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>London<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">07700 900457</p>
              <a href="mailto:joe@example.com?subject=feedback">robertdesilva2@gmail.com</a>
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>

        </dl>

        <h2 class="govuk-heading-m">Witnesses</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              No witnesses for this incident
            </dt>

        </dl>

        <h2 class="govuk-heading-m">Line Manager recommendation</h2>

        <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Add recommendation
          </button>

        </form>

      </div>
      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
           Quick links
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="#">
                Incident
                </a>
              </li>
              <li>
                <a class="govuk-link" href="#">
                Reporter
                </a>
              </li>
              <li>
                <a class="govuk-link" href="#">
                Citizen
                </a>
              </li>
              <li>
                <a class="govuk-link" href="#">
                Witnesses
                </a>
              </li>
            </ul>
          </nav>
        </aside>
      </div>
    </div>
  </main>
</div>






{% endblock %}
