
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<img src="/public/images/alert.png" alt="Reviewed" width="100%">
<img src="/public/images/menu.png" alt="Reviewed" width="100%">

<p style="font-size:120%;"><strong>History</strong></p>

  <img src="/public/images/card_incidentTWO.png" alt="Reviewed"> &nbsp;<img src="/public/images/card_controlZERO.png" alt="Reviewed"> &nbsp;  <img src="/public/images/card_response.png" alt="Reviewed">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all"><div class="app-step-nav__controls"><button aria-expanded="false" class="app-step-nav__button app-step-nav__button--controls js-step-controls-button" aria-controls="step-panel-check-youre-allowed-to-drive-1">Show all</button></div>
      <ol class="app-step-nav__steps">


        <li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">5 January 2020</span> 4
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-driving-lessons-and-practice-3"><span class="js-step-title-text">
                  <img src="/public/images/icon_response.png" alt="Reviewed"> &nbsp;5 January 2020
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Warning letter (Second)</span></button></span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
            <p class="app-step-nav__paragraph">You need a provisional driving licence to take lessons or practice.</p>

            <ol class="app-step-nav__list " data-length="4">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">The Highway Code </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.2" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Taking driving lessons </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.3" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Find driving schools, lessons and instructors </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.4" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Practise vehicle safety questions </a>
              </li>
            </ol>
          </div>

        </li>



        <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
          <div class="app-step-nav__header js-toggle-panel" data-position="5">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">4 January 2020</span> 3
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-book-and-manage-your-theory-test-5"><span class="js-step-title-text">
                  <img src="/public/images/icon_incident.png" alt="Reviewed"> &nbsp;4 January 2020
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Written threats - Universal Credit Journal</span></button></span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-theory-test-5">
            <p class="app-step-nav__paragraph">You need a provisional driving licence to book your theory test.</p>

            <ol class="app-step-nav__list " data-length="5">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Book your theory test <span class="app-step-nav__context">£23</span></a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.2" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">What to take to your test </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.3" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Change your theory test appointment </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.4" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Check your theory test appointment details </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.5" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Cancel your theory test </a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test">
          <div class="app-step-nav__header js-toggle-panel" data-position="6">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 2
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-book-and-manage-your-driving-test-6"><span class="js-step-title-text">
                 <img src="/public/images/icon_response.png" alt="Reviewed"> &nbsp;21 December 2019
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Warning letter (First)</span></button></span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-driving-test-6">
            <p class="app-step-nav__paragraph">You must pass your theory test before you can book your driving test.</p>

            <ol class="app-step-nav__list " data-length="5">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="6.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Book your driving test <span class="app-step-nav__context">£62 to £75</span></a>

              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="6.2" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">What to take to your test </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="6.3" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Change your driving test appointment </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="6.4" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Check your driving test appointment details </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="6.5" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Cancel your driving test </a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="when-you-pass">
          <div class="app-step-nav__header js-toggle-panel" data-position="7">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 1
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-when-you-pass-7"><span class="js-step-title-text">
               <img src="/public/images/icon_incident.png" alt="Reviewed"> &nbsp;21 December 2019
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Telephone - Abuse</span></button></span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-when-you-pass-7">
            <p class="app-step-nav__paragraph">You can start driving as soon as you pass your driving test.</p>

            <p class="app-step-nav__paragraph">You must have an insurance policy that allows you to drive without supervision.</p>

            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="7.1" class="app-step-nav__link js-link" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation#">Find out about Pass Plus training courses </a>
              </li>
            </ol>
          </div>

        </li>
      </ol>
    </div>

  </div>
</div>
<br></br>
  <a href="/report3/00safeguarding.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    Report an incident
    </a>





{% endblock %}
